
<div class="row">
    <div class="col-12 col-md-12" *blockUI="'componentsNominas'; message: 'Loading'">
        <div class="card min-height-8">
            <div class="card-content ">
                <div class="table-responsive min-height-8" fxFlex="auto">
                    <table class="table table-striped border_bottom table-hover">
                        <thead>
                        <tr>
                            <!--<th scope="col" class="border-top-0"></th>-->
                            <th scope="col" class="border-top-0">N°</th>
                            <th scope="col" class="border-top-0">DNI</th>
                            <th scope="col" class="border-top-0">Trabajador</th>
                            <th *ngIf="nomina === 'true'" scope="col" class="border-top-0">Sueldo</th>
                            <th *ngIf="tipoFiltroGeneral === '0'" scope="col" class="border-top-0">Total Feriado/Festivos</th>
                            <!-- <th scope="col" class="border-top-0">Imp.Embargo</th> -->
                            <!-- <th scope="col" class="border-top-0">Imp.IRPF</th> -->
                            <!-- <th scope="col" class="border-top-0">Total</th> -->
                            <th *ngIf="nomina === 'false'" scope="col" class="border-top-0">Seg.Social</th>
                            <th scope="col" class="border-top-0">Modificado</th>
                            <th scope="col" class="border-top-0">Editado Por</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr class="text-truncate pointer" *ngFor="let row of rowsFiltered; let i = index" >
                                <!--<td class="text-truncate pointer">
                                    <span class="custom-control custom-checkbox" >
                                        <input type="checkbox" class="custom-control-input" id="select{{i}}" value="{{row.id}}" [checked]="row.selected" (change)="onCheckboxChangeFn(i,!row.selected, $event)"/>
                                        <label class="custom-control-label" for="select{{i}}"></label>
                                    </span>
                                </td>-->
                                <td (click)="addModel(ModalNominasDetail, row)">{{row.id}}</td>
                                <td (click)="addModel(ModalNominasDetail, row)">{{row.dni}}</td>
                                <td (click)="addModel(ModalNominasDetail, row)">{{row.trabajador}}</td>
                                <td *ngIf="nomina === 'true'" (click)="addModel(ModalNominasDetail, row)">{{row.totalBruto}}</td>
                                <td *ngIf="tipoFiltroGeneral === '0'" (click)="addModel(ModalNominasDetail, row)">{{row.totalFeriadosFestivos}}</td>
                                <!-- <td (click)="addModel(ModalNominasDetail, row)">{{row.embargo}}</td> -->
                                <!-- <td (click)="addModel(ModalNominasDetail, row)">{{row.irpf}}</td> -->
                                <!-- <td (click)="addModel(ModalNominasDetail, row)">{{row.total}}</td> -->
                                <td *ngIf="nomina === 'false'" (click)="addModel(ModalNominasDetail, row)">{{row.totalSeguridadSocial}}</td>
                                <td (click)="addModel(ModalNominasDetail, row)">{{row.fechaHoraLog}}</td>
                                <td (click)="addModel(ModalNominasDetail, row)">{{row.usuarioLog}}</td>
                            </tr>
                        </tbody>
                        
                    </table>
                    </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div  *ngIf="pagination" class="row col-md-8 justify-content-start pt-1">
                        <!-- Total: {{ pagination.total }} -->                        
                        <!-- <div class="col-12 col-md-4" *ngIf="validTotalEmbargo">
                            <span style="color: yellow;">Total Embargo: {{ totalEmbargo }}€</span> 
                        </div>
                        <div class="col-12 col-md-4" *ngIf="validTotalIrpf">
                            <span style="color: yellow;">Total Irpf: {{ totalIrpf }}€</span> 
                        </div>
                        <div class="col-12 col-md-4" *ngIf="validTotalTotal">
                            <span style="color: yellow;">Total: {{ totalTotal }}€</span> 
                        </div> -->
                        <div class="col-12 col-md-4" *ngIf="validTotalBruto && nomina === 'true'">
                            <span style="color: yellow;">Sueldo: {{ totalTotalBruto }}€</span> 
                        </div>
                        <div class="col-12 col-md-4" *ngIf="validTotalFeriadosFestivos && nomina === 'true' && tipoFiltroGeneral === '0'">
                            <span style="color: yellow;">Total Feriado/Festivo: {{ totalFeriadosFestivos }}€</span> 
                        </div>
                        <div class="col-12 col-md-4" *ngIf="validTotalSeguridadSocial && nomina === 'false'">
                            <span style="color: yellow;">Total S.Social: {{ totalTotalSeguridadSocial }}€</span> 
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <nav aria-label="Page navigation">
                            <div class="pagination justify-content-end pagination-separate pagination-curved pagination-flat">
                                <select class="custom-select custom-select-pagination" style="width: auto" [(ngModel)]="pagination.per_page" (ngModelChange)="refreshCountries()">
                                    <option [ngValue]="5">Ver 5</option>
                                    <option [ngValue]="10">Ver 10</option>
                                    <option [ngValue]="20">Ver 20</option>
                                    <option [ngValue]="50">Ver 50</option>
                                </select>
                                <ngb-pagination
                                [collectionSize]="pagination.total" 
                                [(page)]="pagination.current_page" 
                                [boundaryLinks]="true" 
                                [maxSize]="1"
                                [pageSize]="pagination.per_page"
                                (pageChange)="pageChanged($event)" aria-label="Default pagination">
                                    <ng-template ngbPaginationFirst><i class="pavyurba-btn-p pavyurba-icon-chevrons-left"></i></ng-template>
                                    <ng-template ngbPaginationLast><i class="pavyurba-btn-p pavyurba-icon-chevrons-right"></i></ng-template>
                                    <ng-template ngbPaginationPrevious><i class="pavyurba-btn-p pavyurba-icon-chevron-left"></i></ng-template>
                                    <ng-template ngbPaginationNext><i class="pavyurba-btn-p pavyurba-icon-chevron-right"></i></ng-template>
                                    <ng-template ngbPaginationEllipsis>...</ng-template>
                                    <ng-template ngbPaginationNumber let-page class="round">{{ page }}</ng-template>
                                </ngb-pagination>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            
<!-- Modal -->
<ng-template class="modal text-left" #ModalNominasDetail let-c="close" let-d="dismiss">
    <div class="modal-{{ size }}">
        <div class="modal-header">
            <h3 id="myModalLabel23">{{titelModal}}</h3>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body modal-scroll-y p-0" *ngIf="cargaCompleta" >                    
            <app-nominas-obras-detail 
                *ngIf="cargaCompleta"
                [idObras]="idObras"
                [titel]="titelModal"
                [idNominaListar]="idNominaListar"
                (closeModal)="onCloseModal($event)">
            </app-nominas-obras-detail>
        </div>
    </div>
</ng-template>
