<form [formGroup]="nominasForm" (ngSubmit)="add()" >
    <div class="form-body">
        <label class="input-title" for="Datos">Datos</label>
        <div class="row recuadro">
            <div class="col-12 col-md-6">
                <label style="font-size: smaller;" *ngIf="edicion">Embargo*</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="number" id="embargo" [ngClass]="{ 'is-invalid': submitted && f.embargo.errors }" class="form-control" placeholder="Embargo*"
                        formControlName="embargo" value={{nominas.embargo}} >
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-embargo"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.embargo.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of nominas_validation_messages.embargo">
                            <div class="error-message" *ngIf="nominasForm.get('embargo').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-12 col-md-6">
                <label style="font-size: smaller;" *ngIf="edicion">IRPF*</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="number" id="irpf" [ngClass]="{ 'is-invalid': submitted && f.irpf.errors }" class="form-control" placeholder="IRPF*"
                        formControlName="irpf" value={{nominas.irpf}} >
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-irpf"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.irpf.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of nominas_validation_messages.irpf">
                            <div class="error-message" *ngIf="nominasForm.get('irpf').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-12 col-md-12">
                <label style="font-size: smaller;" *ngIf="edicion">Sueldo*</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="number" id="totalBruto" [ngClass]="{ 'is-invalid': submitted && f.totalBruto.errors }" class="form-control" placeholder="Sueldo*"
                        formControlName="totalBruto" value={{nominas.totalBruto}} >
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-total-bruto"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.totalBruto.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of nominas_validation_messages.totalBruto">
                            <div class="error-message" *ngIf="nominasForm.get('totalBruto').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-12 col-md-6">
                <label style="font-size: smaller;" *ngIf="edicion">Seguridad Social*</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="number" id="totalSeguridadSocial" [ngClass]="{ 'is-invalid': submitted && f.totalSeguridadSocial.errors }" class="form-control" placeholder="Seguridad Social*"
                        formControlName="totalSeguridadSocial" value={{nominas.totalSeguridadSocial}}>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-seguridad-social"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.totalSeguridadSocial.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of nominas_validation_messages.totalSeguridadSocial">
                            <div class="error-message" *ngIf="nominasForm.get('totalSeguridadSocial').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-md-6">
                <label style="font-size: smaller;" *ngIf="edicion">Total</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="number" id="total" [ngClass]="{ 'is-invalid': submitted && f.total.errors }" class="form-control" placeholder="Total"
                        formControlName="total" value={{nominas.total}} >
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-total"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.total.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of nominas_validation_messages.total">
                            <div class="error-message" *ngIf="nominasForm.get('total').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
        </div>
    </div>
    <div class="modal-footer">   
        <button type="button" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize" (click)="closeModal.emit(true)">
            <i class="pavyurba-icon pavyurba-icon-cancel" ></i>&nbsp; Cancelar
        </button>
        <button type="submit" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize">
            <i class="pavyurba-icon pavyurba-icon-done-o"></i>&nbsp; Aceptar
        </button>
    </div>
</form>

