
<div  id="sidebar-menu" class="sidebar-menu menu-fixed menu-dark menu-accordion menu-shadow menu-collapsed" data-scroll-to-active="true">
    <div id="sidebar-menu-content" class="sidebar-menu-content ps-container ps-theme-light" fxFlex="auto"
        [perfectScrollbar]="config">
        <ul class="navigation navigation-main" id="sidebar-menu-navigation" data-menu="menu-navigation">
            <!-- Menu -->
        
            <li *ngFor="let child of _menuSettingsConfig.vertical_menu.items" class="" [ngClass]="{
            'active': child.isSelected,
            'hover': child.hover}">                      

                <!-- Root Menu -->
                <a *ngIf="child.title" 
                    (click)="toggleMenu($event, child)">
                    <i class="pavyurba-icon" [ngClass]="child.icon"></i>
                    <span class="menu-title" data-i18n="">{{child.title}}</span>
                    <span *ngIf="child.badge" class="badge badge-pill float-right"
                        [ngClass]="{'badge-info mr-2': child.badge.type=='badge-info' , 'badge-danger':child.badge.type=='badge-danger'}">
                        {{child.badge.value}}
                    </span>
                </a>                                  
            </li>
        </ul>
    </div>
</div>
