#sidebar-menu {
    top: 5.4rem;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed #sidebar-menu.sidebar-menu {
    width: 192px;
}
body.vertical-layout.vertical-menu-modern.menu-expanded .sidebar-menu {
    width: 192px;
}
.sidebar-menu.menu-dark .navigation {
    background: #525456;
}
.sidebar-menu ul.navigation-main, .vertical-overlay-menu.menu-hide .sidebar-menu ul.navigation-main {
    overflow-x: hidden;
}
.sidebar-menu ul, .vertical-overlay-menu.menu-hide .sidebar-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar-menu.menu-dark .navigation > li {
    padding: 0;
    border-bottom: 1px solid #383838;
}
.sidebar-menu.menu-dark .navigation > li > a {
    padding: 6px 30px 6px 18px;
}
.sidebar-menu.menu-dark .navigation li a {
    color: white;
    transition: all 0.2s ease;
}
.sidebar-menu a, .vertical-overlay-menu.menu-hide .sidebar-menu a {
    outline: none;
}
.sidebar-menu.menu-dark, .vertical-overlay-menu.menu-hide .menu-dark.sidebar-menu {
    color: #fff;
    background: #525456;
}
.sidebar-menu, .vertical-overlay-menu.menu-hide .sidebar-menu {
    z-index: 1000;
    position: absolute;
    display: table-cell;
}
body.vertical-layout.vertical-menu-modern .sidebar-menu {
    transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.sidebar-menu.menu-shadow, .vertical-overlay-menu.menu-hide .menu-shadow.sidebar-menu {
    box-shadow: 10px 15px 30px 1px rgb(0 0 0 / 10%);
}
.sidebar-menu.menu-fixed, .vertical-overlay-menu.menu-hide .menu-fixed.sidebar-menu {
    position: initial;
    height: 100%;
    top: 5rem;
    height: 90vh;
}
body.vertical-layout.vertical-menu-modern.menu-expanded .sidebar-menu .navigation > li > a > i {
    margin-right: 12px;
    float: left;
}
body.vertical-layout.vertical-menu-modern .sidebar-menu .navigation > li > a > i {
    font-size: 1.6rem;
}
.sidebar-menu.menu-dark .navigation > li > a i {
    position: relative;
    top: 3px;
}
.sidebar-menu.menu-dark .navigation li a i, .sidebar-menu.menu-dark .navigation li a span {
    transition: all 0.2s ease;
}




body.vertical-layout.vertical-menu-modern.menu-expanded .sidebar-menu .navigation > li > a > i:before {
    font-size: 1.6rem;
}
body.vertical-layout.vertical-menu-modern .sidebar-menu li a span {
    -webkit-animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadein;
    animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadein;
}
.sidebar-menu.menu-dark .navigation li a span {
    display: inline-block;
    padding-top: 0.5rem;
}

.sidebar-menu .sidebar-menu-content, .vertical-overlay-menu.menu-hide .sidebar-menu .sidebar-menu-content {
    height: 100%;
    position: relative;
}
.sidebar-menu.menu-dark .navigation > li.active > a {
    color: white;
    font-weight: 700;
    background: #323334;
}
.sidebar-menu.menu-dark .navigation > li.hover > a, .sidebar-menu.menu-dark .navigation > li:hover > a, .sidebar-menu.menu-dark .navigation > li.active > a {
    color: #e6e6e6;
    background-color: #484a4c;
}