<section id="selection-n-deletion">
    <div class="row">
        <div class="col-12 col-md-12" *blockUI="'componentsLocations'; message: 'Loading'">
            <div class="card min-height-8">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6 col-sm-4 col-md-3 col-lg-3 container-filters-grids">
                            <app-custom-button 
                                [btnName]="'agregar localidad'"
                                [btnType]="'button'"
                                [btnClass]="'btn btn-pavyurba delete-all btn-filters-grid text-capitalize'"
                                [btnIcon]="'pavyurba-icon-add'"
                                (click)="addModel(ModalLocationsDetail, null)">
                            </app-custom-button>
                        </div>
                    </div>
                </div>
                <div class="card-content ">
                    <div class="table-responsive min-height-8" fxFlex="auto">
                        <table class="table table-striped border_bottom table-hover">
                            <thead>
                            <tr>
                                <!--<th scope="col" class="border-top-0"></th>-->
                                <th scope="col" class="border-top-0">Activo</th>
                                <th scope="col" class="border-top-0">N°</th>
                                <th scope="col" class="border-top-0">Provincia</th>
                                <th scope="col" class="border-top-0">Localidad</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr class="text-truncate pointer" *ngFor="let row of rowsFiltered; let i = index" >
                                    <!--<td class="text-truncate pointer">
                                        <span class="custom-control custom-checkbox" >
                                            <input type="checkbox" class="custom-control-input" id="select{{i}}" value="{{row.id}}" [checked]="row.selected" (change)="onCheckboxChangeFn(i,!row.selected, $event)"/>
                                            <label class="custom-control-label" for="select{{i}}"></label>
                                        </span>
                                    </td>-->
                                    <td>
                                        <ui-switch 
                                            class="switchery"
                                            size="small"
                                            color="#9AE26E"
                                            [checked]="row.habilitado"
                                            (change)="onChange($event, row.id)">
                                        </ui-switch>
                                    </td>
                                    <td (click)="addModel(ModalLocationsDetail, row)">{{row.id}}</td>
                                    <td (click)="addModel(ModalLocationsDetail, row)">
                                        <div class="truncate-cell">{{row.provincia}}</div>                                                    
                                    </td>
                                    <td (click)="addModel(ModalLocationsDetail, row)">
                                        <div class="truncate-cell">{{row.localidad}}</div>
                                    </td>
                                </tr>
                            </tbody>
                            
                        </table>
                        </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div  *ngIf="pagination" class="col-md-3 justify-content-start pt-1">
                            <!-- Total: {{ pagination.total }} -->
                        </div>
                        <div class="col-md-9">
                            <nav aria-label="Page navigation">
                                <div class="pagination justify-content-end pagination-separate pagination-curved pagination-flat">
                                    <select class="custom-select custom-select-pagination" style="width: auto" [(ngModel)]="pagination.per_page" (ngModelChange)="refreshCountries()">
                                        <option [ngValue]="5">Ver 5</option>
                                        <option [ngValue]="10">Ver 10</option>
                                        <option [ngValue]="20">Ver 20</option>
                                        <option [ngValue]="50">Ver 50</option>
                                    </select>
                                    <ngb-pagination
                                    [collectionSize]="pagination.total" 
                                    [(page)]="pagination.current_page" 
                                    [boundaryLinks]="true" 
                                    [maxSize]="1"
                                    [pageSize]="pagination.per_page"
                                    (pageChange)="pageChanged($event)" aria-label="Default pagination">
                                        <ng-template ngbPaginationFirst><i class="pavyurba-btn-p pavyurba-icon-chevrons-left"></i></ng-template>
                                        <ng-template ngbPaginationLast><i class="pavyurba-btn-p pavyurba-icon-chevrons-right"></i></ng-template>
                                        <ng-template ngbPaginationPrevious><i class="pavyurba-btn-p pavyurba-icon-chevron-left"></i></ng-template>
                                        <ng-template ngbPaginationNext><i class="pavyurba-btn-p pavyurba-icon-chevron-right"></i></ng-template>
                                        <ng-template ngbPaginationEllipsis>...</ng-template>
                                        <ng-template ngbPaginationNumber let-page class="round">{{ page }}</ng-template>
                                    </ngb-pagination>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
        
<!-- Modal -->
<ng-template class="modal text-left" #ModalLocationsDetail let-c="close" let-d="dismiss">
    <app-modal-detail
        *ngIf="cargaCompleta"
        [idLocationsModal]="idLocationsListar"
        [titel]="titelModal"
        (setModal)="onSetModal($event)"
        >
    </app-modal-detail>
</ng-template>