:host ::ng-deep .cal-month-view .cal-open-day-events {
    padding: 0px !important;
    color: white;
    background-color: #555;
    -webkit-box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

:host ::ng-deep .title {
    width: 140px;
}

:host ::ng-deep .block-ui-wrapper {
    background: rgba(255, 249, 249, 0.5) !important;
}

:host ::ng-deep .cal-month-view .cal-cell-row:hover {
    background-color: #1F2225 !important;
}

:host ::ng-deep .cal-month-view .cal-day-cell.cal-today {
    /* background-color: #ffffff !important; */
    background-color: #1F2225 !important;
    /* color: #000000 !important; */
}

:host ::ng-deep .table th, .table td {
  vertical-align: middle;
}


:host ::ng-deep .cal-month-view .cal-cell-row .cal-cell:hover, .cal-month-view .cal-cell.cal-has-events.cal-open {
    background-color: #1F2225 !important;
}

:host ::ng-deep .cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
    color: rgb(255, 255, 255);
}

/* Bordes del calendario */
:host ::ng-deep .cal-month-view .cal-days .cal-cell-row {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

:host ::ng-deep .cal-month-view .cal-days {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

:host ::ng-deep .cal-month-view .cal-day-cell:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
/* Bordes del calendario */

:host ::ng-deep .cal-month-view .cal-day-number {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
  float: none;

  
}

:host ::ng-deep .cal-month-view .cal-day-cell.cal-today .cal-day-number {
  font-size: 15px;
  border: 2px solid #ec7206;
  background: #ec7206;
  /* border-radius: 100%; */
}

:host ::ng-deep .cal-month-view .cal-cell-top {
  min-height: 35px;
}

/* .numberCircle { 
  width: 120px; 
  line-height: 120px; 
  border-radius: 50%; 
  text-align: center; 
  font-size: 32px; 
  border: 2px solid #666; }  */



/* .cal-month-view .cal-day-number {
  font-size: 1.2em;
  font-weight: 400;
  opacity: 0.5;
  margin-top: 15px;
  margin-right: 15px;
  float: right;
  margin-bottom: 10px;
} */

mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-past.cal-in-month.cal-has-events.ng-star-inserted.cal-open {
    background-color: #1F2225 !important;
}
@media screen and (max-width: 767px) {
    .bottom_space {
        padding-bottom: 1rem !important;
        /* text-align: unset !important; */
        padding-left: 0px !important;
    }
}


:host ::ng-deep .text-truncate {
    padding: 0.9rem 2rem;
  }
  
:host ::ng-deep thead {
    background-color: #303338;
}

:host ::ng-deep .custom-control {
  padding-left: 1rem;
}
:host ::ng-deep .card-header {
  padding: 1rem 1.5rem;
}
select option:checked, select option:hover {
  background: rgba(0, 0, 0, 0.5)!important;
}
select.form-control option{
  background-color: #303338;
}
.modal-body .btn-danger, .modal-body .btn-labs{
  color: #000000 !important;
}
  .pointer {
    cursor: pointer;
  }
  .mt-2 {
    margin-top : 1.5rem !important;
  }
  
  .ml-2 {
    margin-left : 2rem !important;
  }
  
  :host ::ng-deep .my-custom-cell {
    padding-right: 6% !important;
    padding-top: 1.5% !important;
  }
  
  :host ::ng-deep .border_bottom {
    margin-bottom: 0rem !important;
  }
  
  :host ::ng-deep .border-top-0 {
    padding: .45rem 1.4rem !important;
  }
.min-height-8 {
    min-height: 70vh;
}
.min-height-85 {
    min-height: 85vh
}

/* font-size */
.font-size-2 {
  font-size: 1.8em;;
}

/* FILTER */
.filter {
  padding: 0 4rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.filter .items-filter {
  display: flex;
    justify-content: space-evenly;
}


vertical-scroll {
  overflow: auto !important;
}
/* TABLA */
.truncate-cell {
  max-width: 220px; /* feel free to include any other value */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* PAGINACION */
select.custom-select-pagination {
  z-index: 1;
  background-color: #686E74;
  border-color: #686E74;
  margin-right: 1rem;
  padding-top: 0;
  padding-bottom: 0;
}

/* CHECK */
:host ::ng-deep .switch.switch-small {
  background-color: #E75858;
}
.text-black {
  color: #000000;
}


