<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-body">
        <section id="basic-examples">
            <div class="row">
                <div class="col-12" *blockUI="'componentsCalendario'; message: 'Loading'">
                    <!-- <m-card [options]="options" (reloadFunction)="reloadEvents()"> -->
                        <div class="card min-height-8">
                            <div class="card-header">
                                <div class="row">
                                    <!-- <div class="col-12 col-md-3">
                                        <div class="form-group position-relative has-icon-left">
                                            <input type="search" class="form-control text-black" placeholder="Buscar" (change)="searchFilter($event)">
                                            <div class="form-control-position">
                                                <i class="pavyurba-input pavyurba-icon-busqueda"></i>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="pl-1 pr-1">
                                        <app-custom-button 
                                            [btnName]="'nueva entrada'"
                                            [btnType]="'button'"
                                            [btnClass]="'btn btn-pavyurba delete-all btn-filters-grid text-capitalize'"
                                            [btnIcon]="'pavyurba-icon-add'"
                                            (click)="addModel(ModalCalendariosDetail, null)">
                                        </app-custom-button>
                                    </div>
                                    <div class="pr-1">
                                        <button type="button" class="btn btn-pavyurba delete-all btn-filters-grid" mwlCalendarToday [(viewDate)]="viewDate" (click)="dayToday()">
                                            <i class="pavyurba-icon pavyurba-icon-ir-a-hoy" ></i>&nbsp; Ir a hoy
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content col-12">
                                <br>
                                <div class="row">
                                    <div class="col-12 col-md-7">
                                        <div class="row">
                                            <div class="col-4 col-md-4 text-right bottom_space">
                                                <button type="button" class="btn btn-pavyurba delete-all btn-filters-grid" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                                                (viewDateChange)="activeDayIsOpen = false" (click)="monthChange()">
                                                    <i class="pavyurba-icon pavyurba-icon-mes-anterior" ></i>&nbsp; Anterior
                                                </button>
                                            </div>
                                            <div class="col-4 col-md-4 text-center bottom_space">
                                                <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale | titlecase }}</h3>
                                            </div>
                                            <div class="col-4 col-md-4 text-left bottom_space">
                                                <button type="button" class="btn btn-pavyurba delete-all btn-filters-grid" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                                                (viewDateChange)="activeDayIsOpen = false" (click)="monthChange()">
                                                    Siguiente &nbsp;&nbsp;<i class="pavyurba-icon pavyurba-icon-siguiente-mes" ></i>
                                                </button>
                                            </div>
                                        </div>
                                        <br />
                                        <div [ngSwitch]="view">
                                            <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [weekStartsOn]="1" [events]="events" [cellTemplate]="customCellTemplate"
                                            [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" [locale]="locale"
                                            (eventClicked)="handleEvent('Clicked', $event.event)"
                                            (eventTimesChanged)="eventTimesChanged($event)">
                                            </mwl-calendar-month-view>
                                            <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [weekStartsOn]="1" [events]="events" 
                                            [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" [locale]="locale"
                                            (eventTimesChanged)="eventTimesChanged($event)">
                                            </mwl-calendar-week-view>
                                            <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [weekStartsOn]="1" [events]="events"
                                            [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" [locale]="locale"
                                            (eventTimesChanged)="eventTimesChanged($event)">
                                            </mwl-calendar-day-view>
                                        </div>
                                        
                                    </div>
                                    <div class="col-12 col-md-5">
                                        <br>
                                        <div class="pr-1">
                                            <h4>{{ fechaSelect }} <span class="text-capitalize">{{ mesSelect }}</span></h4>
                                            <h6 class="text-capitalize">{{ diaSelect }}</h6>
                                        </div>
                                        <div class="table-responsive min-height-8" fxFlex="auto">
                                            <table class="table table-striped border_bottom table-hover">
                                                <thead>
                                                <tr>
                                                    <th scope="col" class="border-top-0"></th>
                                                    <th scope="col" class="border-top-0">N°</th>
                                                    <th scope="col" class="border-top-0">Desde</th>
                                                    <th scope="col" class="border-top-0">Hasta</th>
                                                    <th scope="col" class="border-top-0">Trabajador</th>
                                                    <th scope="col" class="border-top-0">Tipo</th>
                                                    <th scope="col" class="border-top-0">Adjunto</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="text-truncate pointer" *ngFor="let row of rowsFiltered; let i = index" >
                                                        <!--<td class="text-truncate pointer">
                                                            <span class="custom-control custom-checkbox" >
                                                                <input type="checkbox" class="custom-control-input" id="select{{i}}" value="{{row.id}}" [checked]="row.selected" (change)="onCheckboxChangeFn(i,!row.selected, $event)"/>
                                                                <label class="custom-control-label" for="select{{i}}"></label>
                                                            </span>
                                                        </td>-->
                                                        <td style="padding: 4px 0px;">
                                                            <div class="pl-1">
                                                                <button type="button" class="btn btn-pavyurba" (click)="removeRegistro(row)">
                                                                    <i class="pavyurba-btn pavyurba-icon-delete mr-0"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                        <td (click)="addModel(ModalCalendariosDetail, row)">{{row.id}}</td>
                                                        <td (click)="addModel(ModalCalendariosDetail, row)">{{row.fechaDesde}}</td>
                                                        <td (click)="addModel(ModalCalendariosDetail, row)">{{row.fechaHasta}}</td>
                                                        <td (click)="addModel(ModalCalendariosDetail, row)">{{row.empleado}}</td>
                                                        <td (click)="addModel(ModalCalendariosDetail, row)">{{row.tipoEntrada}}</td>
                                                        <td>
                                                            <div class="row">
                                                                <div class="col-12">
                                                                        <app-custom-button 
                                                                            *ngIf="row.adjunto != null && row.adjunto != undefined; else archivoOut"
                                                                            [btnName]="'Bajar'"
                                                                            [btnType]="'button'"
                                                                            [btnClass]="'btn btn-pavyurba delete-all btn-filters-grid text-capitalize'"
                                                                            [btnIcon]="'pavyurba-icon-bajar-documento'"
                                                                            (click)="downloadFile(row)">
                                                                        </app-custom-button>
                                                                        <ng-template #archivoOut>
                                                                            NO
                                                                        </ng-template>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <br /><br /><br />

                                <ng-template #modalContent let-close="close">
                                    <div class="modal-header">
                                    <h5 class="modal-title">Event action occurred</h5>
                                    <button type="button" class="close" (click)="close()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                    <div>
                                        Action:
                                        <pre>{{ modalData?.action }}</pre>
                                    </div>
                                    <div>
                                        Event:
                                        <pre>{{ modalData?.event | json }}</pre>
                                    </div>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" (click)="close()">
                                        OK
                                    </button>
                                    </div>
                                </ng-template>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div  *ngIf="pagination" class="col-md-3 justify-content-start pt-1">
                                        <!-- Total: {{ pagination.total }} -->
                                    </div>
                                    <div class="col-md-9">
                                        <nav aria-label="Page navigation">
                                            <div class="pagination justify-content-end pagination-separate pagination-curved pagination-flat">
                                                <select class="custom-select custom-select-pagination" style="width: auto" [(ngModel)]="pagination.per_page" (ngModelChange)="refreshCountries()">
                                                    <option [ngValue]="5">Ver 5</option>
                                                    <option [ngValue]="10">Ver 10</option>
                                                    <option [ngValue]="20">Ver 20</option>
                                                    <option [ngValue]="50">Ver 50</option>
                                                </select>
                                                <ngb-pagination
                                                [collectionSize]="pagination.total" 
                                                [(page)]="pagination.current_page" 
                                                [boundaryLinks]="true" 
                                                [maxSize]="1"
                                                [pageSize]="pagination.per_page"
                                                (pageChange)="pageChanged($event)" aria-label="Default pagination">
                                                    <ng-template ngbPaginationFirst><i class="pavyurba-btn-p pavyurba-icon-chevrons-left"></i></ng-template>
                                                    <ng-template ngbPaginationLast><i class="pavyurba-btn-p pavyurba-icon-chevrons-right"></i></ng-template>
                                                    <ng-template ngbPaginationPrevious><i class="pavyurba-btn-p pavyurba-icon-chevron-left"></i></ng-template>
                                                    <ng-template ngbPaginationNext><i class="pavyurba-btn-p pavyurba-icon-chevron-right"></i></ng-template>
                                                    <ng-template ngbPaginationEllipsis>...</ng-template>
                                                    <ng-template ngbPaginationNumber let-page class="round">{{ page }}</ng-template>
                                                </ngb-pagination>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- </m-card> -->
                </div>
            </div>
        </section>
      </div>
    </div>
  </div>

  <ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top" style="text-align: center; margin-top: 10px;">
      <!-- <span class="cal-day-badge" *ngIf="day.badgeTotal > 0"
        >{{ day.badgeTotal }}</span
      > -->
      <span class="cal-day-number"
        >{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span
      >
    </div>
    <div style="text-align: center;" *ngIf="day.events.length > 0">
        <button *ngIf="CountAsistencias(day) > 0" type="button" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize" style="margin-bottom: 5px; font-size: 11.5px; font-weight: normal;">
            {{ CountAsistencias(day) }} Asistencias
        </button>
        <button *ngIf="CountIncidencias(day) > 0" type="button" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize" style="margin-bottom: 5px; font-size: 11.5px; font-weight: normal;">
            {{ CountIncidencias(day) }} Incidencias
        </button>
        <!-- {{ day.events[0].title }} -->
    </div>
     <!-- <small style="margin: 5px"
      >There are {{ day.events.length }} events on this day</small
    >  -->
  </ng-template>


<!-- Modal -->
<ng-template class="modal text-left" #ModalCalendariosDetail let-c="close" let-d="dismiss">
    <div class="modal-lg">
        <div class="modal-header">
            <h3 id="myModalLabel23">{{titelModal}}</h3>
            <button type="button" class="close" aria-label="Close" (click)="onCloseModal($event)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body modal-scroll-y p-0">
            <app-calendarios-detail 
                [idCalendarios]="idCalendariosListar"
                [tipoEntrada]="tipoEntrada"
                *ngIf="cargaCompleta"
                (closeModal)="onCloseModal($event)">
            </app-calendarios-detail>
        </div>
    </div>
</ng-template>