.recuadro {
    margin: 1rem;
    padding: 1rem 1rem 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.input-title {
    margin-left: 20px;
    margin-bottom: 0px;
}

:host ::ng-deep .ng-value-container {
    padding-left: 2.5em !important;
}

:host ::ng-deep .ng-select-container {
    background-color: #eeeeee !important;
}