<form [formGroup]="providersForm" (ngSubmit)="add()" >
    <div class="form-body">
        <label class="input-title" for="Datos">Datos</label>
        <div class="row recuadro">
            <div class="col-md-2" *ngIf="edicion">
                <label style="font-size: smaller;" *ngIf="edicion">ID*</label>
                <div class="form-group position-relative has-icon-left">
                    <input disabled type="text" id="id" formControlName="id" value={{providers.id}} class="form-control" placeholder="ID" style="background-color: rgba(255, 255, 255, 0.25) !important; ">
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-id"></i>
                    </div>
                </div>
            </div>
            <input *ngIf="!edicion" type="hidden" id="id" formControlName="id" value={{providers.id}} class="form-control" placeholder="ID">
            <div class="col-md-4">
                <label style="font-size: smaller;" *ngIf="edicion">"NIF/NIE/DNI*</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="text" id="identificacion" [ngClass]="{ 'is-invalid': submitted && f.identificacion.errors }" class="form-control" placeholder="NIF/NIE/DNI*"
                        formControlName="identificacion" value={{providers.identificacion}}>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-dni-t"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.identificacion.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of providers_validation_messages.identificacion">
                            <div class="error-message" *ngIf="providersForm.get('identificacion').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-md-{{ sizeid }}">
                <label style="font-size: smaller;" *ngIf="edicion">Nombre*</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="text" id="nombre" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" class="form-control" placeholder="Nombre*"
                        formControlName="nombre" value={{providers.nombre}}>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-proveedor"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.nombre.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of providers_validation_messages.nombre">
                            <div class="error-message" *ngIf="providersForm.get('nombre').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
        </div>
        <label class="input-title" for="Dirección">Dirección</label>
        <div class="row recuadro">
            <div class="col-md-9">
                <label style="font-size: smaller;" *ngIf="edicion">Provincia*</label>
                <div class="form-group position-relative has-icon-left">
                    <!-- <select id="idProvincia" class="form-control" formControlName="idProvincia"
                        [ngClass]="{ 'is-invalid': submitted && f.idProvincia.errors }" placeholder="Provincia*" [(ngModel)]="idProvincia" (change)="changeProvincia()">
                        <option [ngValue]="null" [disabled]="true" [selected]="true">Provincia*</option>
                        <option *ngFor="let provincia of provincias" [value]="provincia.id">{{provincia.texto}}</option>
                    </select> -->
                    <ng-select [ngClass]="{ 'is-invalid': submitted && f.idProvincia.errors }" 
                    [items]="provincias" [searchable]="true" placeholder="Provincia*"
                    [(ngModel)]="idProvincia" (change)="changeProvincia()"
                        bindLabel="texto" bindValue="id"
                        id="idProvincia" formControlName="idProvincia">
                    </ng-select>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-provincia"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.idProvincia.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of providers_validation_messages.idProvincia">
                            <div class="error-message" *ngIf="providersForm.get('idProvincia').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-md-3 px-0 text-center">
                <!-- <button type="button" class="btn btn-black mr-1" (click)="addLocation(ModalLocationsDetail)">
                    <i class="pavyurba-icon pavyurba-icon-add-location" ></i>Crear Localidad
                </button> -->    
                <span *ngIf="edicion"><br></span>                            
                <app-custom-button 
                    [btnName]="'Crear Localidad'"
                    [btnType]="'button'"
                    [btnClass]="'btn btn-pavyurba delete-all btn-filters-grid text-capitalize'"
                    [btnIcon]="'pavyurba-icon-crear-localidad'"
                    (click)="addLocation(ModalLocationsDetail)">
                </app-custom-button>
            </div>
            <div class="col-md-9">
                <label style="font-size: smaller;" *ngIf="edicion">Localidad</label>
                <div class="form-group position-relative has-icon-left">
                    <!-- <select id="idLocalidad" class="form-control" formControlName="idLocalidad"
                        [ngClass]="{ 'is-invalid': submitted && f.idLocalidad.errors }" placeholder="Localidad*">
                        <option [ngValue]="null" [disabled]="true">Localidad*</option>
                        <option *ngFor="let location of locations" [value]="location.id">{{location.texto}}</option>
                    </select> -->
                    <ng-select [ngClass]="{ 'is-invalid': submitted && f.idLocalidad.errors }" 
                    [items]="locations" [searchable]="true" placeholder="Localidad" [(ngModel)]="idLocalidad"
                        bindLabel="texto" bindValue="id"
                        id="idLocalidad" formControlName="idLocalidad">
                    </ng-select>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-localidad-new"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.idLocalidad.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of providers_validation_messages.idLocalidad">
                            <div class="error-message" *ngIf="providersForm.get('idLocalidad').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-md-3">
                <label style="font-size: smaller;" *ngIf="edicion">Código Postal</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="text" id="codigoPostal" [ngClass]="{ 'is-invalid': submitted && f.codigoPostal.errors }" class="form-control" placeholder="Código Postal"
                        formControlName="codigoPostal" value={{providers.codigoPostal}}>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-codigo-postal"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.codigoPostal.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of providers_validation_messages.codigoPostal">
                            <div class="error-message" *ngIf="providersForm.get('codigoPostal').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-md-12">
                <label style="font-size: smaller;" *ngIf="edicion">Dirección*</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="text" id="direccion" [ngClass]="{ 'is-invalid': submitted && f.direccion.errors }" class="form-control" placeholder="Dirección*"
                        formControlName="direccion" value={{providers.direccion}} maxlength="{{maxLength}}" [(ngModel)]="mensaje">
                        <div class="text-right">
                            <span>{{mensaje.length}}/{{maxLength}}</span>
                        </div>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-direccion"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.direccion.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of providers_validation_messages.direccion">
                            <div class="error-message" *ngIf="providersForm.get('direccion').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
        </div>
        <label class="input-title" for="Contacto">Contacto</label>
        <div class="row recuadro">
            <div class="col-md-6">
                <label style="font-size: smaller;" *ngIf="edicion">E-mail</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="email" id="email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="form-control" placeholder="E-mail"
                        formControlName="email" value={{providers.email}} >
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-email"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.email.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of providers_validation_messages.email">
                            <div class="error-message" *ngIf="providersForm.get('email').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-md-6">
                <label style="font-size: smaller;" *ngIf="edicion">2do E-mail</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="email" id="emailAdicional" [ngClass]="{ 'is-invalid': submitted && f.emailAdicional.errors }" class="form-control" placeholder="2do E-mail"
                        formControlName="emailAdicional" value={{providers.emailAdicional}}>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-email"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.emailAdicional.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of providers_validation_messages.emailAdicional">
                            <div class="error-message" *ngIf="providersForm.get('emailAdicional').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-md-6">
                <label style="font-size: smaller;" *ngIf="edicion">Teléfono</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="text" id="telefono" [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }" class="form-control" placeholder="Teléfono"
                        formControlName="telefono" value={{providers.telefono}}>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-telefono"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.telefono.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of providers_validation_messages.telefono">
                            <div class="error-message" *ngIf="providersForm.get('telefono').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-md-6">
                <label style="font-size: smaller;" *ngIf="edicion">2do Teléfono</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="text" id="telefonoAdicional" [ngClass]="{ 'is-invalid': submitted && f.telefonoAdicional.errors }" class="form-control" placeholder="2do Teléfono"
                        formControlName="telefonoAdicional" value={{providers.telefonoAdicional}}>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-telefono"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.telefonoAdicional.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of providers_validation_messages.telefonoAdicional">
                            <div class="error-message" *ngIf="providersForm.get('telefonoAdicional').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
        </div>
    </div>
    <div class="modal-footer">   
        <button type="button" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize" (click)="closeModal.emit(true)">
            <i class="pavyurba-icon pavyurba-icon-cancel" ></i>&nbsp; Cancelar
        </button>
        <button type="submit" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize">
            <i class="pavyurba-icon pavyurba-icon-done-o"></i>&nbsp; {{ edicion ? 'Guardar Cambios':'Crear Proveedor' }}
        </button>
    </div>
</form>

<ng-template class="modal text-left" #ModalLocationsDetail let-c="close" let-d="dismiss">
    <app-modal-detail
        *ngIf="cargaCompleta"
        [idLocationsModal]="null"
        [titel]="'Crear Localidades'"
        (setModal)="onSetModal($event)">
    </app-modal-detail>
</ng-template>