<form [formGroup]="contratosForm" (ngSubmit)="add()" *blockUI="'componentsContratosDetail'; message: 'Loading'">
    <div class="form-body">
        <label class="input-title" for="Datos">Tipo</label>
        <div class="row recuadro">
            <div class="col-md-12">
                <div class="form-group position-relative has-icon-left">
                        <select id="tipo" class="form-control" formControlName="tipo"
                            [ngClass]="{ 'is-invalid': submitted && f.tipo.errors }" placeholder="Tipo*">
                            <option [ngValue]="null" [disabled]="true" [selected]="true">Tipo Contrato*</option>
                            <option *ngFor="let contratoType of contratoTypes" [value]="contratoType.texto">{{contratoType.texto | titlecase }}</option>
                        </select>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-cod-trabajo"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.tipo.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of contratos_validation_messages.tipo">
                            <div class="error-message" *ngIf="contratosForm.get('tipo').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
        </div>

        <label class="input-title" for="Datos">Importe</label>
        <div class="row recuadro">
            <div class="col-md-12">
                <div class="form-group position-relative has-icon-left">
                    <input type="number" id="valor" [ngClass]="{ 'is-invalid': submitted && f.valor.errors }" class="form-control" placeholder="Importe*"
                        formControlName="valor" value={{contrato.valor}} >
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-precio"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.valor.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of contratos_validation_messages.valor">
                            <div class="error-message" *ngIf="contratosForm.get('valor').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
        </div>

        <label class="input-title" for="Subir Documento">Subir Documento</label>
        <div class="row recuadro" >
           
            <div class="col-md-12">
                <div class="form-group">
                    <button class="btn btn-block btn-pavyurba mb-1" (click)="document()" [ngClass]="{ 'is-invalid': submitted && f.contrato.errors }">
                      <i class="pavyurba-btn pavyurba-icon-subir-documento"></i>{{titleDocumento}}
                    </button>
                    <input type="file" [ngClass]="{ 'is-invalid': submitted && archivoValid }" style="display:none" class="form-control" formControlName="contrato" id="contrato"
                        (change)="onFileChange($event)">
                    <!-- <label #labelImport></label> -->
                    <small class="form-text text-muted danger" *ngIf="submitted && archivoValid"
                        class="invalid-feedback">
                        <div *ngFor="let validation of contratos_validation_messages.contrato">
                            <div class="error-message">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div>
                <!-- <div class="form-group"> -->
                    <!-- <div class="custom-file"> -->
                    
                    <!-- <label class="custom-file-label" #labelImport for="inputGroupFile01">Choose file</label> -->
                    <!-- </div> -->
                <!-- </div> -->
            </div>
        </div>
    </div>
    <div class="modal-footer">   
        <button type="button" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize" (click)="closeModal.emit(true)">
            <i class="pavyurba-icon pavyurba-icon-cancel" ></i>&nbsp; Cancelar
        </button>
        <button type="submit" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize">
            <i class="pavyurba-icon pavyurba-icon-done-o"></i>&nbsp; Aceptar
        </button>
    </div>
</form>

