<form [formGroup]="repeatForm" (ngSubmit)="add()" *blockUI="'repeatingForms'; message: 'Loading'">
    <div class="card-body" formArrayName="repeatArray">
        <label class="input-title" for="Datos">Condiciones a cambiar</label>
        <div class="row recuadro">
          <div class="col-12">
            <div class="form-group overflow-hidden">
              <button data-repeater-create class="btn btn-block btn-pavyurba mb-1" (click)="addRepeatNew()">
                <i class="pavyurba-btn pavyurba-icon-add-o"></i> Sumar Condición
              </button>
            </div>
          </div>
          <div class="col-12" *ngFor="let repeatForm of repeatFormGroup.controls; let i = index;">
            <div class="repeater-default">
              <div [formGroupName]="i" class="row">
                <div class="col-md-1" >
                    <br>
                    <div class="form-group text-center pr-0">
                    <button type="button" class="btn btn-pavyurba" (click)="removeRepeat(i, repeatForm.controls)">
                        <i class="pavyurba-btn pavyurba-icon-delete mr-0"></i>
                    </button>
                    </div>
                </div>
                <input type="hidden" id="id"  formControlName="id">
                <div class="col-12 col-md-5" >
                    <label style="font-size: smaller;">Condición*</label>
                    <div class="form-group position-relative has-icon-left">
                    <select class="form-control" formControlName="idCondicion"
                        [ngClass]="{ 'is-invalid': submitted && repeatForm.controls.idCondicion.errors }" placeholder="Condición">
                        <option [ngValue]="null" [disabled]="true" [selected]="true">Condición*</option>
                        <option *ngFor="let condicion of data" [value]="condicion.id">{{condicion.texto}}</option>
                    </select>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-condicion"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && repeatForm.controls.idCondicion.errors" class="invalid-feedback">
                        <div *ngFor="let validation of conditions_validation_messages.idCondicion">
                        <div class="error-message" *ngIf="repeatForm.get('idCondicion').hasError(validation.type)">
                            {{validation.message}}
                        </div>
                        </div>
                    </small>
                    </div>
                </div>
                <div class="col-12 col-md-3" >
                    <label style="font-size: smaller;">Valor DM</label>
                    <div class="form-group position-relative has-icon-left">
                    <input type="number"  [ngClass]="{ 'is-invalid': submitted && repeatForm.controls.valorCondicionDM.errors }" class="form-control" placeholder="Valor DM"
                        formControlName='valorCondicionDM'  >
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-dieta-madrid"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && repeatForm.controls.valorCondicionDM.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of conditions_validation_messages.valorCondicionDM">
                            <div class="error-message" *ngIf="repeatForm.get('valorCondicionDM').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                    </div>
                </div>
                <div class="col-12 col-md-3" >
                    <label style="font-size: smaller;">Valor FM</label>
                    <div class="form-group position-relative has-icon-left">
                    <input type="number"  [ngClass]="{ 'is-invalid': submitted && repeatForm.controls.valorCondicionFM.errors }" class="form-control" placeholder="Valor FM"
                        formControlName='valorCondicionFM'  >
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-dieta-fuera-madrid"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && repeatForm.controls.valorCondicionFM.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of conditions_validation_messages.valorCondicionFM">
                            <div class="error-message" *ngIf="repeatForm.get('valorCondicionFM').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                    </div> 
                </div> 
              </div>
            </div>
          </div>
        </div>                  
    </div> 
  
    <div class="row card-body">
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-12">
                    <label class="input-title" for="dietaDentroMadrid"> Dieta En Madrid </label>
                    <div class="row recuadro">
                        <div class="col-9" >
                            <label style="font-size: smaller;">Valor</label>
                            <div class="form-group position-relative has-icon-left">
                                <input type="number"  [ngClass]="{ 'is-invalid': submitted && f.dietaDentroMadrid.errors }" class="form-control" placeholder="Valor"
                                    formControlName='dietaDentroMadrid' value={{repeatForm.dietaDentroMadrid}} id="dietaDentroMadrid">
                                <div class="form-control-position">
                                    <i class="pavyurba-input pavyurba-icon-dieta-madrid"></i>
                                </div>
                                <small class="form-text text-muted danger" *ngIf="submitted && f.dietaDentroMadrid.errors"
                                    class="invalid-feedback">
                                    <div *ngFor="let validation of conditions_validation_messages.dietaDentroMadrid">
                                        <div class="error-message" *ngIf="repeatForm.get('dietaDentroMadrid').hasError(validation.type)">
                                            {{validation.message}}
                                        </div>
                                    </div>
                                </small>
                            </div>
                        </div>
                        <div class="col-3"> 
                            <br>
                            <button type="button" class="btn btn-black mr-1">EUR</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="input-title" for="dietaFueraMadrid"> Dieta Fuera de Madrid</label>
                    <div class="row recuadro">
                        <div class="col-md-9" >
                            <label style="font-size: smaller;">Valor</label>
                            <div class="form-group position-relative has-icon-left">
                                <input type="number"  [ngClass]="{ 'is-invalid': submitted && f.dietaFueraMadrid.errors }" class="form-control" placeholder="Valor"
                                    formControlName='dietaFueraMadrid' value={{repeatForm.dietaFueraMadrid}} id="dietaFueraMadrid">
                                <div class="form-control-position">
                                    <i class="pavyurba-input pavyurba-icon-dieta-fuera-madrid"></i>
                                </div>
                                <small class="form-text text-muted danger" *ngIf="submitted && f.dietaFueraMadrid.errors"
                                    class="invalid-feedback">
                                    <div *ngFor="let validation of conditions_validation_messages.dietaFueraMadrid">
                                        <div class="error-message" *ngIf="repeatForm.get('dietaFueraMadrid').hasError(validation.type)">
                                            {{validation.message}}
                                        </div>
                                    </div>
                                </small>
                            </div>
                        </div>
                        <div class="col-md-3"> 
                            <br>
                            <button type="button" class="btn btn-black mr-1">EUR</button>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-12">
                    <label class="input-title" for="Fuera de Madrid"> Observaciones</label>
                    <div class="recuadro">
                        <div class="col-md-12">
                            <label style="font-size: smaller;">Observaciones</label>
                            <div class="form-group position-relative">
                                <textarea formControlName='observaciones' value={{repeatForm.observaciones}} class="form-control" rows="8" placeholder="Observaciones" maxlength="{{maxLength}}" [(ngModel)]="mensaje"></textarea>
                                <div class="text-right">
                                    <!-- <span>{{mensaje.length}}/{{maxLength}}</span> -->
                                    <span *ngIf="mensaje != null && mensaje != undefined; else mensajeLength">
                                        {{mensaje.length}}/{{maxLength}}                            
                                    </span>
                                    <ng-template #mensajeLength >
                                    <span>
                                        0/{{maxLength}}                            
                                    </span>
                                    </ng-template>
                                </div>
                                <small class="form-text text-muted danger" *ngIf="submitted && f.observaciones.errors"
                                    class="invalid-feedback">
                                    <div *ngFor="let validation of conditions_validation_messages.observaciones">
                                        <div class="error-message" *ngIf="repeatForm.get('observaciones').hasError(validation.type)">
                                            {{validation.message}}
                                        </div>
                                    </div>
                                </small>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div> 
       
       
   
    <!-- <div class="col-md-12">
        <button type="submit" [disabled]="repeatForm.invalid" class="btn float-right btn-pavyurba">
            <i class="pavyurba-icon pavyurba-icon-done-o"></i>&nbsp; Guardar Cambios
        </button>
      </div> -->
      
    <div class="modal-footer">   
        <button type="button" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize" (click)="closeModal.emit(true)">
            <i class="pavyurba-icon pavyurba-icon-cancel" ></i>&nbsp; Cancelar
        </button>
        <!-- [disabled]="repeatFormGroup.invalid" -->
        <button type="submit" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize">
            <i class="pavyurba-icon pavyurba-icon-done-o"></i>&nbsp; Guardar Cambios
        </button>
    </div>
</form>