<div *ngIf="message" class="modal ui-confirm-dialog" tabindex="-1" role="dialog" style="display:block!important; z-index: 1060;">  
    <div class="modal-dialog custom-alert" role="document">  
        <div class="modal-content">  
  
            <div *ngIf="message?.type == 'confirm'" class="modal-body">  
                <div class="row">  
                    <div class="col-md-12">  
                        <p class="text-center confirm-message">{{message.text}}</p>  
                    </div>  
                </div>  
                <div class="row">  
                    <div class="col-md-12">  
                        <p class="form-actions text-center">  
                            <a class="mr-2" (click)="message.noFn()">  
                                <button class="btn btn-danger"><i class="pavyurva-btn pavyurva-icon-cancel"></i>&nbsp; Cancelar</button>  
                            </a>  
                            <a  (click)="message.yesFn()">  
                                <button class="btn btn-success"><i class="pavyurva-btn pavyurva-icon-done-o"></i>&nbsp; Aceptar</button>  
                            </a>  
                        </p>  
                    </div>  
                </div>  
            </div>  
        </div>  
    </div>  
</div>  
