<form [formGroup]="albaranesForm" (ngSubmit)="add()" *blockUI="'componentsAlbaranesDetail'; message: 'Loading'">
    <div class="form-body">
        <label class="input-title" for="Subir Documentos">Subir Documentos</label>
        <div class="row recuadro" >
           
            <div class="col-md-12">
                <div class="form-group">
                    <button class="btn btn-block btn-pavyurba mb-1" (click)="document()">
                      <i class="pavyurba-btn pavyurba-icon-subir-documento"></i>{{titleDocumento}}
                    </button>
                    <input type="file" [ngClass]="{ 'is-invalid': submitted && archivoValid }" style="display:none" class="form-control" formControlName="archivo" id="archivo"
                        (change)="onFileChange($event)">
                    <!-- <label #labelImport></label> -->
                    <small class="form-text text-muted danger" *ngIf="submitted && archivoValid"
                        class="invalid-feedback">
                        <div *ngFor="let validation of albaranes_validation_messages.archivo">
                            <div class="error-message">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div>
                <!-- <div class="form-group"> -->
                    <!-- <div class="custom-file"> -->
                    
                    <!-- <label class="custom-file-label" #labelImport for="inputGroupFile01">Choose file</label> -->
                    <!-- </div> -->
                <!-- </div> -->
            </div>
        </div>
        <label class="input-title" for="Datos">Datos</label>
        <div class="row recuadro">
            
            
            <div class="col-12">
                <div class="col-12 col-md-4">
                    <div class="form-group position-relative has-icon-left">
                        <div class="right-checkbox">
                            <div class="custom-control custom-checkbox" style="padding-top: 0.7rem; padding-left: 3.0rem;">
                              <input type="checkbox" class="custom-control-input" formControlName="facturado"
                                id="facturado" >
                              <label class="custom-control-label w-100" for="facturado">Facturado</label>
                            </div>
                        </div>
                        <div class="form-control-position">
                            <i class="pavyurba-input pavyurba-icon-factura"></i>
                        </div>
                        <small class="form-text text-muted danger" *ngIf="submitted && f.facturado.errors"
                            class="invalid-feedback">
                            <div *ngFor="let validation of albaranes_validation_messages.facturado">
                                <div class="error-message" *ngIf="albaranesForm.get('facturado').hasError(validation.type) && (albaranesForm.get('facturado').dirty || albaranesForm.get('facturado').touched)">
                                    {{validation.message}}
                                </div>
                            </div>
                        </small>
                    </div> 
                </div>
            </div>

            <input type="hidden" id="id"  formControlName="id" value={{albaranes.id}} >
            <div class="col-12 col-md-4">
                <label style="font-size: smaller;" *ngIf="edicion">Número*</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="text" id="numero" [ngClass]="{ 'is-invalid': submitted && f.numero.errors }" class="form-control" placeholder="Número*"
                        formControlName="numero" value={{albaranes.numero}} >
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-numero-albaran"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.numero.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of albaranes_validation_messages.numero">
                            <div class="error-message" *ngIf="albaranesForm.get('numero').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-12 col-md-8">
                <label style="font-size: smaller;" *ngIf="edicion">Obras*</label>
                <div class="form-group position-relative has-icon-left">
                    <!-- <select id="idObra" class="form-control" formControlName="idObra"
                        [ngClass]="{ 'is-invalid': submitted && f.idObra.errors }"  placeholder="Obras*">
                        <option [ngValue]="null" [disabled]="true" [selected]="true">Obras*</option>
                        <option *ngFor="let obra of obras" [value]="obra.id">{{obra.texto}}</option>
                    </select> -->
                    <ng-select [ngClass]="{ 'is-invalid': submitted && f.idObra.errors }" 
                    [items]="obras" [searchable]="true" placeholder="Obras*"
                        bindLabel="texto" bindValue="id"
                        id="idObra" formControlName="idObra">
                    </ng-select>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-obra"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.idObra.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of albaranes_validation_messages.idObra">
                            <div class="error-message" *ngIf="albaranesForm.get('idObra').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div>  
            </div>
            <div class="col-12 col-md-6">
                <label style="font-size: smaller;" *ngIf="edicion">Proveedor*</label>
                <div class="form-group position-relative has-icon-left">
                    <!-- <select id="idProveedor" class="form-control" formControlName="idProveedor"
                        [ngClass]="{ 'is-invalid': submitted && f.idProveedor.errors }"  placeholder="Proveedor*">
                        <option [ngValue]="null" [disabled]="true" selected="true">Proveedor*</option>
                        <option *ngFor="let provider of providers" [value]="provider.id">{{provider.texto}}</option>
                    </select> -->
                    <ng-select [ngClass]="{ 'is-invalid': submitted && f.idProveedor.errors }" 
                    [items]="providers" [searchable]="true" placeholder="Proveedor*"
                        bindLabel="texto" bindValue="id"
                        id="idProveedor" formControlName="idProveedor">
                    </ng-select>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-proveedor"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.idProveedor.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of albaranes_validation_messages.idProveedor">
                            <div class="error-message" *ngIf="albaranesForm.get('idProveedor').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-12 col-md-6">
                <label style="font-size: smaller;" *ngIf="edicion">Material*</label>
                <div class="form-group position-relative has-icon-left">
                    <!-- <select id="idMaterial" class="form-control" formControlName="idMaterial"
                        [ngClass]="{ 'is-invalid': submitted && f.idMaterial.errors }" placeholder="Material*" (change)="changeMaterial()" [(ngModel)]="idMaterial">
                        <option [ngValue]="null" [disabled]="true" [selected]="true">Material*</option>
                        <option *ngFor="let material of materials" [value]="material.id">{{material.texto}}</option>
                    </select> -->
                    <ng-select [ngClass]="{ 'is-invalid': submitted && f.idMaterial.errors }" 
                    [items]="materials" [searchable]="true" placeholder="Material*"
                    (change)="changeMaterial()" [(ngModel)]="idMaterial"
                        bindLabel="texto" bindValue="id"
                        id="idMaterial" formControlName="idMaterial">
                    </ng-select>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-material"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.idMaterial.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of albaranes_validation_messages.idMaterial">
                            <div class="error-message" *ngIf="albaranesForm.get('idMaterial').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-12 col-md-4">
                <label style="font-size: smaller;" *ngIf="edicion">Precio*</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="number" id="precio" [ngClass]="{ 'is-invalid': submitted && f.precio.errors }" [(ngModel)]="precio" 
                    (change)="changeCantidad()" class="form-control" placeholder="Precio*"
                        formControlName="precio" value={{albaranes.precio}}>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-precio"></i>
                    </div>                    
                    <small class="form-text text-muted danger" *ngIf="submitted && f.precio.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of albaranes_validation_messages.precio">
                            <div class="error-message" *ngIf="albaranesForm.get('precio').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-12 col-md-4">
                <label style="font-size: smaller;" *ngIf="edicion">Cantidad*</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="number" id="cantidad" [ngClass]="{ 'is-invalid': submitted && f.cantidad.errors }" [(ngModel)]="cantidad" 
                    (change)="changeCantidad()" class="form-control" placeholder="Cantidad*"
                        formControlName="cantidad" value={{albaranes.cantidad}}>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-metros-o"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.cantidad.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of albaranes_validation_messages.cantidad">
                            <div class="error-message" *ngIf="albaranesForm.get('cantidad').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-12 col-md-4">
                <label style="font-size: smaller;" *ngIf="edicion">Importe Total</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="number" id="montoTotal" class="form-control" placeholder="Importe Total"
                        formControlName="montoTotal" [(ngModel)]="montoTotal" disabled style="background-color: rgba(255, 255, 255, 0.25) !important; ">
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-total"></i>
                    </div>
                </div> 
            </div>
            <!-- <div class="col-12 col-md-6">
                <div class="form-group position-relative has-icon-left">
                    <div class="right-checkbox">
                        <div class="custom-control custom-checkbox" style="padding-top: 0.7rem; padding-left: 3.0rem;">
                          <input type="checkbox" class="custom-control-input" formControlName="recibido"
                            id="recibido" >
                          <label class="custom-control-label w-100" for="recibido">Recibido</label>
                        </div>
                    </div>                    
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-recibido"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.recibido.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of albaranes_validation_messages.recibido">
                            <div class="error-message" *ngIf="albaranesForm.get('recibido').hasError(validation.type) && (albaranesForm.get('recibido').dirty || albaranesForm.get('recibido').touched)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div> -->
            <!-- <div class="col-md-8">
                <div class="form-group position-relative has-icon-left">                                    
                    <input [ngClass]="{ 'is-invalid': submitted && f.fechaFacturacion.errors }" class="form-control" placeholder="Fecha Facturado" formControlName="fechaFacturacion" [(ngModel)]="fechaFacturacion" 
                    ngbDatepicker #d1="ngbDatepicker" value={{albaranes.fechaFacturacion}}>
                    <div class="form-control-position" (click)="d1.toggle()">
                        <i class="pavyurba-input pavyurba-icon-fecha-alta" style="cursor: pointer;"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.fechaFacturacion.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of albaranes_validation_messages.fechaFacturacion">
                            <div class="error-message" *ngIf="albaranesForm.get('fechaFacturacion').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div> -->            
            <div class="col-12 col-md-4">
                <label style="font-size: smaller;" *ngIf="edicion">Fecha Recibido*</label>
                <div class="form-group position-relative has-icon-left">                                    
                    <input [ngClass]="{ 'is-invalid': submitted && f.fechaRecepcion.errors }" class="form-control" placeholder="Fecha Recibido*" formControlName="fechaRecepcion" [(ngModel)]="fechaRecepcion" 
                    ngbDatepicker #d="ngbDatepicker" value={{albaranes.fechaRecepcion}}>
                    <div class="form-control-position" (click)="d.toggle()">
                        <i class="pavyurba-input pavyurba-icon-fecha-alta" style="cursor: pointer;"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.fechaRecepcion.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of albaranes_validation_messages.fechaRecepcion">
                            <div class="error-message" *ngIf="albaranesForm.get('fechaRecepcion').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-12 col-md-8">
                <label style="font-size: smaller;" *ngIf="edicion">Observaciones</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="text" id="observaciones"  [ngClass]="{ 'is-invalid': submitted && f.observaciones.errors }" class="form-control" placeholder="Observaciones"
                        formControlName="observaciones" value={{albaranes.observaciones}} maxlength="{{maxLength}}" [(ngModel)]="mensaje">
                    <div class="text-right">
                        <!-- <span>{{mensaje.length}}/{{maxLength}}</span> -->
                        <span *ngIf="mensaje != null && mensaje != undefined; else mensajeLength">
                            {{mensaje.length}}/{{maxLength}}                            
                        </span>
                        <ng-template #mensajeLength >
                        <span>
                            0/{{maxLength}}                            
                        </span>
                        </ng-template> 
                    </div>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-observaciones"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.observaciones.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of albaranes_validation_messages.observaciones">
                            <div class="error-message" *ngIf="albaranesForm.get('observaciones').hasError(validation.type) && (albaranesForm.get('observaciones').dirty || albaranesForm.get('observaciones').touched)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
        </div>
    </div>
    <div class="modal-footer">   
        <button type="button" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize" (click)="closeModal.emit(true)">
            <i class="pavyurba-icon pavyurba-icon-cancel" ></i>&nbsp; Cancelar
        </button>
        <button type="submit" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize">
            <i class="pavyurba-icon pavyurba-icon-done-o"></i>&nbsp; {{ edicion ? 'Guardar Cambios':'Crear Albarán' }}
        </button>
    </div>
</form>


