.dropdown-menu-right {
    right: 0;
    left: auto !important;
    top: auto !important;
}

.header-navbar .navbar-container ul.nav li a.dropdown-user-link .user-name {
    margin-left: 0rem !important;
}

.border_bottom {
    border-bottom: none !important;
}

:host ::ng-deep .dropdown-item:active {
    color: #fff !important;
}

@media only screen and (max-width: 991.98px) {
  .ft-toggle-right {
    display: none !important;
  }

  .ft-toggle-left {
        display: none !important;
  }

  .collapse:not(.show) {
    display: unset !important;
  }
}

.header-navbar .navbar-header .navbar-brand .brand-text {
  padding-left: 11px !important;
}

.header-navbar .navbar-header .navbar-brand .brand-logo {
  width: 120px !important;
  margin-left: 1.5rem !important;
}

.header-navbar .navbar-header .navbar-brand .brand-logo-p {
  width: 36px !important;
  margin-left: 1rem !important;
}