.recuadro {
    margin: 1rem;
    padding: 1rem 1rem 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.input-title {
    margin-left: 20px;
    margin-bottom: 0px;
}

:host ::ng-deep .ng-value-container {
    padding-left: 2.5em !important;
}

:host ::ng-deep .ng-select-container {
    background-color: #eeeeee !important;
}

/* CHECK BOX */
.right-checkbox input[type='checkbox'],
.right-checkbox .custom-control-indicator,
.right-checkbox input[type='radio'],
.right-radio input[type='checkbox'],
.right-radio .custom-control-indicator,
.right-radio input[type='radio'] {
    left: auto;
    top: auto;
    position: absolute;
}

.right-checkbox input[type='checkbox'],
.right-checkbox .custom-control-label::before,
.right-checkbox .custom-control-label::after,
.right-checkbox input[type='radio'],
.right-radio input[type='checkbox'],
.right-radio .custom-control-label::before,
.right-radio .custom-control-label::after,
.right-radio input[type='radio'] {
    left: auto;
    right: 2%;
}
