<form [formGroup]="calendariosForm" (ngSubmit)="add()" *blockUI="'componentsCalendariosDetail'; message: 'Loading'">
    <div class="form-body">
        <!-- <div class="row recuadro1">
            <div class="col-12 col-md-6">
                <div class="form-group position-relative has-icon-left">
                    <input id="asistenciaIncidencia" class="form-control text-capitalize" formControlName="asistenciaIncidencia"
                    [ngClass]="{ 'is-invalid': submitted && f.asistenciaIncidencia.errors }"  placeholder="Asistencia/Incidencia*" [(ngModel)]="asistenciaIncidenciaNg" *ngIf="edicion" disabled  
                        style="background-color: rgba(255, 255, 255, 0.25) !important; ">
                    <select id="asistenciaIncidencia" class="form-control text-capitalize" formControlName="asistenciaIncidencia"
                        [ngClass]="{ 'is-invalid': submitted && f.asistenciaIncidencia.errors }"  placeholder="Asistencia/Incidencia*" [(ngModel)]="asistenciaIncidenciaNg" *ngIf="!edicion">
                        <option [ngValue]="null" [disabled]="true" [selected]="true">Asistencia/Incidencia*</option>
                        <option *ngFor="let calendarioType of calendariosTypes" [value]="calendarioType.texto">{{calendarioType.texto | titlecase}}</option>
                    </select>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-editar-entrada-calendario"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.asistenciaIncidencia.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of calendarios_validation_messages.asistenciaIncidencia">
                            <div class="error-message" *ngIf="calendariosForm.get('asistenciaIncidencia').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div>  
            </div>
        </div> -->

        <div class="row">
            
            <div class="col-12 col-md-6">
                <label class="input-title" for="Datos">Asistencia/Incidencia</label>
                <div class="row recuadro">
                    <div class="col-12">
                        <div class="form-group position-relative has-icon-left">
                            <input id="asistenciaIncidencia" class="form-control text-capitalize" formControlName="asistenciaIncidencia"
                            [ngClass]="{ 'is-invalid': submitted && f.asistenciaIncidencia.errors }"  placeholder="Asistencia/Incidencia*" [(ngModel)]="asistenciaIncidenciaNg" *ngIf="edicion" disabled  
                                style="background-color: rgba(255, 255, 255, 0.25) !important; ">
                            <select id="asistenciaIncidencia" class="form-control text-capitalize" formControlName="asistenciaIncidencia"
                                [ngClass]="{ 'is-invalid': submitted && f.asistenciaIncidencia.errors }"  placeholder="Asistencia/Incidencia*" [(ngModel)]="asistenciaIncidenciaNg" *ngIf="!edicion">
                                <option [ngValue]="null" [disabled]="true" [selected]="true">Asistencia/Incidencia*</option>
                                <option *ngFor="let calendarioType of calendariosTypes" [value]="calendarioType.texto">{{calendarioType.texto | titlecase}}</option>
                            </select>
                            <div class="form-control-position">
                                <i class="pavyurba-input pavyurba-icon-editar-entrada-calendario"></i>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="submitted && f.asistenciaIncidencia.errors"
                                class="invalid-feedback">
                                <div *ngFor="let validation of calendarios_validation_messages.asistenciaIncidencia">
                                    <div class="error-message" *ngIf="calendariosForm.get('asistenciaIncidencia').hasError(validation.type) ">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div>  
                    </div>
                </div>

                <label class="input-title" for="Datos">Datos</label>
                <div class="row recuadro">
                    <div class="col-md-12" *ngIf="asistenciaIncidenciaNg == 'INCIDENCIA'">
                        <label style="font-size: smaller;" *ngIf="edicion">Tipo de Incidencia*</label>
                        <div class="form-group position-relative has-icon-left">
                            <select id="tipo" class="form-control text-capitalize" formControlName="tipo"
                                [ngClass]="{ 'is-invalid': submitted && f.tipo.errors }"  placeholder="Tipo de Incidencia*">
                                <option [ngValue]="null" [disabled]="true" [selected]="true">Tipo de Incidencia*</option>
                                <option *ngFor="let incidenciaType of incidenciasTypes" [value]="incidenciaType.texto">{{incidenciaType.texto | titlecase}}</option>
                            </select>
                            <div class="form-control-position">
                                <i class="pavyurba-input pavyurba-icon-tipo-incidencia"></i>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="submitted && f.tipo.errors"
                                class="invalid-feedback">
                                <div *ngFor="let validation of calendarios_validation_messages.tipo">
                                    <div class="error-message" *ngIf="calendariosForm.get('tipo').hasError(validation.type) ">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div>  
                    </div> 
                    <div class="col-md-12" *ngIf="asistenciaIncidenciaNg == 'INCIDENCIA'">
                        <label style="font-size: smaller;" *ngIf="edicion">Definición de Incidencia</label>
                        <div class="form-group position-relative has-icon-left">
                            <input type="text" id="incidencia"  [ngClass]="{ 'is-invalid': submitted && f.incidencia.errors }" class="form-control" placeholder="Definición de Incidencia"
                                formControlName="incidencia" value={{calendariosIncidencias.incidencia}}>
                            <div class="form-control-position">
                                <i class="pavyurba-input pavyurba-icon-definicion-incidencia"></i>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="submitted && f.incidencia.errors"
                                class="invalid-feedback">
                                <div *ngFor="let validation of calendarios_validation_messages.incidencia">
                                    <div class="error-message" *ngIf="calendariosForm.get('incidencia').hasError(validation.type)">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div> 
                    </div>
                    <div class="col-md-12" *ngIf="!(asistenciaIncidenciaNg == 'INCIDENCIA')">
                        <label style="font-size: smaller;" *ngIf="edicion">Nombre/Denominación de Obra*</label>
                        <div class="form-group position-relative has-icon-left">
                            <ng-select [items]="obras" [searchable]="true" placeholder="Nombre/Denominación de Obra*"
                                bindLabel="texto" bindValue="id"
                                id="idObra" formControlName="idObra">
                            </ng-select>
                            <div class="form-control-position">
                                <i class="pavyurba-input pavyurba-icon-obra"></i>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="submitted && f.idObra.errors"
                                class="invalid-feedback">
                                <div *ngFor="let validation of calendarios_validation_messages.idObra">
                                    <div class="error-message" *ngIf="calendariosForm.get('idObra').hasError(validation.type) ">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div>  
                    </div> 
                    <div class="col-md-12"> 
                        <label style="font-size: smaller;" *ngIf="edicion">Nombre Trabajador*</label>
                        <div class="form-group position-relative has-icon-left">
                            <!-- <select id="idEmpleado" class="form-control" formControlName="idEmpleado"
                                [ngClass]="{ 'is-invalid': submitted && f.idEmpleado.errors }" placeholder="Nombre*">
                                <option [ngValue]="null" [disabled]="true" [selected]="true">Nombre Trabajador*</option>
                                <option *ngFor="let employee of employeesCombo" [value]="employee.id">{{employee.texto}}</option>
                            </select> -->
                            <ng-select [ngClass]="{ 'is-invalid': submitted && f.idEmpleado.errors }" 
                            [items]="employeesCombo" [searchable]="true" placeholder="Nombre Trabajador*"
                                bindLabel="texto" bindValue="id"
                                id="idEmpleado" formControlName="idEmpleado">
                            </ng-select>
                            <div class="form-control-position">
                                <i class="pavyurba-input pavyurba-icon-user"></i>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="submitted && f.idEmpleado.errors"
                                class="invalid-feedback">
                                <div *ngFor="let validation of calendarios_validation_messages.idEmpleado">
                                    <div class="error-message" *ngIf="calendariosForm.get('idEmpleado').hasError(validation.type) ">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label style="font-size: smaller;" *ngIf="edicion">Observaciones</label>
                        <div class="form-group position-relative has-icon-left">
                            <input type="text" id="observaciones"  [ngClass]="{ 'is-invalid': submitted && f.observaciones.errors }" class="form-control" placeholder="Observaciones"
                                formControlName="observaciones" value={{calendariosIncidencias.observaciones}} maxlength="{{maxLength}}" [(ngModel)]="mensaje">
                            <div class="text-right">
                                <!-- <span>{{mensaje.length}}/{{maxLength}}</span> -->
                                <span *ngIf="mensaje != null && mensaje != undefined; else mensajeLength">
                                    {{mensaje.length}}/{{maxLength}}                            
                                </span>
                                <ng-template #mensajeLength >
                                <span>
                                    0/{{maxLength}}                            
                                </span>
                                </ng-template>
                            </div>
                            <div class="form-control-position">
                                <i class="pavyurba-input pavyurba-icon-observaciones"></i>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="submitted && f.observaciones.errors"
                                class="invalid-feedback">
                                <div *ngFor="let validation of calendarios_validation_messages.observaciones">
                                    <div class="error-message" *ngIf="calendariosForm.get('observaciones').hasError(validation.type)">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <!-- <label class="input-title" for="Datos">Rango de Fecha</label> -->
                <div class="row recuadro1">
                    <input type="hidden" id="id"  formControlName="id" value={{calendariosIncidencias.id}} >
                    <!-- <div class="col-md-9">
                        <div class="form-group position-relative has-icon-left">
                            <div class="right-checkbox">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="porRango"
                                    id="porRango" [(ngModel)]="porRango" checked>
                                    <label class="custom-control-label w-100" for="porRango">¿Por Rango?</label>
                                </div>
                            </div> 
                            <small class="form-text text-muted danger" *ngIf="submitted && f.porRango.errors"
                                class="invalid-feedback">
                                <div *ngFor="let validation of calendarios_validation_messages.porRango">
                                    <div class="error-message" *ngIf="calendariosForm.get('porRango').hasError(validation.type)">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div> 
                    </div> -->
                    <!-- <div class="col-md-12">
                        <label style="font-size: smaller;" *ngIf="edicion">Fecha Desde*</label>
                        <div class="form-group position-relative has-icon-left">                                    
                            <input [ngClass]="{ 'is-invalid': submitted && f.fechaDesde.errors }" class="form-control" placeholder="Fecha Desde*" formControlName="fechaDesde" [(ngModel)]="fechaDesde" 
                            ngbDatepicker #d="ngbDatepicker" value={{calendariosIncidencias.fechaDesde}}>
                            <div class="form-control-position" (click)="d.toggle()">
                                <i class="pavyurba-input pavyurba-icon-fecha-alta" style="cursor: pointer;"></i>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="submitted && f.fechaDesde.errors"
                                class="invalid-feedback">
                                <div *ngFor="let validation of calendarios_validation_messages.fechaDesde">
                                    <div class="error-message" *ngIf="calendariosForm.get('fechaDesde').hasError(validation.type) ">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div> 
                    </div>
                    <div class="col-md-12" *ngIf="porRango">
                        <label style="font-size: smaller;" *ngIf="edicion">Fecha Hasta*</label>
                        <div class="form-group position-relative has-icon-left">                                    
                            <input [ngClass]="{ 'is-invalid': submitted && f.fechaHasta.errors }" class="form-control" placeholder="Fecha Hasta*" formControlName="fechaHasta" [(ngModel)]="fechaHasta" 
                            ngbDatepicker #d1="ngbDatepicker" value={{calendariosIncidencias.fechaHasta}}>
                            <div class="form-control-position" (click)="d1.toggle()">
                                <i class="pavyurba-input pavyurba-icon-fecha-baja" style="cursor: pointer;"></i>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="submitted && f.fechaHasta.errors"
                                class="invalid-feedback">
                                <div *ngFor="let validation of calendarios_validation_messages.fechaHasta">
                                    <div class="error-message" *ngIf="calendariosForm.get('fechaHasta').hasError(validation.type) ">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div> 
                    </div> -->
                    <div class="col-md-12" style="text-align: center;">
                        <ngb-datepicker #dp1111 (dateSelect)="onDateChange($event)" [displayMonths]="2"
                            [dayTemplate]="t" outsideDays="collapsed" formControlName="fechaDesde" [(ngModel)]="fechaDesde">
                        </ngb-datepicker>
                        <!-- outsideDays="hidden" -->
                        <ng-template #t let-date let-focused="focused">
                            <span class="custom-day" 
                                [class.focused]="focused" 
                                [class.range]="isRange(date)"
                                [class.faded]="isHovered(date) || isInside(date)" 
                                (mouseenter)="hoveredDate = date"
                                (mouseleave)="hoveredDate = null">
                                {{ date.day }}
                            </span>
                        </ng-template>
                        <!-- <hr> -->
                        <!-- <div class="row">
                            <div class="col-12 col-md-6">
                                <p>From: {{ fromDate | json }} </p>
                            </div>
                            <div class="col-12 col-md-6">
                                <p>To: {{ toDate | json }} </p>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        
        
        <label class="input-title" for="Subir Documentos" *ngIf="asistenciaIncidenciaNg == 'INCIDENCIA'">Subir Documentos</label>
        <div class="row recuadro" *ngIf="asistenciaIncidenciaNg == 'INCIDENCIA'">
        
            <div class="col-md-12">
                <div class="form-group">
                    <button class="btn btn-block btn-pavyurba mb-1" (click)="document()">
                    <i class="pavyurba-btn pavyurba-icon-subir-documento"></i>{{titleDocumento}}
                    </button>
                    <input type="file" [ngClass]="{ 'is-invalid': submitted && archivoValid }" style="display:none" class="form-control" formControlName="documento" id="documento"
                        (change)="onFileChange($event)">
                    <!-- <label #labelImport></label> -->
                    <small class="form-text text-muted danger" *ngIf="submitted && archivoValid"
                        class="invalid-feedback">
                        <div *ngFor="let validation of calendarios_validation_messages.documento">
                            <div class="error-message">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div>
                <!-- <div class="form-group"> -->
                    <!-- <div class="custom-file"> -->
                    
                    <!-- <label class="custom-file-label" #labelImport for="inputGroupFile01">Choose file</label> -->
                    <!-- </div> -->
                <!-- </div> -->
            </div>
        </div>
    </div>
    <div class="modal-footer">   
        <button type="button" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize" (click)="closeModal.emit(true)">
            <i class="pavyurba-icon pavyurba-icon-cancel" ></i>&nbsp; Cancelar
        </button>
        <button type="submit" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize">
            <i class="pavyurba-icon pavyurba-icon-done-o"></i>&nbsp; {{ edicion ? 'Editar Entrada':'Crear Entrada' }}
        </button>
    </div>
</form>


