<form [formGroup]="locationsForm" (ngSubmit)="add()" >
    <div class="form-body">
        <label class="input-title" for="Datos">Datos</label>
        <div class="row recuadro">
            <div class="col-md-12">
                <!-- <div class="form-group position-relative has-icon-left">
                    <input type="text" id="provincia" [ngClass]="{ 'is-invalid': submitted && f.provincia.errors }" class="form-control" placeholder="Provincia*"
                        formControlName="provincia" value={{locations.provincia}} >
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-localidad"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.provincia.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of locations_validation_messages.provincia">
                            <div class="error-message" *ngIf="locationsForm.get('provincia').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div>  -->
                <label style="font-size: smaller;" *ngIf="edicion">Provincia*</label>
                <div class="form-group position-relative has-icon-left">
                    <!-- <select id="idProvincia" class="form-control" formControlName="idProvincia"
                        [ngClass]="{ 'is-invalid': submitted && f.idProvincia.errors }" placeholder="Provincia*">
                        <option [ngValue]="null" [disabled]="true" [selected]="true">Provincia*</option>
                        <option *ngFor="let prov of provincias" [value]="prov.id">{{prov.texto}}</option>
                    </select> -->
                    <ng-select [ngClass]="{ 'is-invalid': submitted && f.idProvincia.errors }" 
                    [items]="provincias" [searchable]="true" placeholder="Provincia*"
                        bindLabel="texto" bindValue="id"
                        id="idProvincia" formControlName="idProvincia">
                    </ng-select>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-provincia"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.idProvincia.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of locations_validation_messages.idProvincia">
                            <div class="error-message" *ngIf="locationsForm.get('idProvincia').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-md-12">
                <label style="font-size: smaller;" *ngIf="edicion">Localidad*</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="text" id="localidad" [ngClass]="{ 'is-invalid': submitted && f.localidad.errors }" class="form-control" placeholder="Localidad*"
                        formControlName="localidad" value={{locations.localidad}}>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-localidad-new"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.localidad.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of locations_validation_messages.localidad">
                            <div class="error-message" *ngIf="locationsForm.get('localidad').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
        </div>
    </div>
    <div class="modal-footer">   
        <button type="button" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize" (click)="closeModal.emit(true)">
            <i class="pavyurba-icon pavyurba-icon-cancel" ></i>&nbsp; Cancelar
        </button>
        <button type="submit" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize">
            <i class="pavyurba-icon pavyurba-icon-done-o"></i>&nbsp; {{ edicion ? 'Guardar Cambios':'Crear Localidad' }}
        </button>
    </div>
</form>

