<form [formGroup]="dietasForm" (ngSubmit)="add()">
    <div class="form-body" >
        <div class="row ">
            <div class="col-md-6" *ngIf="tipoGestion === types.Parcial">
                <label class="input-title" for="Buscar Trabajadores">Buscar Trabajadores</label>
                <div class="recuadro">
                    <div class="col-md-12">
                        <label style="font-size: smaller;">Trabajadores*</label>
                        <div class="form-group">
                            <ng-select formControlName="idsEmpleados" [items]="multipleSelectArray" [multiple]="true" bindLabel="texto"
                                placeholder="Seleccione trabajadores" [(ngModel)]="multipleMultiSelect"
                                class="form-control px-0 py-0" [ngClass]="{ 'is-invalid': submitted && f.idsEmpleados.errors }">
                            </ng-select>
                            <small class="form-text text-muted danger" *ngIf="submitted && f.idsEmpleados.errors"
                            class="invalid-feedback">
                            <div *ngFor="let validation of dietas_validation_messages.idsEmpleados">
                                <div class="error-message" *ngIf="dietasForm.get('idsEmpleados').hasError(validation.type)">
                                    {{validation.message}}
                                </div>
                            </div>
                        </small>
                        </div>
                    </div>
                </div>
            </div>
            <div [ngClass]="{'col-md-6': tipoGestion !== types.Parcial ? true:false, 'col-md-3': tipoGestion === types.Parcial ? true:false}" >
                <label class="input-title" for="En Madrid"> En Madrid </label>
                <div class="recuadro">                    
                    <div [ngClass]="{'col-md-10': tipoGestion !== types.Parcial ? true:false, 'col-md-12': tipoGestion === types.Parcial ? true:false}" >
                        <label style="font-size: smaller;">Valor en Madrid*</label>
                        <div class="form-group position-relative has-icon-left">
                            <input type="number"  [ngClass]="{ 'is-invalid': submitted && f.valorenMadrid.errors }" class="form-control" placeholder="Valor"
                                formControlName='valorenMadrid' value={{dietas.valorenMadrid}} >
                            <div class="form-control-position">
                                <i class="pavyurba-input pavyurba-icon-dieta-madrid"></i>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="submitted && f.valorenMadrid.errors"
                                class="invalid-feedback">
                                <div *ngFor="let validation of dietas_validation_messages.valorenMadrid">
                                    <div class="error-message" *ngIf="dietasForm.get('valorenMadrid').hasError(validation.type) && (dietasForm.get('valorenMadrid').dirty || dietasForm.get('valorenMadrid').touched)">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div>
                    </div>
                    <div class="col-md-2 pl-0" *ngIf="tipoGestion !== types.Parcial"> 
                        <br>
                        <button type="button" class="btn btn-black mr-1">EUR</button>
                    </div>
                </div>
            </div>
            <div [ngClass]="{'col-md-6': tipoGestion !== types.Parcial ? true:false, 'col-md-3': tipoGestion === types.Parcial ? true:false}" >
                <label class="input-title" for="Fuera de Madrid"> Fuera de Madrid </label>
                <div class="recuadro">                    
                    <div [ngClass]="{'col-md-10': tipoGestion !== types.Parcial ? true:false, 'col-md-12': tipoGestion === types.Parcial ? true:false}" >
                        <label style="font-size: smaller;">Valor Fuera de Madrid*</label>
                        <div class="form-group position-relative has-icon-left">
                            <input type="hidden" formControlName="tipoGestion" value="">
                            <input type="number"  [ngClass]="{ 'is-invalid': submitted && f.valorfueraMadrid.errors }" class="form-control" placeholder="Valor"
                                formControlName='valorfueraMadrid' value={{dietas.valorfueraMadrid}} >
                            <div class="form-control-position">
                                <i class="pavyurba-input pavyurba-icon-dieta-fuera-madrid"></i>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="submitted && f.valorfueraMadrid.errors"
                                class="invalid-feedback">
                                <div *ngFor="let validation of dietas_validation_messages.valorfueraMadrid">
                                    <div class="error-message" *ngIf="dietasForm.get('valorfueraMadrid').hasError(validation.type) && (dietasForm.get('valorfueraMadrid').dirty || dietasForm.get('valorfueraMadrid').touched)">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div>
                    </div>
                    <div class="col-md-2 pl-0" *ngIf="tipoGestion !== types.Parcial"> 
                        <br>
                        <button type="button" class="btn btn-black mr-1">EUR</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn float-right btn-pavyurba" [ngClass]="{'btn-red': tipoGestion === types.Total ? true:false}">
                    <i class="pavyurba-icon pavyurba-icon-done-o"></i>&nbsp; Guardar Cambios
                </button>
            </div>
        </div>                                    
    </div>
</form>