
    <div class="row">
        <div class="col-12 col-md-12" *blockUI="'componentsParteTrabajo'; message: 'Loading'">
            <div class="card min-height-8">
                <div class="card-header">
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group position-relative has-icon-left">
                                <input type="search" class="form-control text-black" placeholder="Buscar" (change)="searchFilter($event)">
                                <div class="form-control-position">
                                    <i class="pavyurba-input pavyurba-icon-busqueda"></i>
                                </div>
                            </div>
                        </div>
                        <div class="pr-1">
                            <app-custom-button 
                                [btnName]="'Crear Parte de Trabajo'"
                                [btnType]="'button'"
                                [btnClass]="'btn btn-pavyurba delete-all btn-filters-grid text-capitalize'"
                                [btnIcon]="'pavyurba-icon-add-o'"
                                (click)="addModel(ModalParteTrabajoDetail, null)">
                            </app-custom-button>
                        </div>
                    </div>
                </div>
                <div class="card-content ">
                    <div class="table-responsive min-height-8" fxFlex="auto">
                        <table class="table table-striped border_bottom table-hover">
                            <thead>
                            <tr>
                                <!--<th scope="col" class="border-top-0"></th>-->
                                <!-- <th scope="col" class="border-top-0">N°</th> -->
                                <th scope="col" class="border-top-0">Nombre Trabajador</th>
                                <th scope="col" class="border-top-0">Condición</th>
                                <th scope="col" class="border-top-0">Metros</th>
                                <th scope="col" class="border-top-0">Precio</th>
                                <th scope="col" class="border-top-0">Valor</th>
                                <th scope="col" class="border-top-0">Feriado/Festivo</th>
                                <th scope="col" class="border-top-0">Observaciones</th>
                                <th scope="col" class="border-top-0">Fecha</th>
                                <th scope="col" class="border-top-0">Modificado</th>
                                <th scope="col" class="border-top-0">Editado por</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr class="text-truncate pointer" *ngFor="let row of rowsFiltered; let i = index" >
                                    <!--<td class="text-truncate pointer">
                                        <span class="custom-control custom-checkbox" >
                                            <input type="checkbox" class="custom-control-input" id="select{{i}}" value="{{row.id}}" [checked]="row.selected" (change)="onCheckboxChangeFn(i,!row.selected, $event)"/>
                                            <label class="custom-control-label" for="select{{i}}"></label>
                                        </span>
                                    </td>-->
                                    <!-- <td (click)="addModel(ModalParteTrabajoDetail, row)">{{row.id}}</td> -->
                                    <td (click)="addModel(ModalParteTrabajoDetail, row)">{{row.empleado}}</td>
                                    <td (click)="addModel(ModalParteTrabajoDetail, row)">{{row.condicion}}</td>
                                    <td (click)="addModel(ModalParteTrabajoDetail, row)">{{row.metros}}</td>
                                    <td (click)="addModel(ModalParteTrabajoDetail, row)">{{row.precio}}</td>
                                    <td (click)="addModel(ModalParteTrabajoDetail, row)">{{row.valor}}</td>
                                    <td (click)="addModel(ModalParteTrabajoDetail, row)">{{row.feriadoFestivo ? 'SI' : 'NO'}}</td>
                                    <td (click)="addModel(ModalParteTrabajoDetail, row)">
                                        <div class="truncate-cell">{{row.observaciones}}</div>
                                    </td>
                                    <td (click)="addModel(ModalParteTrabajoDetail, row)">{{row.fecha}}</td>
                                    <td (click)="addModel(ModalParteTrabajoDetail, row)">{{row.fechaHoraLog}}</td>
                                    <td (click)="addModel(ModalParteTrabajoDetail, row)">{{row.usuarioLog}}</td>
                                </tr>
                            </tbody>
                            
                        </table>
                        </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div  *ngIf="pagination" class="row col-md-8 justify-content-start pt-1">
                            <!-- Total: {{ pagination.total }} -->
                            <div class="col-12 col-md-4" *ngIf="validTotalParteTrabajo">
                                <span style="color: yellow;">Total: {{ totalParteTrabajo }}€</span> 
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <nav aria-label="Page navigation">
                                <div class="pagination justify-content-end pagination-separate pagination-curved pagination-flat">
                                    <select class="custom-select custom-select-pagination" style="width: auto" [(ngModel)]="pagination.per_page" (ngModelChange)="refreshCountries()">
                                        <option [ngValue]="5">Ver 5</option>
                                        <option [ngValue]="10">Ver 10</option>
                                        <option [ngValue]="20">Ver 20</option>
                                        <option [ngValue]="50">Ver 50</option>
                                    </select>
                                    <ngb-pagination
                                    [collectionSize]="pagination.total" 
                                    [(page)]="pagination.current_page" 
                                    [boundaryLinks]="true" 
                                    [maxSize]="1"
                                    [pageSize]="pagination.per_page"
                                    (pageChange)="pageChanged($event)" aria-label="Default pagination">
                                        <ng-template ngbPaginationFirst><i class="pavyurba-btn-p pavyurba-icon-chevrons-left"></i></ng-template>
                                        <ng-template ngbPaginationLast><i class="pavyurba-btn-p pavyurba-icon-chevrons-right"></i></ng-template>
                                        <ng-template ngbPaginationPrevious><i class="pavyurba-btn-p pavyurba-icon-chevron-left"></i></ng-template>
                                        <ng-template ngbPaginationNext><i class="pavyurba-btn-p pavyurba-icon-chevron-right"></i></ng-template>
                                        <ng-template ngbPaginationEllipsis>...</ng-template>
                                        <ng-template ngbPaginationNumber let-page class="round">{{ page }}</ng-template>
                                    </ngb-pagination>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
<!-- Modal -->
<ng-template class="modal text-left" #ModalParteTrabajoDetail let-c="close" let-d="dismiss">
    <app-modal-parte-trabajo-detail
        *ngIf="cargaCompleta"
        [idObras]="idObras"
        [titel]="titelModal"
        [idParteTrabajo]="idParteTrabajo"
        (setModal)="onSetModal($event)"
        >
    </app-modal-parte-trabajo-detail>
</ng-template>
