
<div class="row">
    <div class="col-12 col-md-12" *blockUI="'componentsVinculadas'; message: 'Loading'">
        <div class="card min-height-8">
            <div class="card-content ">
                <div class="table-responsive min-height-8" fxFlex="auto">
                    <table class="table table-striped border_bottom table-hover">
                        <thead>
                        <tr>
                            <!--<th scope="col" class="border-top-0"></th>-->
                            <th scope="col" class="border-top-0">ID</th>
                            <th scope="col" class="border-top-0">Cliente</th>
                            <th scope="col" class="border-top-0">Constructora</th>
                            <th scope="col" class="border-top-0">Denominación de Obra</th>
                            <th scope="col" class="border-top-0">Ingresos</th>
                            <th scope="col" class="border-top-0">P. Trabajo</th>
                            <th scope="col" class="border-top-0">Dif. Nómina</th>
                            <th scope="col" class="border-top-0">Gastos</th>
                            <th scope="col" class="border-top-0">Gastos Generales</th>
                            <th scope="col" class="border-top-0">G. Administrativos</th>
                            <th scope="col" class="border-top-0">S. Social</th>
                            <th scope="col" class="border-top-0">Diferencia</th>
                            <th scope="col" class="border-top-0">Días</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr class="text-truncate pointer" *ngFor="let row of rowsFiltered; let i = index" >
                                <td>{{row.id}}</td>
                                <td>{{row.cliente}}</td>
                                <td>{{row.constructora}}</td>
                                <td>{{row.nombre}}</td>
                                <td>                                                                                                    
                                    <div class="pl-1" style="float: right;">    
                                        <span *ngIf="row.ingresos != null">{{row.ingresos}}€ &nbsp;</span>                                                                                                             
                                    </div>
                                </td>
                                <td>
                                    <div class="pl-1" style="float: right;">    
                                        <span *ngIf="row.partesTrabajos != null">{{row.partesTrabajos}} &nbsp;</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="pl-1" style="float: right;">    
                                        <span *ngIf="row.diferenciasNomina != null">{{row.diferenciasNomina}}€ &nbsp;</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="pl-1" style="float: right;">    
                                        <span *ngIf="row.gastos != null">{{row.gastos}}€ &nbsp;</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="pl-1" style="float: right;">    
                                        <span *ngIf="row.gastosGenerales != null">{{row.gastosGenerales}}€ &nbsp;</span>
                                    </div>
                                <td>
                                    <div class="pl-1" style="float: right;">    
                                        <span *ngIf="row.gastosGeneralesAdministrativos != null">{{row.gastosGeneralesAdministrativos}}€ &nbsp;</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="pl-1" style="float: right;">    
                                        <span *ngIf="row.seguridadSocial != null">{{row.seguridadSocial}}€ &nbsp;</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="pl-1">    
                                        <span *ngIf="row.diferencias != null">{{row.diferencias}}€ &nbsp;</span>                                                                                                             
                                    </div>
                                </td>
                                <td>
                                    <div class="pl-1" style="float: right;">    
                                        <span *ngIf="row.dias != null">{{row.dias}} &nbsp;</span>
                                    </div>                                                
                                </td>
                            </tr>
                        </tbody>
                        
                    </table>
                    </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div  *ngIf="pagination" class="row col-md-8 justify-content-start">
                        <!-- Total: {{ pagination.total }} -->
                        <div class="col-12 col-md-4" *ngIf="validTotalIngresos">
                            <span style="color: yellow;">Total Ingresos: {{ totalIngresos }}€</span> 
                        </div>
                        <div class="col-12 col-md-4" *ngIf="validTotalPartesTrabajos">
                            <span style="color: yellow;">Total P.Trabajos: {{ totalPartesTrabajos }}€</span> 
                        </div>                                        
                        <div class="col-12 col-md-4" *ngIf="validTotalDiferenciasNomina">
                            <span style="color: yellow;">Total Dif.Nómina: {{ totalDiferenciasNomina }}€</span> 
                        </div>   
                        <div class="col-12 col-md-4" *ngIf="validTotalGastos">
                            <span style="color: yellow;">Total Gastos: {{ totalGastos }}€</span> 
                        </div>
                        <div class="col-12 col-md-4" *ngIf="validTotalGastosGenerales">
                            <span style="color: yellow;">Total G.Generales: {{ totalGastosGenerales }}€</span> 
                        </div>                                        
                        <div class="col-12 col-md-4" *ngIf="validTotalGastosGeneralesAdministrativos">
                            <span style="color: yellow;">Total G.Admin: {{ totalGastosGeneralesAdministrativos }}€</span> 
                        </div> 
                        <div class="col-12 col-md-4" *ngIf="validTotalSeguridadSocial">
                            <span style="color: yellow;">Total S.Social: {{ totalSeguridadSocial }}€</span> 
                        </div>
                        <div class="col-12 col-md-4" *ngIf="validTotalDiferencias">
                            <span style="color: yellow;">Total Diferencias: {{ totalDiferencias }}€</span> 
                        </div>                                        
                        <div class="col-12 col-md-4" *ngIf="validTotalDias">
                            <span style="color: yellow;">Total Días: {{ totalDias }}</span> 
                        </div>                                      
                    </div>
                    <div class="col-md-4">
                        <nav aria-label="Page navigation">
                            <div class="pagination justify-content-end pagination-separate pagination-curved pagination-flat">
                                <select class="custom-select custom-select-pagination" style="width: auto" [(ngModel)]="pagination.per_page" (ngModelChange)="refreshCountries()">
                                    <option [ngValue]="5">Ver 5</option>
                                    <option [ngValue]="10">Ver 10</option>
                                    <option [ngValue]="20">Ver 20</option>
                                    <option [ngValue]="50">Ver 50</option>
                                </select>
                                <ngb-pagination
                                [collectionSize]="pagination.total" 
                                [(page)]="pagination.current_page" 
                                [boundaryLinks]="true" 
                                [maxSize]="1"
                                [pageSize]="pagination.per_page"
                                (pageChange)="pageChanged($event)" aria-label="Default pagination">
                                    <ng-template ngbPaginationFirst><i class="pavyurba-btn-p pavyurba-icon-chevrons-left"></i></ng-template>
                                    <ng-template ngbPaginationLast><i class="pavyurba-btn-p pavyurba-icon-chevrons-right"></i></ng-template>
                                    <ng-template ngbPaginationPrevious><i class="pavyurba-btn-p pavyurba-icon-chevron-left"></i></ng-template>
                                    <ng-template ngbPaginationNext><i class="pavyurba-btn-p pavyurba-icon-chevron-right"></i></ng-template>
                                    <ng-template ngbPaginationEllipsis>...</ng-template>
                                    <ng-template ngbPaginationNumber let-page class="round">{{ page }}</ng-template>
                                </ngb-pagination>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

