@mixin pavyurba-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.pavyurba-icon {
  @include pavyurba-icon-background();
  position: relative;
  display: inline-block;
  width: (4 / 3) * 1em;
  line-height: 1em;
  &:before {
    content: '\00a0';
  }
}

@mixin pavyurba-icon($name) {
  .pavyurba-icon-#{$name} {
    background-image: url(#{$pavyurba-icon-css-path}#{$pavyurba-icon-rect-path}/#{$name}.svg);
  }
  .active {
    &.pavyurba-icon-#{$name} {
      background-image: url(#{$pavyurba-icon-css-path}#{$pavyurba-icon-square-path}/#{$name}.svg);
    }
  }
}
