.pavyurba-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.4em;
  margin-right: .5rem;
}
.pavyurba-btn {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1em;
  margin-right: .5rem;
}
.pavyurba-input {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  margin-bottom: .1rem;
}
.pavyurba-btn-p {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: .7em;
  height: .7em;
  line-height: .7em;
}

.pavyurba-icon:before {
  content: '\00a0';
}

/* **************** ICONOS MENU ***************** */
/*  trabajadores */
.pavyurba-icon-workers {
  background-image: url(../pavyurbas/30x30/workers.svg);
}
/* .active .pavyurba-icon-workers {
  background-image: url(../pavyurbas/1x1/workers.svg);
} */

/*  empresas */
.pavyurba-icon-business {
  background-image: url(../pavyurbas/30x30/business.svg);
}
/* .active .pavyurba-icon-business{
  background-image: url(../pavyurbas/1x1/business.svg);
} */

/*  obras */
.pavyurba-icon-plays {
  background-image: url(../pavyurbas/30x30/plays.svg);
}
/* .active .pavyurba-icon-plays {
  background-image: url(../pavyurbas/1x1/plays.svg);
} */

/*  clientes */
.pavyurba-icon-client {
  background-image: url(../pavyurbas/30x30/client.svg);
}
/* .active .pavyurba-icon-client {
  background-image: url(../pavyurbas/1x1/client.svg);
} */

/*  nominas */
.pavyurba-icon-paysheet {
  background-image: url(../pavyurbas/30x30/paysheet.svg);
}
/* .active .pavyurba-icon-paysheet {
  background-image: url(../pavyurbas/1x1/paysheet.svg);
} */

/*  calendario */
.pavyurba-icon-calendar {
  background-image: url(../pavyurbas/30x30/calendar.svg);
}
/* .active .pavyurba-icon-calendar {
  background-image: url(../pavyurbas/1x1/calendar.svg);
} */

/*  condiciones */
.pavyurba-icon-terms {
  background-image: url(../pavyurbas/30x30/terms.svg);
}
/* .active .pavyurba-icon-terms {
  background-image: url(../pavyurbas/1x1/terms.svg);
} */

/*  facturas */
.pavyurba-icon-invoices {
  background-image: url(../pavyurbas/30x30/invoices.svg);
}
/* .active .pavyurba-icon-invoices {
  background-image: url(../pavyurbas/1x1/invoices.svg);
} */

/*  incidencias */
.pavyurba-icon-incidents {
  background-image: url(../pavyurbas/30x30/incidents.svg);
}
/* .active .pavyurba-icon-incidents {
  background-image: url(../pavyurbas/1x1/incidents.svg);
} */

/*  proveedores */
.pavyurba-icon-provider {
  background-image: url(../pavyurbas/30x30/provider.svg);
}
/* .active .pavyurba-icon-provider {
  background-image: url(../pavyurbas/1x1/provider.svg);
} */

/*  estadisticas */
.pavyurba-icon-statistics {
  background-image: url(../pavyurbas/30x30/statistics.svg);
}
/* .active .pavyurba-icon-statistics {
  background-image: url(../pavyurbas/1x1/statistics.svg);
} */

/*  ajustes */
.pavyurba-icon-settings {
  background-image: url(../pavyurbas/30x30/settings.svg);
}
/* .active .pavyurba-icon-settings {
  background-image: url(../pavyurbas/1x1/settings.svg);
} */
/*  constructoras */
.pavyurba-icon-builders {
  background-image: url(../pavyurbas/30x30/builders.svg);
}
/* .active .pavyurba-icon-settings {
  background-image: url(../pavyurbas/1x1/settings.svg);
} */
/*  condiciones */
.pavyurba-icon-condiciones {
  background-image: url(../pavyurbas/30x30/condiciones.svg);
}
/* .active .pavyurba-icon-settings {
  background-image: url(../pavyurbas/1x1/settings.svg);
} */
/*  datos */
.pavyurba-icon-data {
  background-image: url(../pavyurbas/30x30/datos.svg);
}
/* .active .pavyurba-icon-settings {
  background-image: url(../pavyurbas/1x1/settings.svg);
} */
/*  facturas */
.pavyurba-icon-facturas {
  background-image: url(../pavyurbas/30x30/facturas.svg);
}
/* .active .pavyurba-icon-settings {
  background-image: url(../pavyurbas/1x1/settings.svg);
} */
/*  informes */
.pavyurba-icon-informes {
  background-image: url(../pavyurbas/30x30/informes.svg);
}
/* .active .pavyurba-icon-settings {
  background-image: url(../pavyurbas/1x1/settings.svg);
} */
/*  albaranes */
.pavyurba-icon-albaranes {
  background-image: url(../pavyurbas/30x30/albaranes.svg);
}
/* .active .pavyurba-icon-settings {
  background-image: url(../pavyurbas/1x1/settings.svg);
} */
/*  materiales */
.pavyurba-icon-materiales {
  background-image: url(../pavyurbas/30x30/materiales.svg);
}
/* .active .pavyurba-icon-settings {
  background-image: url(../pavyurbas/1x1/settings.svg);
} */
/*  pdetrabajo */
.pavyurba-icon-pdetrabajo {
  background-image: url(../pavyurbas/30x30/pdetrabajo.svg);
}
/* .active .pavyurba-icon-settings {
  background-image: url(../pavyurbas/1x1/settings.svg);
} */
/*  contratos */
.pavyurba-icon-contratos {
  background-image: url(../pavyurbas/30x30/contratos.svg);
}
/* .active .pavyurba-icon-settings {
  background-image: url(../pavyurbas/1x1/settings.svg);
} */

/* **************** ICONOS BUTTON ***************** */
/*  Buscar */
.pavyurba-icon-lupa {
  background-image: url(../pavyurbas/30x30/lupa.svg);
}
/*  Crear */
.pavyurba-icon-add {
  background-image: url(../pavyurbas/30x30/add.svg);
}
/*  Crear sin relleno*/
.pavyurba-icon-add-o {
  background-image: url(../pavyurbas/30x30/add-o.svg);
}
/*  Flecchas */
.pavyurba-icon-chevron-left {
  background-image: url(../pavyurbas/30x30/chevron-left.svg);
}
.pavyurba-icon-chevron-right {
  background-image: url(../pavyurbas/30x30/chevron-right.svg);
}
.pavyurba-icon-chevrons-left {
  background-image: url(../pavyurbas/30x30/chevrons-left.svg);
}
.pavyurba-icon-chevrons-right {
  background-image: url(../pavyurbas/30x30/chevrons-right.svg);
}
.pavyurba-icon-input {
  background-image: url(../pavyurbas/30x30/input.svg);
}
.pavyurba-icon-cancel {
  background-image: url(../pavyurbas/30x30/cancelar.svg);
}
.pavyurba-icon-done-o {
  background-image: url(../pavyurbas/30x30/aceptar.svg);
}
.pavyurba-icon-delete {
  background-image: url(../pavyurbas/30x30/delete.svg);
}
.pavyurba-icon-metros-o {
  background-image: url(../pavyurbas/30x30/metros-o.svg);
}
.pavyurba-icon-condicion {
  background-image: url(../pavyurbas/30x30/condicion.svg);
}
.pavyurba-icon-add-location {
  background-image: url(../pavyurbas/30x30/add-location.svg);
}
.pavyurba-icon-add-location-o {
  background-image: url(../pavyurbas/30x30/add-location-o.svg);
}
.pavyurba-icon-direccion {
  background-image: url(../pavyurbas/30x30/direccion.svg);
}
.pavyurba-icon-user {
  background-image: url(../pavyurbas/30x30/user.svg);
}
.pavyurba-icon-nacionalidad {
  background-image: url(../pavyurbas/30x30/nacionalidad.svg);
}
.pavyurba-icon-email {
  background-image: url(../pavyurbas/30x30/email.svg);
}
.pavyurba-icon-informe {
  background-image: url(../pavyurbas/30x30/informe.svg);
}
.pavyurba-icon-empresa {
  background-image: url(../pavyurbas/30x30/empresa.svg);
}
.pavyurba-icon-clase-autonomo {
  background-image: url(../pavyurbas/30x30/clase-autonomo.svg);
}
.pavyurba-icon-fecha-alta {
  background-image: url(../pavyurbas/30x30/fecha-alta.svg);
}
.pavyurba-icon-fecha-baja {
  background-image: url(../pavyurbas/30x30/fecha-baja.svg);
}
.pavyurba-icon-hucha {
  background-image: url(../pavyurbas/30x30/hucha.svg);
}
.pavyurba-icon-hucha-base {
  background-image: url(../pavyurbas/30x30/hucha-base.svg);
}
.pavyurba-icon-observaciones {
  background-image: url(../pavyurbas/30x30/observaciones.svg);
}
.pavyurba-icon-telefono {
  background-image: url(../pavyurbas/30x30/telefono.svg);
}
.pavyurba-icon-unidades {
  background-image: url(../pavyurbas/30x30/unidades.svg);
}
.pavyurba-icon-precio {
  background-image: url(../pavyurbas/30x30/precio.svg);
}
.pavyurba-icon-cod-trabajo {
  background-image: url(../pavyurbas/30x30/cod-trabajo.svg);
}
.pavyurba-icon-nif {
  background-image: url(../pavyurbas/30x30/nif.svg);
}
.pavyurba-icon-constructora {
  background-image: url(../pavyurbas/30x30/constructora.svg);
}
.pavyurba-icon-cliente {
  background-image: url(../pavyurbas/30x30/cliente.svg);
}
.pavyurba-icon-obra {
  background-image: url(../pavyurbas/30x30/obra.svg);
}
.pavyurba-icon-proveedor {
  background-image: url(../pavyurbas/30x30/proveedor.svg);
}
.pavyurba-icon-material {
  background-image: url(../pavyurbas/30x30/material.svg);
}
.pavyurba-icon-numero-albaran {
  background-image: url(../pavyurbas/30x30/numero-albaran.svg);
}
.pavyurba-icon-seguro-social {
  background-image: url(../pavyurbas/30x30/seguro-social.svg);
}
.pavyurba-icon-localidad {
  background-image: url(../pavyurbas/30x30/localidad.svg);
}
.pavyurba-icon-subir-documento {
  background-image: url(../pavyurbas/30x30/subir-documento.svg);
}
.pavyurba-icon-busqueda {
  background-image: url(../pavyurbas/30x30/busqueda.svg);
}
.pavyurba-icon-filtrar {
  background-image: url(../pavyurbas/30x30/filtrar.svg);
}
.pavyurba-icon-id {
  background-image: url(../pavyurbas/30x30/id.svg);
}
.pavyurba-icon-factura {
  background-image: url(../pavyurbas/30x30/factura.svg);
}
.pavyurba-icon-recibido {
  background-image: url(../pavyurbas/30x30/recibido.svg);
}
.pavyurba-icon-bajar-documento {
  background-image: url(../pavyurbas/30x30/bajar-documento.svg);
}
.pavyurba-icon-precio-o {
  background-image: url(../pavyurbas/30x30/precio-o.svg);
}
.pavyurba-icon-dar-de-alta {
  background-image: url(../pavyurbas/30x30/dar-de-alta.svg);
}
.pavyurba-icon-dar-de-baja {
  background-image: url(../pavyurbas/30x30/dar-de-baja.svg);
}
.pavyurba-icon-informe-o {
  background-image: url(../pavyurbas/30x30/informe-o.svg);
}
.pavyurba-icon-fuera-madrid {
  background-image: url(../pavyurbas/30x30/fuera-madrid.svg);
}
.pavyurba-icon-ano {
  background-image: url(../pavyurbas/30x30/ano.svg);
}
.pavyurba-icon-mes {
  background-image: url(../pavyurbas/30x30/mes.svg);
}
.pavyurba-icon-obra-o {
  background-image: url(../pavyurbas/30x30/obra-o.svg);
}
.pavyurba-icon-ir-a-hoy {
  background-image: url(../pavyurbas/30x30/ir-a-hoy.svg);
}
.pavyurba-icon-siguiente-mes {
  background-image: url(../pavyurbas/30x30/siguiente-mes.svg);
}
.pavyurba-icon-mes-anterior {
  background-image: url(../pavyurbas/30x30/mes-anterior.svg);
}
.pavyurba-icon-informes-generales {
  background-image: url(../pavyurbas/30x30/informes-generales.svg);
}
.pavyurba-icon-irpf {
  background-image: url(../pavyurbas/30x30/irpf.svg);
}
.pavyurba-icon-embargo {
  background-image: url(../pavyurbas/30x30/embargo.svg);
}
.pavyurba-icon-seguridad-social {
  background-image: url(../pavyurbas/30x30/seguridad-social.svg);
}
.pavyurba-icon-total-bruto {
  background-image: url(../pavyurbas/30x30/total-bruto.svg);
}
.pavyurba-icon-total {
  background-image: url(../pavyurbas/30x30/total.svg);
}
.pavyurba-icon-dni-t {
  background-image: url(../pavyurbas/30x30/dni-t.svg);
}
.pavyurba-icon-dieta-fuera-madrid {
  background-image: url(../pavyurbas/30x30/dieta-fuera-madrid.svg);
}
.pavyurba-icon-dieta-madrid {
  background-image: url(../pavyurbas/30x30/dieta-madrid.svg);
}
.pavyurba-icon-hucha-t {
  background-image: url(../pavyurbas/30x30/hucha-t.svg);
}
.pavyurba-icon-fecha-conversion {
  background-image: url(../pavyurbas/30x30/fecha-conversion.svg);
}
.pavyurba-icon-constructora-obra {
  background-image: url(../pavyurbas/30x30/constructora-obra.svg);
}
.pavyurba-icon-tipo-incidencia {
  background-image: url(../pavyurbas/30x30/tipo-incidencia.svg);
}
.pavyurba-icon-definicion-incidencia {
  background-image: url(../pavyurbas/30x30/definicion-incidencia.svg);
}
.pavyurba-icon-editar-entrada-calendario {
  background-image: url(../pavyurbas/30x30/editar-entrada-calendario.svg);
}
.pavyurba-icon-numero-factura {
  background-image: url(../pavyurbas/30x30/numero-factura.svg);
}
.pavyurba-icon-codigo-postal {
  background-image: url(../pavyurbas/30x30/codigo-postal.svg);
}
.pavyurba-icon-crear-localidad {
  background-image: url(../pavyurbas/30x30/crear-localidad.svg);
}
.pavyurba-icon-localidad-new {
  background-image: url(../pavyurbas/30x30/localidad-new.svg);
}
.pavyurba-icon-provincia {
  background-image: url(../pavyurbas/30x30/provincia.svg);
}
.pavyurba-icon-b-dias-trabajados {
  background-image: url(../pavyurbas/30x30/b-dias-trabajados.svg);
}
.pavyurba-icon-b-gastos {
  background-image: url(../pavyurbas/30x30/b-gastos.svg);
}
.pavyurba-icon-b-ingresos {
  background-image: url(../pavyurbas/30x30/b-ingresos.svg);
}
.pavyurba-icon-b-obras {
  background-image: url(../pavyurbas/30x30/b-obras.svg);
}
.pavyurba-icon-b-pdetrabajo {
  background-image: url(../pavyurbas/30x30/b-pdetrabajo.svg);
}
.pavyurba-icon-calculo-estadisticas {
  background-image: url(../pavyurbas/30x30/calculo-estadisticas.svg);
}
.pavyurba-icon-gastos {
  background-image: url(../pavyurbas/30x30/gastos.svg);
}
.pavyurba-icon-informe-new {
  background-image: url(../pavyurbas/30x30/informe-new.svg);
}
.pavyurba-icon-gastos-generales {
  background-image: url(../pavyurbas/30x30/gastos-generales.svg);
}

/* Botones de Crear */
