<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <!-- <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb> -->
        </div>
        <div class="content-body">
            <section id="selection-n-deletion">
                <div class="row">
                    <div class="col-12 col-md-12" *blockUI="'componentsEmployees'; message: 'Loading'">
                        <div class="card min-height-8">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-group position-relative has-icon-left">
                                            <input type="search" class="form-control text-black" placeholder="Buscar" (change)="searchFilter($event)">
                                            <div class="form-control-position">
                                                <i class="pavyurba-input pavyurba-icon-busqueda"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 pl-0">
                                        <div class="form-group position-relative has-icon-left">
                                            <ng-select [items]="business" [searchable]="true" placeholder="Empresa*" (change)="setEmpresa($event)"
                                                bindLabel="texto" bindValue="id" dropdownPosition="bottom"
                                                id="idEmpresa" [(ngModel)]="idEmpresa">
                                            </ng-select>
                                            <div class="form-control-position">
                                                <i class="pavyurba-input pavyurba-icon-empresa"></i>
                                            </div>
                                            <!-- <select id="idEmpresa" class="form-control text-black" placeholder="Empresa*" (change)="setEmpresa($event)"
                                            [(ngModel)]="idEmpresa">
                                                <option [ngValue]="null" [disabled]="true" [selected]="true">Empresa*</option>
                                                <option *ngFor="let busines of business" [value]="busines.id">{{busines.texto}}</option>
                                            </select>
                                            <div class="form-control-position">
                                                <i class="pavyurba-input pavyurba-icon-empresa"></i>
                                            </div> -->
                                        </div> 
                                    </div>
                                    <div class="pr-1">
                                        <app-custom-button 
                                            [btnName]="'crear empleado'"
                                            [btnType]="'button'"
                                            [btnClass]="'btn btn-pavyurba delete-all btn-filters-grid text-capitalize'"
                                            [btnIcon]="'pavyurba-icon-add'"
                                            (click)="addModel(ModalEmployeesDetail, null)">
                                        </app-custom-button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content ">
                                <div class="table-responsive min-height-8" fxFlex="auto">
                                    <table class="table table-striped border_bottom table-hover">
                                        <thead>
                                        <tr>
                                            <!--<th scope="col" class="border-top-0"></th>-->
                                            <th scope="col" class="border-top-0">Activo</th>
                                            <th scope="col" class="border-top-0">N°</th>
                                            <th scope="col" class="border-top-0">Trabajadores</th>
                                            <th scope="col" class="border-top-0">Dirección</th>
                                            <th scope="col" class="border-top-0">Localidad</th>
                                            <th scope="col" class="border-top-0">Telf.</th>
                                            <th scope="col" class="border-top-0">Tipo</th>
                                            <th scope="col" class="border-top-0">Fecha Alta</th>
                                            <th scope="col" class="border-top-0">Fecha Baja</th>
                                            <th scope="col" class="border-top-0">Empresa</th>
                                            <th scope="col" class="border-top-0">Nif</th>
                                            <th scope="col" class="border-top-0">Estado Civil</th>
                                            <th scope="col" class="border-top-0">Nacionalidad</th>
                                            <th scope="col" class="border-top-0">N° Seguridad Social</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-truncate pointer" *ngFor="let row of rowsFiltered; let i = index" >
                                                <!--<td class="text-truncate pointer">
                                                    <span class="custom-control custom-checkbox" >
                                                        <input type="checkbox" class="custom-control-input" id="select{{i}}" value="{{row.id}}" [checked]="row.selected" (change)="onCheckboxChangeFn(i,!row.selected, $event)"/>
                                                        <label class="custom-control-label" for="select{{i}}"></label>
                                                    </span>
                                                </td>-->
                                                <td>
                                                    <ui-switch 
                                                        class="switchery"
                                                        size="small"
                                                        color="#9AE26E"
                                                        [checked]="row.habilitado"
                                                        (change)="onChange($event, row.id)">
                                                    </ui-switch>
                                                </td>
                                                <td (click)="addModel(ModalEmployeesDetail, row)">{{row.id}}</td>
                                                <td (click)="addModel(ModalEmployeesDetail, row)">{{row.nombre}}</td>
                                                <td (click)="addModel(ModalEmployeesDetail, row)">
                                                    <div class="truncate-cell">{{row.direccion}}</div>
                                                </td>
                                                <td (click)="addModel(ModalEmployeesDetail, row)">{{row.localidad}}</td>
                                                <td (click)="addModel(ModalEmployeesDetail, row)">{{row.telefono}}</td>
                                                <td (click)="addModel(ModalEmployeesDetail, row)">{{ row.tipo}}</td>
                                                <td (click)="addModel(ModalEmployeesDetail, row)">{{row.fechaAlta}}</td>
                                                <td (click)="addModel(ModalEmployeesDetail, row)">{{row.fechaBaja}}</td>
                                                <td (click)="addModel(ModalEmployeesDetail, row)">{{row.empresa}}</td>
                                                <td (click)="addModel(ModalEmployeesDetail, row)">{{row.identificacion}}</td>
                                                <td (click)="addModel(ModalEmployeesDetail, row)">{{row.estadoCivil}}</td>
                                                <td (click)="addModel(ModalEmployeesDetail, row)">{{row.nacionalidad}}</td>
                                                <td (click)="addModel(ModalEmployeesDetail, row)">{{row.numeroSeguroSocial}}</td>
                                            </tr>
                                        </tbody>
                                        
                                    </table>
                                    </div>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div  *ngIf="pagination" class="col-md-3 justify-content-start pt-1">
                                        <!-- Total: {{ pagination.total }} -->
                                    </div>
                                    <div class="col-md-9">
                                        <nav aria-label="Page navigation">
                                            <div class="pagination justify-content-end pagination-separate pagination-curved pagination-flat">
                                                <select class="custom-select custom-select-pagination" style="width: auto" [(ngModel)]="pagination.per_page" (ngModelChange)="refreshCountries()">
                                                    <option [ngValue]="5">Ver 5</option>
                                                    <option [ngValue]="10">Ver 10 </option>
                                                    <option [ngValue]="20">Ver 20</option>
                                                    <option [ngValue]="50">Ver 50 </option>
                                                </select>
                                                <ngb-pagination
                                                [collectionSize]="pagination.total" 
                                                [(page)]="pagination.current_page" 
                                                [boundaryLinks]="true" 
                                                [maxSize]="1"
                                                [pageSize]="pagination.per_page"
                                                (pageChange)="pageChanged($event)" aria-label="Default pagination">
                                                    <ng-template ngbPaginationFirst><i class="pavyurba-btn-p pavyurba-icon-chevrons-left"></i></ng-template>
                                                    <ng-template ngbPaginationLast><i class="pavyurba-btn-p pavyurba-icon-chevrons-right"></i></ng-template>
                                                    <ng-template ngbPaginationPrevious><i class="pavyurba-btn-p pavyurba-icon-chevron-left"></i></ng-template>
                                                    <ng-template ngbPaginationNext><i class="pavyurba-btn-p pavyurba-icon-chevron-right"></i></ng-template>
                                                    <ng-template ngbPaginationEllipsis>...</ng-template>
                                                    <ng-template ngbPaginationNumber let-page class="round">{{ page }}</ng-template>
                                                </ngb-pagination>
                                                
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
            </section>
        </div>
        <!-- Modal -->
        <ng-template class="modal text-left" #ModalEmployeesDetail let-c="close" let-d="dismiss">
            <div class="modal-{{ size }}">
                <div class="modal-header">
                    <h3 id="myModalLabel23">{{titelModal}}</h3>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-scroll-y  p-0" *ngIf="cargaCompleta">
                    <div class="row">
                        <div *ngIf="edicion" class="col-2 col-md-2 pr-0">
                            <app-sidebar
                                [_menuSettingsConfig]="menuSettingsConfig"
                                (pageActive)="onPageActive($event)">
                            </app-sidebar>
                        </div>
                        <div class="col-{{edicion ? '10' : '12'}} col-md-{{edicion ? '10' : '12'}} min-height-8 " [ngClass]="{'pl-0':edicion}" >
                            <div [ngSwitch]="switch_expression">
                                <!-- the same view can be shown in more than one case -->
                                <!-- <div *ngSwitchCase="'calendario'">
                                    <app-custom-list
                                        [isFooter]="true"
                                        [isHead]="false"
                                        [idListar]="idEmployeesListar"
                                        [switchCase]="'calendario'"
                                        [rowsthead]="rowsHeadCalendario">
                                    </app-custom-list>
                                </div> -->
                                <!-- <div *ngSwitchCase="'incidencias'">
                                    <app-custom-list
                                        [isFooter]="true"
                                        [isHead]="false"
                                        [idListar]="idEmployeesListar"
                                        [switchCase]="'incidencias'"
                                        [rowsthead]="rowsHeadIncidencias">
                                    </app-custom-list>
                                </div> -->
                                <div *ngSwitchCase="'condiciones'">
                                    <app-conditions-employees 
                                        [idEmployees]="idEmployeesListar"
                                        [dietasDentroMadrid]="dietasDentroMadrid"
                                        [dietasFueraMadrid]="dietasFueraMadrid"
                                        (closeModal)="onCloseModal($event)">
                                    </app-conditions-employees>
                                </div>
                                <div *ngSwitchCase="'hucha'">
                                    <app-huchas 
                                        [idEmployees]="idEmployeesListar">
                                    </app-huchas></div>
                                <div *ngSwitchCase="'informes'">
                                    <app-informes 
                                        [idEmpleado]="idEmployeesListar"
                                        [tipoGeneracion]="tipoGeneracion">
                                    </app-informes>
                                </div>
                                <!-- <div *ngSwitchCase="'contratos'">... Contratos ...</div> -->
                                <!-- <div *ngSwitchCase="'nomina'">... nomina ...</div> -->
                                <!-- <div *ngSwitchCase="'hist-cambios'">
                                    <app-custom-list
                                        [isFooter]="true"
                                        [isHead]="false"
                                        [idListar]="idEmployeesListar"
                                        [switchCase]="'hist-cambios'"
                                        [rowsthead]="rowsHeadHistory">
                                    </app-custom-list>
                                </div> -->
                                <!--default case when there are no matches -->
                                <div *ngSwitchDefault>
                                    <app-employees-detail 
                                        [idEmployees]="idEmployeesListar"
                                        [dietasDentroMadrid]="dietasDentroMadrid"
                                        [dietasFueraMadrid]="dietasFueraMadrid"
                                        (closeModal)="onCloseModal($event)">
                                    </app-employees-detail>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div *ngIf="idEmployeesListar !== null && switch_expression !== 'datos' && switch_expression !== 'condiciones' && switch_expression !== 'hucha'" class="modal-footer">
                    <button type="button" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize" (click)="d('Cross click')">
                        <i class="pavyurba-icon pavyurba-icon-cancel" ></i>&nbsp; Cancelar
                    </button>
                </div>
            </div>
        </ng-template>
    </div>
</div>
