<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <!-- <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb> -->
        </div>
        <div class="content-body">
            <section id="selection-n-deletion">
                <div class="row">
                    <div class="col-12 col-md-12" *blockUI="'componentsObras'; message: 'Loading'">
                        <div class="card min-height-8">
                            <div class="card-header">
                                <div class="row">                                    
                                    <div class="col-3">
                                        <div class="form-group position-relative has-icon-left">
                                            <input type="search" class="form-control text-black" placeholder="Buscar" (change)="searchFilter($event)">
                                            <div class="form-control-position">
                                                <i class="pavyurba-input pavyurba-icon-busqueda"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2 pl-0">
                                        <div class="form-group position-relative has-icon-left">
                                            <ng-select [items]="clientes" [searchable]="true" placeholder="Clientes*" (change)="setClientes($event)"
                                                bindLabel="texto" bindValue="id" dropdownPosition="bottom"
                                                id="idCliente" [(ngModel)]="idCliente">
                                            </ng-select>
                                            <div class="form-control-position">
                                                <i class="pavyurba-input pavyurba-icon-cliente"></i>
                                            </div>
                                            <!-- <select id="idEmpresa" class="form-control text-black" placeholder="Empresa*" (change)="setEmpresa($event)"
                                            [(ngModel)]="idEmpresa">
                                                <option [ngValue]="null" [disabled]="true" [selected]="true">Empresa*</option>
                                                <option *ngFor="let busines of business" [value]="busines.id">{{busines.texto}}</option>
                                            </select>
                                            <div class="form-control-position">
                                                <i class="pavyurba-input pavyurba-icon-empresa"></i>
                                            </div> -->
                                        </div> 
                                    </div>
                                    <div class="col-2 pl-0">
                                        <div class="form-group position-relative has-icon-left">
                                            <ng-select [items]="constructoras" [searchable]="true" placeholder="Constructoras*" (change)="setConstructoras($event)"
                                                bindLabel="texto" bindValue="id" dropdownPosition="bottom"
                                                id="idConstructora" [(ngModel)]="idConstructora">
                                            </ng-select>
                                            <div class="form-control-position">
                                                <i class="pavyurba-input pavyurba-icon-constructora-obra"></i>
                                            </div>
                                            <!-- <select id="idEmpresa" class="form-control text-black" placeholder="Empresa*" (change)="setEmpresa($event)"
                                            [(ngModel)]="idEmpresa">
                                                <option [ngValue]="null" [disabled]="true" [selected]="true">Empresa*</option>
                                                <option *ngFor="let busines of business" [value]="busines.id">{{busines.texto}}</option>
                                            </select>
                                            <div class="form-control-position">
                                                <i class="pavyurba-input pavyurba-icon-empresa"></i>
                                            </div> -->
                                        </div> 
                                    </div>
                                    <div class="pr-1">
                                        <app-custom-button 
                                            [btnName]="'Nueva Obra'"
                                            [btnType]="'button'"
                                            [btnClass]="'btn btn-pavyurba delete-all btn-filters-grid text-capitalize'"
                                            [btnIcon]="'pavyurba-icon-add'"
                                            (click)="addModel(ModalObraDetail, null)">
                                        </app-custom-button>
                                    </div>
                                    <div class="pr-1">
                                        <app-custom-button 
                                            [btnName]="'Nueva P. de Trabajo'"
                                            [btnType]="'button'"
                                            [btnClass]="'btn btn-pavyurba delete-all btn-filters-grid text-capitalize'"
                                            [btnIcon]="'pavyurba-icon-add'"
                                            (click)="addParteTrabajo(ModalParteTrabajoDetail)">
                                        </app-custom-button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content ">
                                <div class="table-responsive min-height-8" fxFlex="auto">
                                    <table class="table table-striped border_bottom table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col" class="border-top-0">Activo</th>
                                            <th scope="col" class="border-top-0">N°</th>
                                            <th scope="col" class="border-top-0">Obras</th>
                                            <th scope="col" class="border-top-0">Constructura</th>
                                            <th scope="col" class="border-top-0">Cliente</th>
                                            <th scope="col" class="border-top-0">Dirección</th>
                                            <th scope="col" class="border-top-0">Localidad</th>
                                            <th scope="col" class="border-top-0">Fecha Alta</th>
                                            <th scope="col" class="border-top-0">Observaciones</th>
                                            <th scope="col" class="border-top-0">Adjunto</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-truncate pointer" *ngFor="let row of rowsFiltered; let i = index" >
                                                <td>
                                                    <ui-switch 
                                                        class="switchery"
                                                        size="small"
                                                        color="#9AE26E"
                                                        [checked]="row.habilitado"
                                                        (change)="onChange($event, row.id)">
                                                    </ui-switch>
                                                </td>
                                                <td (click)="addModel(ModalObraDetail, row)">{{row.id}}</td>
                                                <td (click)="addModel(ModalObraDetail, row)">{{row.nombre}}</td>
                                                <td (click)="addModel(ModalObraDetail, row)">{{row.constructora}}</td>
                                                <td (click)="addModel(ModalObraDetail, row)">{{row.cliente}}</td>
                                                <td (click)="addModel(ModalObraDetail, row)">
                                                    <div class="truncate-cell">{{row.direccion}}</div>
                                                </td>
                                                <td (click)="addModel(ModalObraDetail, row)">{{row.localidad}}</td>
                                                <td (click)="addModel(ModalObraDetail, row)">{{row.fechaInicio}}</td>
                                                <td>
                                                    <div class="truncate-cell">{{row.observaciones}}</div>
                                                </td>
                                                <td>
                                                    <app-custom-button 
                                                        *ngIf="row.presupuesto.nombre != null && row.presupuesto.nombre != undefined; else userloggedOut"
                                                        [btnName]="'Bajar'"
                                                        [btnType]="'button'"
                                                        [btnClass]="'btn btn-pavyurba delete-all btn-filters-grid text-capitalize'"
                                                        [btnIcon]="'pavyurba-icon-bajar-documento'"
                                                        (click)="downloadFile(row)">
                                                    </app-custom-button>
                                                    <ng-template #userloggedOut>
                                                        Sin Archivo
                                                    </ng-template>
                                                </td>                                                
                                            </tr>
                                        </tbody>
                                        
                                    </table>
                                    </div>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div  *ngIf="pagination" class="col-md-3 justify-content-start pt-1">
                                        <!-- Total: {{ pagination.total }} -->
                                    </div>
                                    <div class="col-md-9">
                                        <nav aria-label="Page navigation">
                                            <div class="pagination justify-content-end pagination-separate pagination-curved pagination-flat">
                                                <select class="custom-select custom-select-pagination" style="width: auto" [(ngModel)]="pagination.per_page" (ngModelChange)="refreshCountries()">
                                                    <option [ngValue]="5">Ver 5</option>
                                                    <option [ngValue]="10">Ver 10 </option>
                                                    <option [ngValue]="20">Ver 20</option>
                                                    <option [ngValue]="50">Ver 50 </option>
                                                </select>
                                                <ngb-pagination
                                                [collectionSize]="pagination.total" 
                                                [(page)]="pagination.current_page" 
                                                [boundaryLinks]="true" 
                                                [maxSize]="1"
                                                [pageSize]="pagination.per_page"
                                                (pageChange)="pageChanged($event)" aria-label="Default pagination">
                                                    <ng-template ngbPaginationFirst><i class="pavyurba-btn-p pavyurba-icon-chevrons-left"></i></ng-template>
                                                    <ng-template ngbPaginationLast><i class="pavyurba-btn-p pavyurba-icon-chevrons-right"></i></ng-template>
                                                    <ng-template ngbPaginationPrevious><i class="pavyurba-btn-p pavyurba-icon-chevron-left"></i></ng-template>
                                                    <ng-template ngbPaginationNext><i class="pavyurba-btn-p pavyurba-icon-chevron-right"></i></ng-template>
                                                    <ng-template ngbPaginationEllipsis>...</ng-template>
                                                    <ng-template ngbPaginationNumber let-page class="round">{{ page }}</ng-template>
                                                </ngb-pagination>
                                                
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
            </section>
        </div>
        <!-- Modal -->
        <ng-template class="modal text-left" #ModalObraDetail let-c="close" let-d="dismiss">
            <div class="modal-{{ size }}">
                <div class="modal-header">
                    <h3 id="myModalLabel23">{{titelModal}}</h3>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-scroll-y  p-0" *ngIf="cargaCompleta">
                    <div class="row">
                        <div *ngIf="edicion" class="col-auto">
                            <app-sidebar
                                [_menuSettingsConfig]="menuSettingsConfig"
                                (pageActive)="onPageActive($event)">
                            </app-sidebar>
                        </div>
                        <div class="col-{{edicion ? '10' : '12'}} col-md-{{edicion ? '10' : '12'}} min-height-8 " [ngClass]="{'pl-0':edicion}" >
                            <div [ngSwitch]="switch_expression">
                                <!-- the same view can be shown in more than one case -->
                                <!-- <div *ngSwitchCase="'calendario'">... Calendario ...</div> -->
                                <!-- <div *ngSwitchCase="'incidencia'">... Incidencia ...</div> -->
                                <!-- <div *ngSwitchCase="'condiciones'">... condiciones ...</div> -->
                                <div *ngSwitchCase="'contratos'">
                                    <app-contratos 
                                        [idObras]="idObrasListar">
                                    </app-contratos>
                                </div>
                                <div *ngSwitchCase="'facturas'">
                                    <app-facturas 
                                        [idObras]="idObrasListar">
                                    </app-facturas>
                                </div>
                                <div *ngSwitchCase="'parte-trabajo'">
                                    <app-parte-trabajo 
                                        [idObras]="idObrasListar">
                                    </app-parte-trabajo>
                                </div>
                                <div *ngSwitchCase="'informes'">
                                    <app-informes 
                                        [idObras]="idObrasListar"
                                        [tipoGeneracion]="tipoGeneracion">
                                    </app-informes>
                                </div>                                
                                <!-- <div *ngSwitchCase="'gastos-generales'">
                                    <app-gastos-generales 
                                        [idObras]="idObrasListar">
                                    </app-gastos-generales>
                                </div>                                 -->
                                <div *ngSwitchCase="'calendarios'">
                                    <app-calendarios-obras 
                                        [idObras]="idObrasListar">
                                    </app-calendarios-obras>
                                </div>
                                <!-- <div *ngSwitchCase="'materiales'">... materiales ...</div> -->
                                <!--default case when there are no matches -->
                                <div *ngSwitchDefault>
                                    <app-obras-detail 
                                        [idObras]="idObrasListar"
                                        (closeModal)="onCloseModal($event)">
                                    </app-obras-detail>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- <div *ngIf="idObrasListar !== null && switch_expression !== 'datos'" class="modal-footer">
                    <button type="button" class="btn btn-black mr-1" (click)="d('Cross click')">
                        <i class="pavyurba-icon pavyurba-icon-cancel" ></i>&nbsp; Cancelar
                    </button>
                </div> -->
            </div>
        </ng-template>
    </div>
</div>

<ng-template class="modal text-left" #ModalParteTrabajoDetail let-c="close" let-d="dismiss">
    <app-modal-parte-trabajo-detail
        *ngIf="cargaCompleta"
        [idObras]="null"
        [titel]="'Crear Parte de Trabajo'"
        [idParteTrabajo]="null"
        (setModal)="onSetModal($event)"
        >
    </app-modal-parte-trabajo-detail>
</ng-template>

