<form [formGroup]="calendariosForm" (ngSubmit)="add()" >
    <div class="form-body">
        <label class="input-title" for="Datos">Datos</label>
        <div class="row recuadro">
            <div class="col-md-12">
                <label style="font-size: smaller;" *ngIf="edicion">Nombre/Denominación de Obra*</label>
                <div class="form-group position-relative has-icon-left" *ngIf="!(asistenciaIncidenciaNg == 'INCIDENCIA')">
                    <ng-select [items]="obras" [searchable]="true" placeholder="Nombre/Denominación de Obra*"
                        bindLabel="texto" bindValue="id"
                        id="idObra" formControlName="idObra">
                    </ng-select>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-obra"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.idObra.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of calendarios_validation_messages.idObra">
                            <div class="error-message" *ngIf="calendariosForm.get('idObra').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div>  
            </div> 
            <div class="col-md-12"> 
                <label style="font-size: smaller;" *ngIf="edicion">Nombre*</label>
                <div class="form-group position-relative has-icon-left">
                    <!-- <select id="idEmpleado" class="form-control" formControlName="idEmpleado"
                        [ngClass]="{ 'is-invalid': submitted && f.idEmpleado.errors }" placeholder="Nombre*">
                        <option [ngValue]="null" [disabled]="true" [selected]="true">Nombre Trabajador*</option>
                        <option *ngFor="let employee of employeesCombo" [value]="employee.id">{{employee.texto}}</option>
                    </select> -->
                    <ng-select [ngClass]="{ 'is-invalid': submitted && f.idEmpleado.errors }" 
                    [items]="employeesCombo" [searchable]="true" placeholder="Nombre*"
                        bindLabel="texto" bindValue="id"
                        id="idEmpleado" formControlName="idEmpleado">
                    </ng-select>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-user"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.idEmpleado.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of calendarios_validation_messages.idEmpleado">
                            <div class="error-message" *ngIf="calendariosForm.get('idEmpleado').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div>
            </div>
            <div class="col-md-12">
                <label style="font-size: smaller;" *ngIf="edicion">Observaciones</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="text" id="observaciones"  [ngClass]="{ 'is-invalid': submitted && f.observaciones.errors }" class="form-control" placeholder="Observaciones"
                        formControlName="observaciones" value={{calendariosIncidencias.observaciones}} maxlength="{{maxLength}}" [(ngModel)]="mensaje">
                    <div class="text-right">
                        <!-- <span>{{mensaje.length}}/{{maxLength}}</span> -->
                        <span *ngIf="mensaje != null && mensaje != undefined; else mensajeLength">
                            {{mensaje.length}}/{{maxLength}}                            
                        </span>
                        <ng-template #mensajeLength >
                        <span>
                            0/{{maxLength}}                            
                        </span>
                        </ng-template>
                    </div>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-observaciones"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.observaciones.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of calendarios_validation_messages.observaciones">
                            <div class="error-message" *ngIf="calendariosForm.get('observaciones').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
        </div>

        <label class="input-title" for="Datos">Fecha</label>
        <div class="row recuadro">
            <input type="hidden" id="id"  formControlName="id" value={{calendariosIncidencias.id}} >
            <div class="col-12 col-md-6">
                <label style="font-size: smaller;" *ngIf="edicion">Fecha Desde*</label>
                <div class="form-group position-relative has-icon-left">                                    
                    <input [ngClass]="{ 'is-invalid': submitted && f.fechaDesde.errors }" class="form-control" placeholder="Fecha Desde*" formControlName="fechaDesde" [(ngModel)]="fechaDesde" 
                    ngbDatepicker #d="ngbDatepicker" value={{calendariosIncidencias.fechaDesde}} style="color:black">
                    <div class="form-control-position" (click)="d.toggle()">
                        <i class="pavyurba-input pavyurba-icon-fecha-alta" style="cursor: pointer;"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.fechaDesde.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of calendarios_validation_messages.fechaDesde">
                            <div class="error-message" *ngIf="calendariosForm.get('fechaDesde').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-12 col-md-6">
                <label style="font-size: smaller;" *ngIf="edicion">Fecha Hasta*</label>
                <div class="form-group position-relative has-icon-left">                                    
                    <input [ngClass]="{ 'is-invalid': submitted && f.fechaHasta.errors }" class="form-control" placeholder="Fecha Hasta*" formControlName="fechaHasta" [(ngModel)]="fechaHasta" 
                    ngbDatepicker #d1="ngbDatepicker" value={{calendariosIncidencias.fechaHasta}}>
                    <div class="form-control-position" (click)="d1.toggle()">
                        <i class="pavyurba-input pavyurba-icon-fecha-baja" style="cursor: pointer;"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.fechaHasta.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of calendarios_validation_messages.fechaHasta">
                            <div class="error-message" *ngIf="calendariosForm.get('fechaHasta').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
        </div>
    </div>
    <div class="modal-footer">   
        <button type="button" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize" (click)="closeModal.emit(true)">
            <i class="pavyurba-icon pavyurba-icon-cancel" ></i>&nbsp; Cancelar
        </button>
        <button type="submit" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize">
            <i class="pavyurba-icon pavyurba-icon-done-o"></i>&nbsp; Aceptar
        </button>
    </div>
</form>


