.recuadro {
    margin: 1rem;
    padding: 1rem 1rem 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.recuadro1 {
    margin: 1rem;
    padding-top: 1rem;
}
.input-title {
    margin-left: 20px;
    margin-bottom: 0px;
}

:host ::ng-deep .ng-value-container {
    padding-left: 2.5em !important;
}

:host ::ng-deep .ng-select-container {
    background-color: #eeeeee !important;
}

.right-checkbox input[type='checkbox'],
.right-checkbox .custom-control-indicator,
.right-checkbox input[type='radio'],
.right-radio input[type='checkbox'],
.right-radio .custom-control-indicator,
.right-radio input[type='radio'] {
    left: auto;
    top: auto;
    position: absolute;
}

.right-checkbox input[type='checkbox'],
.right-checkbox .custom-control-label::before,
.right-checkbox .custom-control-label::after,
.right-checkbox input[type='radio'],
.right-radio input[type='checkbox'],
.right-radio .custom-control-label::before,
.right-radio .custom-control-label::after,
.right-radio input[type='radio'] {
    left: auto;
    right: 2%;
}

.radio.right-radio label {
    padding-left: 0;
}

/* Image Checkbox selected*/
input[type='checkbox']:checked+img.img-thumbnail {
    background-color: #666EE8;
    color: #999966;
    border-color: #666EE8;
}

:host ::ng-deep .block-ui-wrapper {
    background: rgba(255, 249, 249, 0.5) !important;
}


/* FECHA */
:host ::ng-deep .ngb-dp-header {
    background-color: var(--pavyurba);
    background-color: #525456;
}
:host ::ng-deep .ngb-dp-weekdays {
    background-color: var(--pavyurba);
}
:host ::ng-deep .ngb-dp-weekday {
    color: var(--white);
}
:host ::ng-deep .btn-light {
    border: 1px solid #fff;
    background-color: var(--pavyurba) !important;
    color: #FFFFFF !important;
}
:host ::ng-deep .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
    background-color: #000000 !important;
    border-color: #000000;
}
:host ::ng-deep .dropdown-menu {
    background-color: #525456;
}
:host ::ng-deep .custom-select {
    color: #000000 !important;
}