<form [formGroup]="huchasForm" (ngSubmit)="add()" >
    <div class="form-body">
        <label class="input-title" for="Datos">Valor de Hucha</label>
        <div class="row recuadro">
            <div class="col-md-12">
                <label style="font-size: smaller;" *ngIf="edicion">Hucha*</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="number" id="valor" [ngClass]="{ 'is-invalid': submitted && f.valor.errors }" class="form-control" placeholder="Hucha*"
                        formControlName="valor" value={{huchas.valor}} >
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-hucha-t"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.valor.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of huchas_validation_messages.valor">
                            <div class="error-message" *ngIf="huchasForm.get('valor').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
        </div>

        <label class="input-title" for="Datos">Observaciones</label>
        <div class="row recuadro">
            <div class="col-md-12">
                <label style="font-size: smaller;" *ngIf="edicion">Observaciones*</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="text" id="observaciones" [ngClass]="{ 'is-invalid': submitted && f.observaciones.errors }" class="form-control" placeholder="Observaciones*"
                        formControlName="observaciones" value={{huchas.observaciones}} maxlength="{{maxLength}}" [(ngModel)]="mensaje">
                        <div class="text-right">
                            <!-- <span>{{mensaje.length}}/{{maxLength}}</span> -->
                            <span *ngIf="mensaje != null && mensaje != undefined; else mensajeLength">
                                {{mensaje.length}}/{{maxLength}}                            
                            </span>
                            <ng-template #mensajeLength >
                            <span>
                                0/{{maxLength}}                            
                            </span>
                            </ng-template>
                        </div>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-observaciones"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.observaciones.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of huchas_validation_messages.observaciones">
                            <div class="error-message" *ngIf="huchasForm.get('observaciones').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
        </div>
    </div>
    <div class="modal-footer">   
        <button type="button" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize" (click)="closeModal.emit(true)">
            <i class="pavyurba-icon pavyurba-icon-cancel" ></i>&nbsp; Cancelar
        </button>
        <button type="submit" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize">
            <i class="pavyurba-icon pavyurba-icon-done-o"></i>&nbsp; Aceptar
        </button>
    </div>
</form>

