<form [formGroup]="obrasForm" (ngSubmit)="add()" *blockUI="'componentsObrasDetail'; message: 'Loading'">
    <div class="form-body">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <label class="input-title" for="Datos">Datos Iniciales</label>
                        <div class="recuadro">
                            <input type="hidden" id="id"  formControlName="id" value={{obras.id}} >
                            <div class="col-md-6">
                                <label style="font-size: smaller;" *ngIf="edicion">Fecha Inicio*</label>
                                <div class="form-group position-relative has-icon-left">                                    
                                    <input [ngClass]="{ 'is-invalid': submitted && f.fechaInicio.errors }" class="form-control" placeholder="Fecha Inicio*" formControlName="fechaInicio" [(ngModel)]="fechaInicio" 
                                    ngbDatepicker #d="ngbDatepicker" value={{obras.fechaInicio}}>
                                    <div class="form-control-position" (click)="d.toggle()">
                                        <i class="pavyurba-input pavyurba-icon-fecha-alta" style="cursor: pointer;"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.fechaInicio.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of obras_validation_messages.fechaInicio">
                                            <div class="error-message" *ngIf="obrasForm.get('fechaInicio').hasError(validation.type) ">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                            <div class="col-md-6">
                                <label style="font-size: smaller;" *ngIf="edicion">Fecha Fin</label>
                                <div class="form-group position-relative has-icon-left">                                    
                                    <input [ngClass]="{ 'is-invalid': submitted && f.fechaFin.errors }" class="form-control" placeholder="Fecha Fin" formControlName="fechaFin" [(ngModel)]="fechaFin" 
                                    ngbDatepicker #d2="ngbDatepicker" value={{obras.fechaFin}}>
                                    <div class="form-control-position" (click)="d2.toggle()">
                                        <i class="pavyurba-input pavyurba-icon-fecha-baja" style="cursor: pointer;"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.fechaFin.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of obras_validation_messages.fechaFin">
                                            <div class="error-message" *ngIf="obrasForm.get('fechaFin').hasError(validation.type) ">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                            <div class="col-md-12">
                                <label style="font-size: smaller;" *ngIf="edicion">Nombre/Denominación de Obra*</label>
                                <div class="form-group position-relative has-icon-left">
                                    <input type="text" id="nombre" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" class="form-control" placeholder="Nombre/Denominación de Obra*"
                                        formControlName="nombre" value={{obras.nombre}}>
                                    <div class="form-control-position">
                                        <i class="pavyurba-input pavyurba-icon-obra"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.nombre.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of obras_validation_messages.nombre">
                                            <div class="error-message" *ngIf="obrasForm.get('nombre').hasError(validation.type)">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="input-title" for="Condicion">Cliente, Constructora y Empresa</label>
                        <div class="recuadro">
                            <div class="col-md-12">
                                <label style="font-size: smaller;" *ngIf="edicion">Cliente*</label>
                                <div class="form-group position-relative has-icon-left">
                                    <!-- <select id="idCliente" class="form-control" formControlName="idCliente"
                                        [ngClass]="{ 'is-invalid': submitted && f.idCliente.errors }" placeholder="Cliente*">
                                        <option [ngValue]="null" [disabled]="true" [selected]="true">Cliente*</option>
                                        <option *ngFor="let client of clients" [value]="client.id">{{client.texto}}</option>
                                    </select> -->
                                    <ng-select [ngClass]="{ 'is-invalid': submitted && f.idCliente.errors }" 
                                    [items]="clients" [searchable]="true" placeholder="Cliente*"
                                        bindLabel="texto" bindValue="id"
                                        id="idCliente" formControlName="idCliente">
                                    </ng-select>
                                    <div class="form-control-position">
                                        <i class="pavyurba-input pavyurba-icon-cliente"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.idCliente.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of obras_validation_messages.idCliente">
                                            <div class="error-message" *ngIf="obrasForm.get('idCliente').hasError(validation.type) ">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                            <div class="col-md-12">
                                <label style="font-size: smaller;" *ngIf="edicion">Constructora*</label>
                                <div class="form-group position-relative has-icon-left">
                                    <!-- <select id="idConstructora" class="form-control" formControlName="idConstructora"
                                        [ngClass]="{ 'is-invalid': submitted && f.idConstructora.errors }" placeholder="Constructora*">
                                        <option [ngValue]="null" [disabled]="true" [selected]="true">Constructora*</option>
                                        <option *ngFor="let builder of builders" [value]="builder.id">{{builder.texto}}</option>
                                    </select> -->
                                    <ng-select [ngClass]="{ 'is-invalid': submitted && f.idConstructora.errors }" 
                                    [items]="builders" [searchable]="true" placeholder="Constructora*"
                                        bindLabel="texto" bindValue="id"
                                        id="idConstructora" formControlName="idConstructora">
                                    </ng-select>
                                    <div class="form-control-position">
                                        <i class="pavyurba-input pavyurba-icon-constructora-obra"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.idConstructora.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of obras_validation_messages.idConstructora">
                                            <div class="error-message" *ngIf="obrasForm.get('idConstructora').hasError(validation.type) ">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                            <div class="col-md-12">
                                <label style="font-size: smaller;" *ngIf="edicion">Empresa*</label>
                                <div class="form-group position-relative has-icon-left">
                                    <!-- <select id="idEmpresa" class="form-control" formControlName="idEmpresa"
                                        [ngClass]="{ 'is-invalid': submitted && f.idEmpresa.errors }" placeholder="Empresa*">
                                        <option [ngValue]="null" [disabled]="true" [selected]="true">Empresa*</option>
                                        <option *ngFor="let busines of business" [value]="busines.id">{{busines.texto}}</option>
                                    </select> -->
                                    <ng-select [ngClass]="{ 'is-invalid': submitted && f.idEmpresa.errors }" 
                                    [items]="business" [searchable]="true" placeholder="Empresa*"
                                        bindLabel="texto" bindValue="id"
                                        id="idEmpresa" formControlName="idEmpresa">
                                    </ng-select>
                                    <div class="form-control-position">
                                        <i class="pavyurba-input pavyurba-icon-empresa"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.idEmpresa.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of obras_validation_messages.idEmpresa">
                                            <div class="error-message" *ngIf="obrasForm.get('idEmpresa').hasError(validation.type) ">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="input-title" for="Contacto">Observaciones</label>
                        <div class="recuadro">
                            <div class="col-md-12">
                                <label style="font-size: smaller;" *ngIf="edicion">Observaciones</label>
                                <div class="form-group position-relative has-icon-left">
                                    <input type="text" id="observaciones"  [ngClass]="{ 'is-invalid': submitted && f.observaciones.errors }" class="form-control" placeholder="Observaciones"
                                        formControlName="observaciones" value={{obras.observaciones}} maxlength="{{maxLength}}" [(ngModel)]="mensaje">
                                        <div class="text-right">
                                            <!-- <span>{{mensaje.length}}/{{maxLength}}</span> -->
                                            <span *ngIf="mensaje != null && mensaje != undefined; else mensajeLength">
                                                {{mensaje.length}}/{{maxLength}}                            
                                            </span>
                                            <ng-template #mensajeLength >
                                            <span>
                                                0/{{maxLength}}                            
                                            </span>
                                            </ng-template>
                                        </div>
                                    <div class="form-control-position">
                                        <i class="pavyurba-input pavyurba-icon-observaciones"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.observaciones.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of obras_validation_messages.observaciones">
                                            <div class="error-message" *ngIf="obrasForm.get('observaciones').hasError(validation.type) && (obrasForm.get('observaciones').dirty || obrasForm.get('observaciones').touched)">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="input-title" for="Subir Documentos">Subir Documento de Presupuesto</label>
                        <div class="row recuadro">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button class="btn btn-block btn-pavyurba mb-1" (click)="document()" [ngClass]="{ 'is-invalid': submitted && f.presupuesto.errors }">
                                      <i class="pavyurba-btn pavyurba-icon-subir-documento"></i>{{titleDocumento}}
                                    </button>
                                    <input type="file" [ngClass]="{ 'is-invalid': submitted && contratoValid }" style="display:none" class="form-control" formControlName="presupuesto" id="presupuesto"
                                        (change)="onFileChange($event)">
                                    <!-- <label #labelImport></label> -->
                                    <small class="form-text text-muted danger" *ngIf="submitted && contratoValid"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of obras_validation_messages.presupuesto">
                                            <div class="error-message">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div>
                                <!-- <div class="form-group"> -->
                                    <!-- <div class="custom-file"> -->
                                    
                                    <!-- <label class="custom-file-label" #labelImport for="inputGroupFile01">Choose file</label> -->
                                    <!-- </div> -->
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <label class="input-title" for="Dirección">Dirección</label>
                        <div class="recuadro">
                            <div class="col-md-12">
                                <div class="col-md-{{ size }}">
                                    <div class="form-group position-relative has-icon-left">
                                        <div class="right-checkbox">
                                            <div class="custom-control custom-checkbox" style="padding-top: 0.7rem; padding-left: 3.0rem;">
                                            <input type="checkbox" class="custom-control-input" formControlName="fueraMadrid"
                                                id="fueraMadrid" >
                                            <label class="custom-control-label w-100" for="fueraMadrid">Fuera de Madrid</label>
                                            </div>
                                        </div>
                                        <div class="form-control-position">
                                            <i class="pavyurba-input pavyurba-icon-fuera-madrid"></i>
                                        </div>
                                        <small class="form-text text-muted danger" *ngIf="submitted && f.fueraMadrid.errors"
                                            class="invalid-feedback">
                                            <div *ngFor="let validation of obras_validation_messages.fueraMadrid">
                                                <div class="error-message" *ngIf="obrasForm.get('fueraMadrid').hasError(validation.type) ">
                                                    {{validation.message}}
                                                </div>
                                            </div>
                                        </small>
                                    </div> 
                                </div> 
                            </div>
                            <div class="col-md-7">
                                <label style="font-size: smaller;" *ngIf="edicion">Provincia*</label>
                                <div class="form-group position-relative has-icon-left">
                                    <!-- <select id="idProvincia" class="form-control" formControlName="idProvincia"
                                        [ngClass]="{ 'is-invalid': submitted && f.idProvincia.errors }" placeholder="Provincia*" [(ngModel)]="idProvincia" (change)="changeProvincia()">
                                        <option [ngValue]="null" [disabled]="true" [selected]="true">Provincia*</option>
                                        <option *ngFor="let provincia of provincias" [value]="provincia.id">{{provincia.texto}}</option>
                                    </select> -->
                                    <ng-select [ngClass]="{ 'is-invalid': submitted && f.idProvincia.errors }" 
                                    [items]="provincias" [searchable]="true" placeholder="Provincia*"
                                    [(ngModel)]="idProvincia" (change)="changeProvincia()"
                                        bindLabel="texto" bindValue="id"
                                        id="idProvincia" formControlName="idProvincia">
                                    </ng-select>
                                    <div class="form-control-position">
                                        <i class="pavyurba-input pavyurba-icon-provincia"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.idProvincia.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of obras_validation_messages.idProvincia">
                                            <div class="error-message" *ngIf="obrasForm.get('idProvincia').hasError(validation.type)">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                            <div class="col-md-5 px-0 text-center">
                                <!-- <button type="button" class="btn btn-black mr-1" (click)="addLocation(ModalLocationsDetail)">
                                    <i class="pavyurba-icon pavyurba-icon-add-location" ></i>Crear Localidad
                                </button> -->
                                <span *ngIf="edicion"><br></span>
                                <app-custom-button 
                                    [btnName]="'Crear Localidad'"
                                    [btnType]="'button'"
                                    [btnClass]="'btn btn-pavyurba delete-all btn-filters-grid text-capitalize'"
                                    [btnIcon]="'pavyurba-icon-crear-localidad'"
                                    (click)="addLocation(ModalLocationsDetail)">
                                </app-custom-button>
                            </div>
                            <div class="col-md-7">
                                <label style="font-size: smaller;" *ngIf="edicion">Localidad</label>
                                <div class="form-group position-relative has-icon-left">
                                    <!-- <select id="idLocalidad" class="form-control" formControlName="idLocalidad"
                                        [ngClass]="{ 'is-invalid': submitted && f.idLocalidad.errors }" placeholder="Localidad*">
                                        <option [ngValue]="null" [disabled]="true" [selected]="true">Localidad*</option>
                                        <option *ngFor="let location of locations" [value]="location.id">{{location.texto}}</option>
                                    </select> -->
                                    <ng-select [ngClass]="{ 'is-invalid': submitted && f.idLocalidad.errors }" 
                                    [items]="locations" [searchable]="true" placeholder="Localidad" [(ngModel)]="idLocalidad"
                                        bindLabel="texto" bindValue="id"
                                        id="idLocalidad" formControlName="idLocalidad">
                                    </ng-select>
                                    <div class="form-control-position">
                                        <i class="pavyurba-input pavyurba-icon-localidad-new"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.idLocalidad.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of obras_validation_messages.idLocalidad">
                                            <div class="error-message" *ngIf="obrasForm.get('idLocalidad').hasError(validation.type) ">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                            <div class="col-md-5">
                                <label style="font-size: smaller;" *ngIf="edicion">Código Postal</label>
                                <div class="form-group position-relative has-icon-left">
                                    <input type="text" id="codigoPostal" [ngClass]="{ 'is-invalid': submitted && f.codigoPostal.errors }" class="form-control" placeholder="Código Postal"
                                        formControlName="codigoPostal" value={{obras.codigoPostal}}>
                                    <div class="form-control-position">
                                        <i class="pavyurba-input pavyurba-icon-codigo-postal"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.codigoPostal.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of obras_validation_messages.codigoPostal">
                                            <div class="error-message" *ngIf="obrasForm.get('codigoPostal').hasError(validation.type)">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                            <div class="col-md-12">
                                <label style="font-size: smaller;" *ngIf="edicion">Dirección</label>
                                <div class="form-group position-relative has-icon-left">
                                    <input type="text" id="direccion" [ngClass]="{ 'is-invalid': submitted && f.direccion.errors }" class="form-control" placeholder="Dirección"
                                        formControlName="direccion" value={{obras.direccion}} maxlength="{{maxLength}}" [(ngModel)]="mensajeDir">
                                        <div class="text-right">
                                            <!-- <span>{{mensajeDir.length}}/{{maxLength}}</span> -->
                                            <span *ngIf="mensajeDir != null && mensajeDir != undefined; else mensajeLength">
                                                {{mensajeDir.length}}/{{maxLength}}                            
                                            </span>
                                            <ng-template #mensajeLength >
                                            <span>
                                                0/{{maxLength}}                            
                                            </span>
                                            </ng-template>
                                        </div>
                                    <div class="form-control-position">
                                        <i class="pavyurba-input pavyurba-icon-direccion"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.direccion.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of obras_validation_messages.direccion">
                                            <div class="error-message" *ngIf="obrasForm.get('direccion').hasError(validation.type)">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="input-title" for="Volumen">Volumen</label>
                        <div class="recuadro">
                            <div class="col-md-12">
                                <label style="font-size: smaller;" *ngIf="edicion">Volumen de la Obra</label>
                                <div class="form-group position-relative has-icon-left">
                                    <input type="text" id="volumen" [ngClass]="{ 'is-invalid': submitted && f.volumen.errors }" class="form-control" placeholder="Volumen de la Obra"
                                        formControlName="volumen" value={{obras.volumen}}>
                                    <div class="form-control-position">
                                        <i class="pavyurba-input pavyurba-icon-metros-o"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.volumen.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of obras_validation_messages.volumen">
                                            <div class="error-message" *ngIf="obrasForm.get('volumen').hasError(validation.type)">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="input-title" for="Contacto">Facturación</label>
                        <div class="recuadro">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="d-inline-block custom-control custom-radio mr-1">
                                        <input type="radio" class="custom-control-input" name="otrosDatosFact" id="false" value="false" formControlName="otrosDatosFact" (change)="changeOtrosDatosFact($even)">
                                        <label class="custom-control-label" for="false">Facturar al Cliente</label>
                                    </div>
                                    <div class="d-inline-block custom-control custom-radio mr-1">
                                        <input type="radio" class="custom-control-input" name="otrosDatosFact" id="true" value="true" formControlName="otrosDatosFact" (change)="changeOtrosDatosFact($even)">
                                        <label class="custom-control-label" for="true">Otros datos de Facturación</label>
                                    </div>
                                </div>
                            </div>
                            <ng-template [ngIf]="isOtrosDatos">                            
                                <div class="col-md-6">
                                    <label style="font-size: smaller;" *ngIf="edicion">Nombre*</label>
                                    <div class="form-group position-relative has-icon-left">
                                        <input type="text" id="nombreFact" [ngClass]="{ 'is-invalid': submitted && f.nombreFact.errors }" class="form-control" placeholder="Nombre*"
                                            formControlName="nombreFact" value={{obras.nombreFact}}>
                                        <div class="form-control-position">
                                            <i class="pavyurba-input pavyurba-icon-user"></i>
                                        </div>
                                        <small class="form-text text-muted danger" *ngIf="submitted && f.nombreFact.errors"
                                            class="invalid-feedback">
                                            <div *ngFor="let validation of obras_validation_messages.nombreFact">
                                                <div class="error-message" *ngIf="obrasForm.get('nombreFact').hasError(validation.type)">
                                                    {{validation.message}}
                                                </div>
                                            </div>
                                        </small>
                                    </div> 
                                </div>
                                <div class="col-md-6">
                                    <label style="font-size: smaller;" *ngIf="edicion">NIF/NIE/DNI*</label>
                                    <div class="form-group position-relative has-icon-left">
                                        <input type="text" id="identificacionFact" [ngClass]="{ 'is-invalid': submitted && f.identificacionFact.errors }" class="form-control" placeholder="NIF/NIE/DNI*"
                                            formControlName="identificacionFact" value={{obras.identificacionFact}}>
                                        <div class="form-control-position">
                                            <i class="pavyurba-input pavyurba-icon-dni-t"></i>
                                        </div>
                                        <small class="form-text text-muted danger" *ngIf="submitted && f.identificacionFact.errors"
                                            class="invalid-feedback">
                                            <div *ngFor="let validation of obras_validation_messages.identificacionFact">
                                                <div class="error-message" *ngIf="obrasForm.get('identificacionFact').hasError(validation.type)">
                                                    {{validation.message}}
                                                </div>
                                            </div>
                                        </small>
                                    </div> 
                                </div>
                                <div class="col-md-6">
                                    <label style="font-size: smaller;" *ngIf="edicion">Teléfono</label>
                                    <div class="form-group position-relative has-icon-left">
                                        <input type="text" id="telefonoFact" [ngClass]="{ 'is-invalid': submitted && f.telefonoFact.errors }" class="form-control" placeholder="Teléfono"
                                            formControlName="telefonoFact" value={{obras.telefonoFact}}>
                                        <div class="form-control-position">
                                            <i class="pavyurba-input pavyurba-icon-telefono"></i>
                                        </div>
                                        <small class="form-text text-muted danger" *ngIf="submitted && f.telefonoFact.errors"
                                            class="invalid-feedback">
                                            <div *ngFor="let validation of obras_validation_messages.telefonoFact">
                                                <div class="error-message" *ngIf="obrasForm.get('telefonoFact').hasError(validation.type) ">
                                                    {{validation.message}}
                                                </div>
                                            </div>
                                        </small>
                                    </div> 
                                </div>
                                <div class="col-md-6">
                                    <label style="font-size: smaller;" *ngIf="edicion">E-mail</label>
                                    <div class="form-group position-relative has-icon-left">
                                        <input type="email" id="emailFact"  [ngClass]="{ 'is-invalid': submitted && f.emailFact.errors }" class="form-control" placeholder="E-mail"
                                            formControlName="emailFact" value={{obras.emailFact}} >
                                        <div class="form-control-position">
                                            <i class="pavyurba-input pavyurba-icon-email"></i>
                                        </div>
                                        <small class="form-text text-muted danger" *ngIf="submitted && f.emailFact.errors"
                                            class="invalid-feedback">
                                            <div *ngFor="let validation of obras_validation_messages.emailFact">
                                                <div class="error-message" *ngIf="obrasForm.get('emailFact').hasError(validation.type) ">
                                                    {{validation.message}}
                                                </div>
                                            </div>
                                        </small>
                                    </div> 
                                </div>
                                <div class="col-md-12">
                                    <label style="font-size: smaller;" *ngIf="edicion">Dirección</label>
                                    <div class="form-group position-relative has-icon-left">
                                        <input type="text" id="direccionFact" [ngClass]="{ 'is-invalid': submitted && f.direccionFact.errors }" class="form-control" placeholder="Dirección"
                                            formControlName="direccionFact" value={{obras.direccionFact}} maxlength="{{maxLength}}" [(ngModel)]="mensajeDirFact">
                                            <div class="text-right">
                                                <span *ngIf="mensajeDirFact != null; else datoMaxLength">{{mensajeDirFact.length}}/{{maxLength}}</span>
                                                <ng-template #datoMaxLength><span>0/{{maxLength}}</span></ng-template>
                                            </div>
                                        <div class="form-control-position">
                                            <i class="pavyurba-input pavyurba-icon-direccion"></i>
                                        </div>
                                        <small class="form-text text-muted danger" *ngIf="submitted && f.direccionFact.errors"
                                            class="invalid-feedback">
                                            <div *ngFor="let validation of obras_validation_messages.direccionFact">
                                                <div class="error-message" *ngIf="obrasForm.get('direccionFact').hasError(validation.type)">
                                                    {{validation.message}}
                                                </div>
                                            </div>
                                        </small>
                                    </div> 
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-12" *ngIf="idObras === null">
                <h4 class="form-section text-white">Contratos</h4>
            </div> -->
        </div>
    </div>
    <div class="modal-footer">   
        <button type="button" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize" (click)="closeModal.emit(true)">
            <i class="pavyurba-icon pavyurba-icon-cancel" ></i>&nbsp; Cancelar
        </button>
        <button type="submit" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize">
            <i class="pavyurba-icon pavyurba-icon-done-o"></i>&nbsp; {{ edicion ? 'Guardar Cambios':'Crear Obras' }}
        </button>
    </div>
</form>
<ng-template class="modal text-left" #ModalLocationsDetail let-c="close" let-d="dismiss">
    <app-modal-detail
        *ngIf="cargaCompleta"
        [idLocationsModal]="null"
        [titel]="'Crear Localidades'"
        (setModal)="onSetModal($event)">
    </app-modal-detail>
</ng-template>