
    <div class="row">
        <div class="col-12 col-md-12" *blockUI="'componentsGastosGenerales'; message: 'Loading'">
            <div class="card min-height-8">
                <div class="card-content ">
                    <div class="table-responsive min-height-8" fxFlex="auto">
                        <div class="table-responsive min-height-8" fxFlex="auto">
                            <table class="table table-striped border_bottom table-hover">
                                <thead>
                                <tr>
                                    <th scope="col" class="border-top-0"></th>
                                    <th scope="col" class="border-top-0">N°</th>
                                    <th scope="col" class="border-top-0">Desde</th>
                                    <th scope="col" class="border-top-0">Hasta</th>
                                    <th scope="col" class="border-top-0">Días</th>
                                    <th scope="col" class="border-top-0">Trabajador</th>
                                    <th scope="col" class="border-top-0">Obra</th>
                                    <th scope="col" class="border-top-0">De</th>
                                    <th scope="col" class="border-top-0">Fecha</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-truncate pointer" *ngFor="let row of rowsFiltered; let i = index" >
                                        <!--<td class="text-truncate pointer">
                                            <span class="custom-control custom-checkbox" >
                                                <input type="checkbox" class="custom-control-input" id="select{{i}}" value="{{row.id}}" [checked]="row.selected" (change)="onCheckboxChangeFn(i,!row.selected, $event)"/>
                                                <label class="custom-control-label" for="select{{i}}"></label>
                                            </span>
                                        </td>-->
                                        <td style="padding: 4px 0px;">
                                            <div class="pl-1">
                                                <button type="button" class="btn btn-pavyurba" (click)="removeRegistro(row)">
                                                    <i class="pavyurba-btn pavyurba-icon-delete mr-0"></i>
                                                </button>
                                            </div>
                                        </td>
                                        <td (click)="addModel(ModalCalendariosDetail, row)">{{row.id}}</td>
                                        <td (click)="addModel(ModalCalendariosDetail, row)">{{row.fechaDesde}}</td>
                                        <td (click)="addModel(ModalCalendariosDetail, row)">{{row.fechaHasta}}</td>
                                        <td (click)="addModel(ModalCalendariosDetail, row)">{{row.numDias}}</td>
                                        <td (click)="addModel(ModalCalendariosDetail, row)">{{row.empleado}}</td>
                                        <td (click)="addModel(ModalCalendariosDetail, row)">{{row.obra}}</td>
                                        <td (click)="addModel(ModalCalendariosDetail, row)">{{row.usuarioLog}}</td>
                                        <td (click)="addModel(ModalCalendariosDetail, row)">{{row.fechaHoraLog}}</td>
                                    </tr>
                                </tbody>
                                
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div  *ngIf="pagination" class="row col-md-8 justify-content-start pt-1">
                            <!-- Total: {{ pagination.total }} -->
                            <div class="col-12 col-md-4" *ngIf="validTotalCalendario">
                                <span style="color: yellow;">Total: {{ totalCalendario }}</span> 
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <nav aria-label="Page navigation">
                                <div class="pagination justify-content-end pagination-separate pagination-curved pagination-flat">
                                    <select class="custom-select custom-select-pagination" style="width: auto" [(ngModel)]="pagination.per_page" (ngModelChange)="refreshCountries()">
                                        <option [ngValue]="5">Ver 5</option>
                                        <option [ngValue]="10">Ver 10</option>
                                        <option [ngValue]="20">Ver 20</option>
                                        <option [ngValue]="50">Ver 50</option>
                                    </select>
                                    <ngb-pagination
                                    [collectionSize]="pagination.total" 
                                    [(page)]="pagination.current_page" 
                                    [boundaryLinks]="true" 
                                    [maxSize]="1"
                                    [pageSize]="pagination.per_page"
                                    (pageChange)="pageChanged($event)" aria-label="Default pagination">
                                        <ng-template ngbPaginationFirst><i class="pavyurba-btn-p pavyurba-icon-chevrons-left"></i></ng-template>
                                        <ng-template ngbPaginationLast><i class="pavyurba-btn-p pavyurba-icon-chevrons-right"></i></ng-template>
                                        <ng-template ngbPaginationPrevious><i class="pavyurba-btn-p pavyurba-icon-chevron-left"></i></ng-template>
                                        <ng-template ngbPaginationNext><i class="pavyurba-btn-p pavyurba-icon-chevron-right"></i></ng-template>
                                        <ng-template ngbPaginationEllipsis>...</ng-template>
                                        <ng-template ngbPaginationNumber let-page class="round">{{ page }}</ng-template>
                                    </ngb-pagination>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
<!-- Modal -->
<ng-template class="modal text-left" #ModalCalendariosDetail let-c="close" let-d="dismiss">
    <div class="modal-lg">
        <div class="modal-header">
            <h3 id="myModalLabel23">{{titelModal}}</h3>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body modal-scroll-y p-0">
            <app-calendarios-obras-detail 
                [idCalendarios]="idCalendariosListar"
                [tipoEntrada]="tipoEntrada"
                *ngIf="cargaCompleta"
                (closeModal)="onCloseModal($event)">
            </app-calendarios-obras-detail>
        </div>
    </div>
</ng-template>
