<form [formGroup]="parteTrabajoForm" (ngSubmit)="add()" >
    <div class="form-body">

        <div class="row">
            <div class="col-12 col-md-12">
                <label class="input-title" for="Datos">Datos</label>
                <div class="row recuadro">
                    <div class="col-12 col-md-3" *ngIf="edicion">
                        <label style="font-size: smaller;" *ngIf="edicion">Fecha</label>
                        <div class="form-group position-relative has-icon-left">                                    
                            <input [ngClass]="{ 'is-invalid': submitted && fechaValid }" class="form-control" placeholder="Fecha" formControlName="fecha" ([ngModel])="fechaEdit"
                            ngbDatepicker #d="ngbDatepicker" value={{parteTrabajo.fecha}}>
                            <div class="form-control-position" (click)="d.toggle()">
                                <i class="pavyurba-input pavyurba-icon-fecha-alta" style="cursor: pointer;"></i>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="submitted && fechaValid"
                                class="invalid-feedback">
                                <div *ngFor="let validation of partetrabajo_validation_messages.fechaEdit">
                                    <div class="error-message">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div> 
                    </div>
                    <div class="col-12 col-md-9"> 
                        <label style="font-size: smaller;" *ngIf="edicion">Nombre*</label>
                        <div class="form-group position-relative has-icon-left">
                            <!-- <select id="idEmpleado" class="form-control" formControlName="idEmpleado" (change)="changeTrabajador('')"
                                [ngClass]="{ 'is-invalid': submitted && f.idEmpleado.errors }" placeholder="Nombre*">
                                <option [ngValue]="null" [disabled]="true" [selected]="true">Nombre*</option>
                                <option *ngFor="let employee of employeesCombo" [value]="employee.id">{{employee.texto}}</option>
                            </select> -->
                            <ng-select [ngClass]="{ 'is-invalid': submitted && f.idEmpleado.errors }" 
                            [items]="employeesCombo" [searchable]="true" placeholder="Nombre*"
                                bindLabel="texto" bindValue="id" (change)="changeTrabajador('')"
                                id="idEmpleado" formControlName="idEmpleado">
                            </ng-select>
                            <div class="form-control-position">
                                <i class="pavyurba-input pavyurba-icon-user"></i>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="submitted && f.idEmpleado.errors"
                                class="invalid-feedback">
                                <div *ngFor="let validation of partetrabajo_validation_messages.idEmpleado">
                                    <div class="error-message" *ngIf="parteTrabajoForm.get('idEmpleado').hasError(validation.type) ">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label style="font-size: smaller;" *ngIf="edicion">Nombre/Denominación de Obra*</label>
                        <div class="form-group position-relative has-icon-left">
                            <!-- <select id="idObra" class="form-control" formControlName="idObra" (change)="changeObras('')"
                                [ngClass]="{ 'is-invalid': submitted && f.idObra.errors }" placeholder="Obra*">
                                <option [ngValue]="null" [disabled]="true" [selected]="true">Nombre/Denominación de Obra*</option>
                                <option *ngFor="let obra of obrasCombo" [value]="obra.id">{{obra.texto}}</option>
                            </select> -->
                            <ng-select [items]="obrasCombo" [searchable]="true" placeholder="Nombre/Denominación de Obra*"
                                bindLabel="texto" bindValue="id"
                                id="idObra" formControlName="idObra" (change)="changeObras('')">
                            </ng-select>
                            <div class="form-control-position">
                                <i class="pavyurba-input pavyurba-icon-obra"></i>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="submitted && f.idObra.errors"
                                class="invalid-feedback">
                                <div *ngFor="let validation of partetrabajo_validation_messages.idObra">
                                    <div class="error-message" *ngIf="parteTrabajoForm.get('idObra').hasError(validation.type) ">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div> 
                    </div>   
                    <div class="col-md-12" *ngIf="validFestivo">
                        <div class="form-group">
                            <div class="right-checkbox">
                                <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" formControlName="feriadoFestivo"
                                    id="feriadoFestivo" [(ngModel)]="feriadoFestivo">
                                <label class="custom-control-label w-100" for="feriadoFestivo">Feriado Festivo</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12">
                <input type="hidden" id="id"  formControlName="id" value={{parteTrabajo.id}} >

                <label class="input-title" for="Datos">Valores</label>
                <div class="row recuadro">
                    <div class="col-md-8">
                        <label style="font-size: smaller;" *ngIf="edicion">Nombre*</label>
                        <div class="form-group position-relative has-icon-left">
                            <!-- <select id="idCondicion" class="form-control" formControlName="idCondicion"
                                [ngClass]="{ 'is-invalid': submitted && f.idCondicion.errors }" placeholder="Condición*" (change)="changeCondicion()">
                                <option [ngValue]="null" [disabled]="true" [selected]="true">Condición*</option>
                                <option *ngFor="let condicion of condiciones" [value]="condicion.id">{{condicion.texto}}</option>
                            </select> -->
                            <ng-select [ngClass]="{ 'is-invalid': submitted && f.idCondicion.errors }" 
                            [items]="condiciones" [searchable]="true" placeholder="Nombre*"
                                bindLabel="texto" bindValue="id"
                                id="idCondicion" formControlName="idCondicion">
                            </ng-select>
                            <div class="form-control-position">
                                <i class="pavyurba-input pavyurba-icon-condicion"></i>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="submitted && f.idCondicion.errors"
                                class="invalid-feedback">
                                <div *ngFor="let validation of partetrabajo_validation_messages.idCondicion">
                                    <div class="error-message" *ngIf="parteTrabajoForm.get('idCondicion').hasError(validation.type) ">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div> 
                    </div>
                    <div class="col-md-4">
                        <label style="font-size: smaller;" *ngIf="edicion">Dieta*</label>
                        <div class="form-group position-relative has-icon-left">
                            <input type="number"  [ngClass]="{ 'is-invalid': submitted && f.dieta.errors }" class="form-control" placeholder="Dieta*"
                                formControlName='dieta' value={{parteTrabajo.dieta}} >
                            <div class="form-control-position">
                                <i class="pavyurba-input pavyurba-icon-precio"></i>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="submitted && f.dieta.errors"
                                class="invalid-feedback">
                                <div *ngFor="let validation of partetrabajo_validation_messages.dieta">
                                    <div class="error-message" *ngIf="parteTrabajoForm.get('dieta').hasError(validation.type)">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div>
                    </div> 
                    <div class="col-md-4">
                        <label style="font-size: smaller;" *ngIf="edicion">Metros*</label>
                        <div class="form-group position-relative has-icon-left">
                            <input type="number" id="metros" [ngClass]="{ 'is-invalid': submitted && f.metros.errors }" class="form-control" placeholder="Metros*"
                                formControlName="metros" value={{parteTrabajo.metros}} [(ngModel)]="datoMetros" (change)="changeMetros()">
                            <div class="form-control-position">
                                <i class="pavyurba-input pavyurba-icon-metros-o"></i>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="submitted && f.metros.errors"
                                class="invalid-feedback">
                                <div *ngFor="let validation of partetrabajo_validation_messages.metros">
                                    <div class="error-message" *ngIf="parteTrabajoForm.get('metros').hasError(validation.type)">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div> 
                    </div>
                    <div class="col-md-4">
                        <label style="font-size: smaller;" *ngIf="edicion">Valor de Condición*</label>
                        <div class="form-group position-relative has-icon-left">
                            <input type="number" id="precio" [ngClass]="{ 'is-invalid': submitted && f.precio.errors }" class="form-control" placeholder="Valor de Condición*"
                                formControlName="precio" value={{parteTrabajo.precio}} [(ngModel)]="datoValor" (change)="changeMetros()">
                            <div class="form-control-position">
                                <i class="pavyurba-input pavyurba-icon-unidades"></i>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="submitted && f.precio.errors"
                                class="invalid-feedback">
                                <div *ngFor="let validation of partetrabajo_validation_messages.precio">
                                    <div class="error-message" *ngIf="parteTrabajoForm.get('precio').hasError(validation.type)">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div> 
                    </div>
                    <div class="col-md-4">
                        <label style="font-size: smaller;" *ngIf="edicion">Total</label>
                        <div class="form-group position-relative has-icon-left">
                            <input type="number" id="valor" class="form-control" placeholder="Total"
                                [(ngModel)]="totalValor" value={{parteTrabajo.valor}} formControlName="valor" disabled  style="background-color: rgba(255, 255, 255, 0.25) !important; ">
                            <div class="form-control-position">
                                <i class="pavyurba-input pavyurba-icon-total"></i>
                            </div>
                        </div> 
                    </div>
                    <div class="col-md-12">
                        <label style="font-size: smaller;" *ngIf="edicion">Observaciones</label>
                        <div class="form-group position-relative has-icon-left">
                            <input type="text" id="observaciones"  [ngClass]="{ 'is-invalid': submitted && f.observaciones.errors }" class="form-control" placeholder="Observaciones"
                                formControlName="observaciones" value={{parteTrabajo.observaciones}} maxlength="{{maxLength}}" [(ngModel)]="mensaje">
                                <div class="text-right">
                                    <!-- <span>{{mensaje.length}}/{{maxLength}}</span> -->
                                    <span *ngIf="mensaje != null && mensaje != undefined; else mensajeLength">
                                        {{mensaje.length}}/{{maxLength}}                            
                                    </span>
                                    <ng-template #mensajeLength >
                                    <span>
                                        0/{{maxLength}}                            
                                    </span>
                                    </ng-template>
                                </div>
                            <div class="form-control-position">
                                <i class="pavyurba-input pavyurba-icon-observaciones"></i>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="submitted && f.observaciones.errors"
                                class="invalid-feedback">
                                <div *ngFor="let validation of partetrabajo_validation_messages.observaciones">
                                    <div class="error-message" *ngIf="parteTrabajoForm.get('observaciones').hasError(validation.type)">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div> 
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">   
        <button type="button" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize" (click)="closeModal.emit(true)">
            <i class="pavyurba-icon pavyurba-icon-cancel" ></i>&nbsp; Cancelar
        </button>
        <button type="submit" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize">
            <i class="pavyurba-icon pavyurba-icon-done-o"></i>&nbsp; Aceptar
        </button>
    </div>
</form>

