<div class="modal-lg">
    <div class="modal-header">
        <h3 id="myModalLabel23">{{titel}}</h3>
        <button type="button" class="close" aria-label="Close" (click)="onCloseModal('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body modal-scroll-y p-0">
        <app-informes-detail 
            [idObras]="idObras"
            [idEmpleado]="idEmpleado"
            [idInforme]="idInforme"
            [tipoGeneracion]="tipoGeneracion"
            (closeModal)="onCloseModal($event)">
        </app-informes-detail>
    </div>
</div>