﻿<div class="app-content content" *ngIf="isPageLoaded">
    <div class="content-wrapper">
      <div class="content-header row mb-1">
      </div>
      <div class="content-body">
           <section class="flexbox-container">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="col-md-4 col-8 box-shadow-2 p-0">
                        <div class="card border-grey border-lighten-3 py-1 m-0">
                            <div class="card-header border-0"  style="background-color: inherit;">
                                <div class="card-title text-center">
                                    <img src="assets/images/logo/logo_login.svg" alt="Pavyurba">
                                </div>                     
                            </div>
                            <div class="card-content">

                                <div class="card-body">
                                    <h4 class="card-title text-center">Iniciar Sesion</h4>
                                    <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="tryLogin()">
                                        <fieldset class="form-group position-relative has-icon-left">
                                            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                            id="user-name" placeholder="Your Username" required>
                                            <div class="form-control-position">
                                                <i class="feather ft-mail"></i>
                                            </div>
                                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                <div *ngIf="f.email.errors.required">Username is required</div>
                                            </div>
                                        </fieldset>
                                        <fieldset class="form-group position-relative has-icon-left">
                                            <input type="password" placeholder="Enter clave" formControlName="clave" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.clave.errors }" />
                                            <div class="form-control-position">
                                                <i class="feather ft-lock"></i>
                                            </div>
                                            <div *ngIf="submitted && f.clave.errors" class="invalid-feedback">
                                                <div *ngIf="f.clave.errors.required">Clave is required</div>
                                            </div>

                                        </fieldset>
                                        <div class="form-group row">
                                            <div class="col-md-12 col-12 text-center text-sm-left">
                                                <div class="custom-control custom-checkbox mb-1">
                                                    <input type="checkbox" class="custom-control-input" formControlName="rememberMe"  name="remember-me" id="remember-me">
                                                    <label class="custom-control-label white" for="remember-me">Mantener mi sesión abierta</label>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-pavyurba  btn-block  ">
                                            <i class="fa fa-refresh fa-spin" *ngIf="loading"></i>
                                            <i class="feather ft-unlock" *ngIf="!loading"></i> Iniciar Sesión
                                        </button>
                                        <button type="button" class="btn btn-pavyurba-dark  btn-block  ">Olvidé mi contraseña</button>
                                    </form>
                                </div>
                                
                                <div class="card-footer login pb-0">
                                    <div class = "row">
                                        <div class ="col-md-12">
                                            <p class="text-center mb-0">PavyUrba 2021</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
