<form [formGroup]="gastosGeneralesForm" (ngSubmit)="add()" >
    <div class="form-body">
        <label class="input-title" for="Datos">Datos</label>
        <div class="row recuadro">
            <!-- <div class="col-md-12">
                <input type="hidden" id="id"  formControlName="id" >
                <label style="font-size: smaller;" *ngIf="edicion">Nombre/Denominación de Obra*</label>
                <div class="form-group position-relative has-icon-left">
                    <ng-select [items]="obras" [searchable]="true" placeholder="Nombre/Denominación de Obra*"
                        bindLabel="texto" bindValue="id"
                        id="idObra" formControlName="idObra">
                    </ng-select>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-obra"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.idObra.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of calendarios_validation_messages.idObra">
                            <div class="error-message" *ngIf="calendariosForm.get('idObra').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div>  
            </div>  -->
            <div class="col-md-12">
                <label style="font-size: smaller;" *ngIf="edicion">Total*</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="number" id="total" [ngClass]="{ 'is-invalid': submitted && f.total.errors }" class="form-control" placeholder="Total*"
                        formControlName="total" value={{gastosGenerales.total}} >
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-hucha-base"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.total.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of gastosgenerales_validation_messages.total">
                            <div class="error-message" *ngIf="gastosGeneralesForm.get('total').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-md-12">
                <label style="font-size: smaller;" *ngIf="edicion">Observaciones*</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="text" id="observaciones" [ngClass]="{ 'is-invalid': submitted && f.observaciones.errors }" class="form-control" placeholder="Observaciones*"
                        formControlName="observaciones" value={{gastosGenerales.observaciones}} maxlength="{{maxLength}}" [(ngModel)]="mensaje">
                        <div class="text-right">
                            <!-- <span>{{mensaje.length}}/{{maxLength}}</span> -->
                            <span *ngIf="mensaje != null && mensaje != undefined; else mensajeLength">
                                {{mensaje.length}}/{{maxLength}}                            
                            </span>
                            <ng-template #mensajeLength >
                            <span>
                                0/{{maxLength}}                            
                            </span>
                            </ng-template>
                        </div>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-observaciones"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.observaciones.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of gastosgenerales_validation_messages.observaciones">
                            <div class="error-message" *ngIf="gastosGeneralesForm.get('observaciones').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-12 col-md-6">
                <label style="font-size: smaller;">Fecha Desde*</label>
                <div class="form-group position-relative has-icon-left">                                    
                    <input [ngClass]="{ 'is-invalid': submitted && f.fechaDesde.errors }" class="form-control" placeholder="Fecha Desde*" formControlName="fechaDesde" [(ngModel)]="fechaDesde" 
                    ngbDatepicker #d="ngbDatepicker" value={{gastosGenerales.fechaDesde}} style="color:black">
                    <div class="form-control-position" (click)="d.toggle()">
                        <i class="pavyurba-input pavyurba-icon-fecha-alta" style="cursor: pointer;"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.fechaDesde.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of gastosgenerales_validation_messages.fechaDesde">
                            <div class="error-message" *ngIf="gastosGeneralesForm.get('fechaDesde').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-12 col-md-6">
                <label style="font-size: smaller;">Fecha Hasta*</label>
                <div class="form-group position-relative has-icon-left">                                    
                    <input [ngClass]="{ 'is-invalid': submitted && f.fechaHasta.errors }" class="form-control" placeholder="Fecha Hasta*" formControlName="fechaHasta" [(ngModel)]="fechaHasta" 
                    ngbDatepicker #d1="ngbDatepicker" value={{gastosGenerales.fechaHasta}}>
                    <div class="form-control-position" (click)="d1.toggle()">
                        <i class="pavyurba-input pavyurba-icon-fecha-baja" style="cursor: pointer;"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.fechaHasta.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of gastosgenerales_validation_messages.fechaHasta">
                            <div class="error-message" *ngIf="gastosGeneralesForm.get('fechaHasta').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
        </div>
    </div>
    <div class="modal-footer">   
        <button type="button" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize" (click)="closeModal.emit(true)">
            <i class="pavyurba-icon pavyurba-icon-cancel" ></i>&nbsp; Cancelar
        </button>
        <button type="submit" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize">
            <i class="pavyurba-icon pavyurba-icon-done-o"></i>&nbsp; Aceptar
        </button>
    </div>
</form>

