<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <!-- <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb> -->
        </div>
        <div class="content-body">
            <section id="selection-n-deletion">
                <div class="row">
                    <div class="col-12 col-md-12" *blockUI="'componentsGastosGenerales'; message: 'Loading'">
                        <div class="card min-height-8">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-group position-relative has-icon-left">
                                            <input type="search" class="form-control text-black" placeholder="Buscar" (change)="searchFilter($event)">
                                            <div class="form-control-position">
                                                <i class="pavyurba-input pavyurba-icon-busqueda"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pr-1">
                                        <app-custom-button 
                                            [btnName]="'Crear Gasto General'"
                                            [btnType]="'button'"
                                            [btnClass]="'btn btn-pavyurba delete-all btn-filters-grid text-capitalize'"
                                            [btnIcon]="'pavyurba-icon-add'"
                                            (click)="addModel(ModalGastosGeneralesDetail, null)">
                                        </app-custom-button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content ">
                                <div class="table-responsive min-height-8" fxFlex="auto">
                                    <table class="table table-striped border_bottom table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col" class="border-top-0"></th>
                                            <th scope="col" class="border-top-0">N°</th>
                                            <th scope="col" class="border-top-0">Total</th>
                                            <th scope="col" class="border-top-0">Desde</th>
                                            <th scope="col" class="border-top-0">Hasta</th>
                                            <th scope="col" class="border-top-0">Modificado por</th>
                                            <th scope="col" class="border-top-0">Observaciones</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-truncate pointer" *ngFor="let row of rowsFiltered; let i = index" >
                                                <!--<td class="text-truncate pointer">
                                                    <span class="custom-control custom-checkbox" >
                                                        <input type="checkbox" class="custom-control-input" id="select{{i}}" value="{{row.id}}" [checked]="row.selected" (change)="onCheckboxChangeFn(i,!row.selected, $event)"/>
                                                        <label class="custom-control-label" for="select{{i}}"></label>
                                                    </span>
                                                </td>-->
                                                <td style="padding: 4px 0px;">
                                                    <div class="pl-1">
                                                        <button type="button" class="btn btn-pavyurba" (click)="removeRegistro(row)">
                                                            <i class="pavyurba-btn pavyurba-icon-delete mr-0"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                                <td (click)="addModel(ModalGastosGeneralesDetail, row)">{{row.id}}</td>
                                                <td (click)="addModel(ModalGastosGeneralesDetail, row)">{{row.total}}</td>
                                                <!-- <td (click)="addModel(ModalGastosGeneralesDetail, row)">{{row.fechaHoraLog}}</td> -->
                                                <td (click)="addModel(ModalGastosGeneralesDetail, row)">{{row.fechaDesde}}</td>
                                                <td (click)="addModel(ModalGastosGeneralesDetail, row)">{{row.fechaHasta}}</td>
                                                <td (click)="addModel(ModalGastosGeneralesDetail, row)">{{row.usuarioLog}}</td>
                                                <td (click)="addModel(ModalGastosGeneralesDetail, row)">
                                                    <div class="truncate-cell">{{row.observaciones}}</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        
                                    </table>
                                    </div>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div  *ngIf="pagination" class="row col-md-8 justify-content-start pt-1">
                                        <!-- Total: {{ pagination.total }} -->
                                        <div class="col-12 col-md-4" *ngIf="validTotalGastosGenerales">
                                            <span style="color: yellow;">Total: {{ totalGastosGenerales }}€</span> 
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <nav aria-label="Page navigation">
                                            <div class="pagination justify-content-end pagination-separate pagination-curved pagination-flat">
                                                <select class="custom-select custom-select-pagination" style="width: auto" [(ngModel)]="pagination.per_page" (ngModelChange)="refreshCountries()">
                                                    <option [ngValue]="5">Ver 5</option>
                                                    <option [ngValue]="10">Ver 10</option>
                                                    <option [ngValue]="20">Ver 20</option>
                                                    <option [ngValue]="50">Ver 50</option>
                                                </select>
                                                <ngb-pagination
                                                [collectionSize]="pagination.total" 
                                                [(page)]="pagination.current_page" 
                                                [boundaryLinks]="true" 
                                                [maxSize]="1"
                                                [pageSize]="pagination.per_page"
                                                (pageChange)="pageChanged($event)" aria-label="Default pagination">
                                                    <ng-template ngbPaginationFirst><i class="pavyurba-btn-p pavyurba-icon-chevrons-left"></i></ng-template>
                                                    <ng-template ngbPaginationLast><i class="pavyurba-btn-p pavyurba-icon-chevrons-right"></i></ng-template>
                                                    <ng-template ngbPaginationPrevious><i class="pavyurba-btn-p pavyurba-icon-chevron-left"></i></ng-template>
                                                    <ng-template ngbPaginationNext><i class="pavyurba-btn-p pavyurba-icon-chevron-right"></i></ng-template>
                                                    <ng-template ngbPaginationEllipsis>...</ng-template>
                                                    <ng-template ngbPaginationNumber let-page class="round">{{ page }}</ng-template>
                                                </ngb-pagination>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        
        <!-- Modal -->
        <ng-template class="modal text-left" #ModalGastosGeneralesDetail let-c="close" let-d="dismiss">
            <app-modal-gastos-generales-detail
                *ngIf="cargaCompleta"
                [idObras]="idObras"
                [titel]="titelModal"
                [idGastoGeneral]="idGastoGeneral"
                (setModal)="onSetModal($event)"
                >
            </app-modal-gastos-generales-detail>
        </ng-template>
    </div>
</div>
