<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <!-- <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb> -->
        </div>
        <div class="content-body">
            <section id="selection-n-deletion">
                <div class="row">
                    <div class="col-12 col-md-12" *blockUI="'componentsMaterials'; message: 'Loading'">
                        <div class="card min-height-8">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-group position-relative has-icon-left">
                                            <input type="search" class="form-control text-black" placeholder="Buscar" (change)="searchFilter($event)">
                                            <div class="form-control-position">
                                                <i class="pavyurba-input pavyurba-icon-busqueda"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pr-1">
                                        <app-custom-button 
                                            [btnName]="'Nuevo Material'"
                                            [btnType]="'button'"
                                            [btnClass]="'btn btn-pavyurba delete-all btn-filters-grid text-capitalize'"
                                            [btnIcon]="'pavyurba-icon-add'"
                                            (click)="addModel(ModalMaterialsDetail, null)">
                                        </app-custom-button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content ">
                                <div class="table-responsive min-height-8" fxFlex="auto">
                                    <table class="table table-striped border_bottom table-hover">
                                        <thead>
                                        <tr>
                                            <!--<th scope="col" class="border-top-0"></th>-->
                                            <th scope="col" class="border-top-0">Activo</th>
                                            <th scope="col" class="border-top-0">N°</th>
                                            <th scope="col" class="border-top-0">Material</th>
                                            <th scope="col" class="border-top-0">Peso</th>
                                            <th scope="col" class="border-top-0">Precio</th>
                                            <th scope="col" class="border-top-0">Observacion</th>
                                            <th scope="col" class="border-top-0">Fecha</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-truncate pointer" *ngFor="let row of rowsFiltered; let i = index" >

                                                <td>
                                                    <ui-switch 
                                                        class="switchery"
                                                        size="small"
                                                        color="#9AE26E"
                                                        [checked]="row.habilitado"
                                                        (change)="onChange($event, row.id)">
                                                    </ui-switch>
                                                </td>
                                                <td (click)="addModel(ModalMaterialsDetail, row)">{{row.id}}</td>
                                                <td (click)="addModel(ModalMaterialsDetail, row)">{{row.nombre}}</td>
                                                <td (click)="addModel(ModalMaterialsDetail, row)">{{row.medida}}</td>
                                                <td (click)="addModel(ModalMaterialsDetail, row)">{{row.precio}}</td>
                                                <td (click)="addModel(ModalMaterialsDetail, row)">
                                                    <div class="truncate-cell">{{row.observaciones}}</div>
                                                </td>
                                                <td (click)="addModel(ModalMaterialsDetail, row)">{{row.fechaHoraLog}}</td>
                                            </tr>
                                        </tbody>
                                        
                                    </table>
                                    </div>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div  *ngIf="pagination" class="col-md-3 justify-content-start pt-1">
                                        <!-- Total: {{ pagination.total }} -->
                                    </div>
                                    <div class="col-md-9">
                                        <nav aria-label="Page navigation">
                                            <div class="pagination justify-content-end pagination-separate pagination-curved pagination-flat">
                                                <select class="custom-select custom-select-pagination" style="width: auto" [(ngModel)]="pagination.per_page" (ngModelChange)="refreshCountries()">
                                                    <option [ngValue]="5">Ver 5</option>
                                                    <option [ngValue]="10">Ver 10</option>
                                                    <option [ngValue]="20">Ver 20</option>
                                                    <option [ngValue]="50">Ver 50</option>
                                                </select>
                                                <ngb-pagination
                                                [collectionSize]="pagination.total" 
                                                [(page)]="pagination.current_page" 
                                                [boundaryLinks]="true" 
                                                [maxSize]="1"
                                                [pageSize]="pagination.per_page"
                                                (pageChange)="pageChanged($event)" aria-label="Default pagination">
                                                    <ng-template ngbPaginationFirst><i class="pavyurba-btn-p pavyurba-icon-chevrons-left"></i></ng-template>
                                                    <ng-template ngbPaginationLast><i class="pavyurba-btn-p pavyurba-icon-chevrons-right"></i></ng-template>
                                                    <ng-template ngbPaginationPrevious><i class="pavyurba-btn-p pavyurba-icon-chevron-left"></i></ng-template>
                                                    <ng-template ngbPaginationNext><i class="pavyurba-btn-p pavyurba-icon-chevron-right"></i></ng-template>
                                                    <ng-template ngbPaginationEllipsis>...</ng-template>
                                                    <ng-template ngbPaginationNumber let-page class="round">{{ page }}</ng-template>
                                                </ngb-pagination>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
            </section>
        </div>
        <!-- Modal -->
        <ng-template class="modal text-left" #ModalMaterialsDetail let-c="close" let-d="dismiss">
            <div class="modal-lg">
                <div class="modal-header">
                    <h3 id="myModalLabel23">{{titelModal}}</h3>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-scroll-y p-0">
                    <app-materials-detail 
                        [idMaterials]="idMaterialsListar"
                        *ngIf="cargaCompleta"
                        (closeModal)="onCloseModal($event)">
                    </app-materials-detail>
                </div>
            </div>
        </ng-template>
    </div>
</div>

