<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <!-- <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb> -->
        </div>
        <div class="content-body">
            <section id="selection-n-deletion">
                <div class="row">
                    <div class="col-12 col-md-12" *blockUI="'componentsAlbaranes'; message: 'Loading'">
                        <div class="card min-height-8">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-2">
                                        <div class="form-group position-relative has-icon-left">
                                            <input type="search" class="form-control text-black" placeholder="Buscar" (change)="searchFilter($event)">
                                            <div class="form-control-position">
                                                <i class="pavyurba-input pavyurba-icon-busqueda"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2 pl-0">
                                        <div class="form-group position-relative has-icon-left">
                                            <ng-select [items]="obras" [searchable]="true" placeholder="Obras*" (change)="setObras($event)"
                                                bindLabel="texto" bindValue="id" dropdownPosition="bottom"
                                                id="idObra" [(ngModel)]="idObra">
                                            </ng-select>
                                            <div class="form-control-position">
                                                <i class="pavyurba-input pavyurba-icon-obra"></i>
                                            </div>
                                            <!-- <select id="idEmpresa" class="form-control text-black" placeholder="Empresa*" (change)="setEmpresa($event)"
                                            [(ngModel)]="idEmpresa">
                                                <option [ngValue]="null" [disabled]="true" [selected]="true">Empresa*</option>
                                                <option *ngFor="let busines of business" [value]="busines.id">{{busines.texto}}</option>
                                            </select>
                                            <div class="form-control-position">
                                                <i class="pavyurba-input pavyurba-icon-empresa"></i>
                                            </div> -->
                                        </div> 
                                    </div>
                                    <div class="col-2 pl-0">
                                        <div class="form-group position-relative has-icon-left">
                                            <ng-select [items]="providers" [searchable]="true" placeholder="Proveedor*" (change)="setProveedores($event)"
                                                bindLabel="texto" bindValue="id" dropdownPosition="bottom"
                                                id="idProveedor" [(ngModel)]="idProveedor">
                                            </ng-select>
                                            <div class="form-control-position">
                                                <i class="pavyurba-input pavyurba-icon-proveedor"></i>
                                            </div>
                                            <!-- <select id="idEmpresa" class="form-control text-black" placeholder="Empresa*" (change)="setEmpresa($event)"
                                            [(ngModel)]="idEmpresa">
                                                <option [ngValue]="null" [disabled]="true" [selected]="true">Empresa*</option>
                                                <option *ngFor="let busines of business" [value]="busines.id">{{busines.texto}}</option>
                                            </select>
                                            <div class="form-control-position">
                                                <i class="pavyurba-input pavyurba-icon-empresa"></i>
                                            </div> -->
                                        </div> 
                                    </div>
                                    <div class="col-2 pl-0">
                                        <div class="form-group position-relative has-icon-left">
                                            <ng-select [items]="materials" [searchable]="true" placeholder="Material*" (change)="setMateriales($event)"
                                                bindLabel="texto" bindValue="id" dropdownPosition="bottom"
                                                id="idMaterial" [(ngModel)]="idMaterial">
                                            </ng-select>
                                            <div class="form-control-position">
                                                <i class="pavyurba-input pavyurba-icon-material"></i>
                                            </div>
                                            <!-- <select id="idEmpresa" class="form-control text-black" placeholder="Empresa*" (change)="setEmpresa($event)"
                                            [(ngModel)]="idEmpresa">
                                                <option [ngValue]="null" [disabled]="true" [selected]="true">Empresa*</option>
                                                <option *ngFor="let busines of business" [value]="busines.id">{{busines.texto}}</option>
                                            </select>
                                            <div class="form-control-position">
                                                <i class="pavyurba-input pavyurba-icon-empresa"></i>
                                            </div> -->
                                        </div> 
                                    </div>
                                    <div class="col-2 pl-0">
                                        <div class="form-group position-relative has-icon-left">
                                            <ng-select [items]="facturas" [searchable]="true" placeholder="Facturado/No Facturado*" (change)="onSetFacturado($event)"
                                                bindLabel="texto" bindValue="id" dropdownPosition="bottom"
                                                id="facturado" [(ngModel)]="facturado">
                                            </ng-select>
                                            <div class="form-control-position">
                                                <i class="pavyurba-input pavyurba-icon-gastos"></i>
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="pr-1">
                                        <app-custom-button 
                                            [btnName]="'Nuevo Albarán'"
                                            [btnType]="'button'"
                                            [btnClass]="'btn btn-pavyurba delete-all btn-filters-grid text-capitalize'"
                                            [btnIcon]="'pavyurba-icon-add'"
                                            (click)="addModel(ModalAlbaranesDetail, null)">
                                        </app-custom-button>
                                    </div>
                                    <!-- <div class="pr-1">
                                        <div class="right-checkbox">
                                            <div class="custom-control custom-radio mr-1">
                                                <input type="radio" class="custom-control-input" name="facturado" id="true" value="true" (change)="onSetFacturado(true)">
                                                <label class="custom-control-label" for="true">Facturado</label>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="pr-1">
                                        <div class="right-checkbox">
                                            <div class="custom-control custom-radio mr-1">
                                                <input type="radio" class="custom-control-input" name="facturado" id="false" value="false" (change)="onSetFacturado(false)">
                                                <label class="custom-control-label" for="false">No facturado</label>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="pr-1">
                                        <div class="right-checkbox">
                                            <div class="custom-control custom-radio mr-1">
                                                <input type="radio" class="custom-control-input" name="facturado" id="todos" value="todos" checked (change)="onSetFacturado(null)">
                                                <label class="custom-control-label" for="todos">Todos</label>
                                            </div>
                                        </div>                                        
                                    </div> -->
                                </div>
                            </div>
                            <div class="card-content ">
                                <div class="table-responsive min-height-8" fxFlex="auto">
                                    <table class="table table-striped border_bottom table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col" class="border-top-0"></th>
                                            <th scope="col" class="border-top-0">ID</th>
                                            <th scope="col" class="border-top-0">Número</th>
                                            <th scope="col" class="border-top-0">Obra</th>
                                            <th scope="col" class="border-top-0">Proveedor</th>
                                            <th scope="col" class="border-top-0">Material</th>
                                            <th scope="col" class="border-top-0">Cantidad</th>
                                            <th scope="col" class="border-top-0">Precio</th>
                                            <th scope="col" class="border-top-0">Total</th>
                                            <th scope="col" class="border-top-0">F. de Recibido</th>
                                            <th scope="col" class="border-top-0">Archivo</th>
                                            <!-- <th scope="col" class="border-top-0">F. de Facturacion</th> -->
                                            <th scope="col" class="border-top-0">Facturado</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-truncate pointer" *ngFor="let row of rowsFiltered; let i = index" >
                                                <td style="padding: 4px 0px;">
                                                    <div class="pl-1">
                                                        <button type="button" class="btn btn-pavyurba" (click)="removeRegistro(row)">
                                                            <i class="pavyurba-btn pavyurba-icon-delete mr-0"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                                <td (click)="addModel(ModalAlbaranesDetail, row)">{{row.id}}</td>
                                                <td (click)="addModel(ModalAlbaranesDetail, row)">{{row.numero}}</td>
                                                <td (click)="addModel(ModalAlbaranesDetail, row)">{{row.obra}}</td>
                                                <td (click)="addModel(ModalAlbaranesDetail, row)">{{row.proveedor}}</td>
                                                <td (click)="addModel(ModalAlbaranesDetail, row)">{{row.material}}</td>
                                                <td (click)="addModel(ModalAlbaranesDetail, row)">{{row.cantidad}}</td>
                                                <td (click)="addModel(ModalAlbaranesDetail, row)">{{row.precio}}</td>
                                                <td (click)="addModel(ModalAlbaranesDetail, row)">{{row.total}}</td>
                                                <td (click)="addModel(ModalAlbaranesDetail, row)">{{row.fechaRecepcion}}</td>
                                                <td>
                                                    <app-custom-button 
                                                        *ngIf="row.archivo.nombre != null && row.archivo.nombre != undefined; else userloggedOut"
                                                        [btnName]="'Archivo'"
                                                        [btnType]="'button'"
                                                        [btnClass]="'btn btn-pavyurba delete-all btn-filters-grid text-capitalize'"
                                                        [btnIcon]="'pavyurba-icon-bajar-documento'"
                                                        (click)="downloadFile(row)">
                                                    </app-custom-button>
                                                    <ng-template #userloggedOut>
                                                        Sin Archivo
                                                    </ng-template>
                                                </td>
                                                <!-- <td (click)="addModel(ModalAlbaranesDetail, row)">{{row.fechaFacturacion}}</td> -->
                                                <td>
                                                    <ui-switch
                                                        [disabled]="row.facturado ? true : false"
                                                        class="switchery"
                                                        size="small"
                                                        color="#9AE26E"
                                                        [checked]="row.facturado"
                                                        (change)="onChange($event, row.id)">
                                                    </ui-switch>
                                                </td>
                                            </tr>
                                        </tbody>
                                        
                                    </table>
                                    </div>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div  *ngIf="pagination" class="row col-md-8 justify-content-start">
                                        <!-- Total: {{ pagination.total }} -->
                                        <div class="col-md-3">
                                            <span *ngIf="validTotalAlbaran" style="color: yellow;">Total Cantidad: {{ totalCantidad }}</span> 
                                        </div>
                                        <div class="col-md-3">
                                            <span *ngIf="validTotalAlbaran" style="color: yellow;">Total: {{ totalAlbaran }}€</span> 
                                        </div>                                        
                                    </div>
                                    <div class="col-md-4">
                                        <nav aria-label="Page navigation">
                                            <div class="pagination justify-content-end pagination-separate pagination-curved pagination-flat">
                                                <select class="custom-select custom-select-pagination" style="width: auto" [(ngModel)]="pagination.per_page" (ngModelChange)="refreshCountries()">
                                                    <option [ngValue]="5">Ver 5</option>
                                                    <option [ngValue]="10">Ver 10</option>
                                                    <option [ngValue]="20">Ver 20</option>
                                                    <option [ngValue]="50">Ver 50</option>
                                                </select>
                                                <ngb-pagination
                                                [collectionSize]="pagination.total" 
                                                [(page)]="pagination.current_page" 
                                                [boundaryLinks]="true" 
                                                [maxSize]="1"
                                                [pageSize]="pagination.per_page"
                                                (pageChange)="pageChanged($event)" aria-label="Default pagination">
                                                    <ng-template ngbPaginationFirst><i class="pavyurba-btn-p pavyurba-icon-chevrons-left"></i></ng-template>
                                                    <ng-template ngbPaginationLast><i class="pavyurba-btn-p pavyurba-icon-chevrons-right"></i></ng-template>
                                                    <ng-template ngbPaginationPrevious><i class="pavyurba-btn-p pavyurba-icon-chevron-left"></i></ng-template>
                                                    <ng-template ngbPaginationNext><i class="pavyurba-btn-p pavyurba-icon-chevron-right"></i></ng-template>
                                                    <ng-template ngbPaginationEllipsis>...</ng-template>
                                                    <ng-template ngbPaginationNumber let-page class="round">{{ page }}</ng-template>
                                                </ngb-pagination>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
            </section>
        </div>
        <!-- Modal -->
        <ng-template class="modal text-left" #ModalAlbaranesDetail let-c="close" let-d="dismiss">
            <div class="modal-lg">
                <div class="modal-header">
                    <h3 id="myModalLabel23">{{titelModal}}</h3>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-scroll-y p-0">
                    <app-albaranes-detail 
                        [idAlbaranes]="idAlbaranesListar"
                        *ngIf="cargaCompleta"
                        (closeModal)="onCloseModal($event)">
                    </app-albaranes-detail>
                </div>
            </div>
        </ng-template>
    </div>
</div>

