<form [formGroup]="materialsForm" (ngSubmit)="add()" >
    <div class="form-body">
        <label class="input-title" for="Datos">Datos</label>
        <div class="row recuadro">
            <input type="hidden" id="id"  formControlName="id" value={{materials.id}} >
            <div class="col-md-12">
                <label style="font-size: smaller;" *ngIf="edicion">Nombre*</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="text" id="nombre" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" class="form-control" placeholder="Nombre*"
                        formControlName="nombre" value={{materials.nombre}} >
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-material"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.nombre.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of materials_validation_messages.nombre">
                            <div class="error-message" *ngIf="materialsForm.get('nombre').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-md-4">
                <label style="font-size: smaller;" *ngIf="edicion">Precio*</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="number" id="precio" [ngClass]="{ 'is-invalid': submitted && f.precio.errors }" class="form-control" placeholder="Precio*"
                        formControlName="precio" value={{materials.precio}}>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-precio"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.precio.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of materials_validation_messages.precio">
                            <div class="error-message" *ngIf="materialsForm.get('precio').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-md-4">
                <label style="font-size: smaller;" *ngIf="edicion">Medida</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="number" id="medida" [ngClass]="{ 'is-invalid': submitted && f.medida.errors }" class="form-control" placeholder="Medida"
                        formControlName="medida" value={{materials.medida}}>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-metros-o"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.medida.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of materials_validation_messages.medida">
                            <div class="error-message" *ngIf="materialsForm.get('medida').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-md-4">
                <label style="font-size: smaller;" *ngIf="edicion">Unidades*</label>
                <div class="form-group position-relative has-icon-left">
                        <select id="idUnidadMedida" class="form-control" formControlName="idUnidadMedida"
                            [ngClass]="{ 'is-invalid': submitted && f.idUnidadMedida.errors }" placeholder="Unidades*">
                            <option [ngValue]="null" [disabled]="true" [selected]="true">Unidades*</option>
                            <option *ngFor="let unidad of unidades" [value]="unidad.id">{{unidad.texto}}</option>
                        </select>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-unidades"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.idUnidadMedida.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of materials_validation_messages.idUnidadMedida">
                            <div class="error-message" *ngIf="materialsForm.get('idUnidadMedida').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
    
            <div class="col-md-12">
                <label style="font-size: smaller;" *ngIf="edicion">Observaciones</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="text" id="observaciones"  [ngClass]="{ 'is-invalid': submitted && f.observaciones.errors }" class="form-control" placeholder="Observaciones"
                        formControlName="observaciones" value={{materials.observaciones}} maxlength="{{maxLength}}" [(ngModel)]="mensaje">
                        <div class="text-right">
                            <!-- <span>{{mensaje.length}}/{{maxLength}}</span> -->
                            <span *ngIf="mensaje != null && mensaje != undefined; else mensajeLength">
                                {{mensaje.length}}/{{maxLength}}                            
                            </span>
                            <ng-template #mensajeLength >
                            <span>
                                0/{{maxLength}}                            
                            </span>
                            </ng-template>
                        </div>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-observaciones"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.observaciones.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of materials_validation_messages.observaciones">
                            <div class="error-message" *ngIf="materialsForm.get('observaciones').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
        </div>
    </div>
    <div class="modal-footer">   
        <button type="button" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize" (click)="closeModal.emit(true)">
            <i class="pavyurba-icon pavyurba-icon-cancel" ></i>&nbsp; Cancelar
        </button>
        <button type="submit" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize">
            <i class="pavyurba-icon pavyurba-icon-done-o"></i>&nbsp; {{ edicion ? 'Guardar Cambios':'Crear Material' }}
        </button>
    </div>
</form>


