<div class="modal-lg">
    <div class="modal-header">
        <h3 id="myModalLabel23">{{titel}}</h3>
        <button type="button" class="close" aria-label="Close" (click)="onCloseModal('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body modal-scroll-y p-0">
        <app-facturas-detail 
            [idObras]="idObras" *ngIf="edit == 1"
            (closeModal)="onCloseModal($event)">
        </app-facturas-detail>
        <app-facturas-refrescar-detail 
            [idObras]="idObras" *ngIf="edit == 2"
            [idFactura]="idFactura"
            [montoFactura]="montoFactura"
            [nroFactura]="nroFactura"
            [mes]="mes"
            [anno]="anno"
            [tipo]="tipo"
            (closeModal)="onCloseModal($event)">
        </app-facturas-refrescar-detail>
        <app-facturas-list-detail 
            [idObras]="idObras" *ngIf="edit == 3"
            [idFactura]="idFactura"
            (closeModal)="onCloseModal($event)">
        </app-facturas-list-detail>
    </div>
</div>
