
<div class="row">
    <div class="col-12 col-md-12" *blockUI="'componentsFacturasDetalle'; message: 'Loading'">
        <div class="card min-height-8">
            <div class="card-content ">
                <div class="table-responsive min-height-8" fxFlex="auto">
                    <table class="table table-striped border_bottom table-hover">
                        <thead>
                        <tr>
                            <!--<th scope="col" class="border-top-0"></th>-->
                            <th scope="col" class="border-top-0">N°</th>
                            <th scope="col" class="border-top-0">N° Factura</th>
                            <th scope="col" class="border-top-0">Año</th>
                            <th scope="col" class="border-top-0">Mes</th>
                            <th scope="col" class="border-top-0">Importe</th>
                            <th scope="col" class="border-top-0">Tipo</th>
                            <th scope="col" class="border-top-0">Adjunto</th>
                            <th scope="col" class="border-top-0">De</th>
                            <th scope="col" class="border-top-0">Finalizado</th>
                            <th scope="col" class="border-top-0">Modificado</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr class="text-truncate pointer" *ngFor="let row of rowsFiltered; let i = index" >
                                <!--<td class="text-truncate pointer">
                                    <span class="custom-control custom-checkbox" >
                                        <input type="checkbox" class="custom-control-input" id="select{{i}}" value="{{row.id}}" [checked]="row.selected" (change)="onCheckboxChangeFn(i,!row.selected, $event)"/>
                                        <label class="custom-control-label" for="select{{i}}"></label>
                                    </span>
                                </td>-->
                                <td>{{row.id}}</td>
                                <td>{{row.numero}}</td>
                                <td>{{row.ano}}</td>
                                <td>{{row.mes}}</td>
                                <td>{{row.total}}</td>
                                <td>{{row.tipo}}</td>
                                <td>
                                    <div class="row">
                                        <div class="col-12">
                                            <app-custom-button 
                                                [btnName]="'Bajar'"
                                                [btnType]="'button'"
                                                [btnClass]="'btn btn-pavyurba delete-all btn-filters-grid text-capitalize'"
                                                [btnIcon]="'pavyurba-icon-bajar-documento'"
                                                (click)="downloadFile(row)">
                                            </app-custom-button>
                                        </div>
                                    </div>
                                </td>
                                <td>{{row.usuarioLog}}</td>
                                <td>{{row.estatus}}</td>
                                <td>{{row.fechaHoraLog}}</td>
                            </tr>
                        </tbody>
                        
                    </table>
                    </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div  *ngIf="pagination" class="col-md-6 justify-content-start pt-1">
                        <!-- Total: {{ pagination.total }} -->
                        <!-- &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  -->
                        <span *ngIf="validTotalFactura" style="color: yellow;">Total: {{ totalFactura }}€</span>                            
                    </div>
                    <div class="col-md-6">
                        <nav aria-label="Page navigation">
                            <div class="pagination justify-content-end pagination-separate pagination-curved pagination-flat">
                                <select class="custom-select custom-select-pagination" style="width: auto" [(ngModel)]="pagination.per_page" (ngModelChange)="refreshCountries()">
                                    <option [ngValue]="5">Ver 5</option>
                                    <option [ngValue]="10">Ver 10</option>
                                    <option [ngValue]="20">Ver 20</option>
                                    <option [ngValue]="50">Ver 50</option>
                                </select>
                                <ngb-pagination
                                [collectionSize]="pagination.total" 
                                [(page)]="pagination.current_page" 
                                [boundaryLinks]="true" 
                                [maxSize]="1"
                                [pageSize]="pagination.per_page"
                                (pageChange)="pageChanged($event)" aria-label="Default pagination">
                                    <ng-template ngbPaginationFirst><i class="pavyurba-btn-p pavyurba-icon-chevrons-left"></i></ng-template>
                                    <ng-template ngbPaginationLast><i class="pavyurba-btn-p pavyurba-icon-chevrons-right"></i></ng-template>
                                    <ng-template ngbPaginationPrevious><i class="pavyurba-btn-p pavyurba-icon-chevron-left"></i></ng-template>
                                    <ng-template ngbPaginationNext><i class="pavyurba-btn-p pavyurba-icon-chevron-right"></i></ng-template>
                                    <ng-template ngbPaginationEllipsis>...</ng-template>
                                    <ng-template ngbPaginationNumber let-page class="round">{{ page }}</ng-template>
                                </ngb-pagination>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
