<form [formGroup]="albaranesForm" (ngSubmit)="add()" >
    <div class="form-body">
        <label class="input-title" for="Datos">Datos</label>
        <div class="row recuadro">
            <input type="hidden" id="id"  formControlName="id" value={{albaranes.id}} >
            <div class="col-12 col-md-12">
                <label style="font-size: smaller;" *ngIf="edicion">Obras*</label>
                <div class="form-group position-relative has-icon-left">
                    <!-- <select id="idObra" class="form-control" formControlName="idObra"
                        [ngClass]="{ 'is-invalid': submitted && f.idObra.errors }"  placeholder="Obras*">
                        <option [ngValue]="null" [disabled]="true" [selected]="true">Obras*</option>
                        <option *ngFor="let obra of obras" [value]="obra.id">{{obra.texto}}</option>
                    </select> -->
                    <ng-select [ngClass]="{ 'is-invalid': submitted && f.idObra.errors }" 
                    [items]="obras" [searchable]="true" placeholder="Obras*"
                        bindLabel="texto" bindValue="id"
                        id="idObra" formControlName="idObra">
                    </ng-select>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-obra"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.idObra.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of albaranes_validation_messages.idObra">
                            <div class="error-message" *ngIf="albaranesForm.get('idObra').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div>  
            </div>
            <div class="col-12 col-md-6">
                <label style="font-size: smaller;" *ngIf="edicion">Proveedor*</label>
                <div class="form-group position-relative has-icon-left">
                    <!-- <select id="idProveedor" class="form-control" formControlName="idProveedor"
                        [ngClass]="{ 'is-invalid': submitted && f.idProveedor.errors }"  placeholder="Proveedor*">
                        <option [ngValue]="null" [disabled]="true" selected="true">Proveedor*</option>
                        <option *ngFor="let provider of providers" [value]="provider.id">{{provider.texto}}</option>
                    </select> -->
                    <ng-select [ngClass]="{ 'is-invalid': submitted && f.idProveedor.errors }" 
                    [items]="providers" [searchable]="true" placeholder="Proveedor*"
                        bindLabel="texto" bindValue="id"
                        id="idProveedor" formControlName="idProveedor">
                    </ng-select>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-proveedor"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.idProveedor.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of albaranes_validation_messages.idProveedor">
                            <div class="error-message" *ngIf="albaranesForm.get('idProveedor').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-12 col-md-6">
                <label style="font-size: smaller;" *ngIf="edicion">Material*</label>
                <div class="form-group position-relative has-icon-left">
                    <!-- <select id="idMaterial" class="form-control" formControlName="idMaterial"
                        [ngClass]="{ 'is-invalid': submitted && f.idMaterial.errors }" placeholder="Material*">
                        <option [ngValue]="null" [disabled]="true" [selected]="true">Material*</option>
                        <option *ngFor="let material of materials" [value]="material.id">{{material.texto}}</option>
                    </select> -->
                    <ng-select [ngClass]="{ 'is-invalid': submitted && f.idMaterial.errors }" 
                    [items]="materials" [searchable]="true" placeholder="Material*"
                        bindLabel="texto" bindValue="id"
                        id="idMaterial" formControlName="idMaterial">
                    </ng-select>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-material"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.idMaterial.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of albaranes_validation_messages.idMaterial">
                            <div class="error-message" *ngIf="albaranesForm.get('idMaterial').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
        </div>

        <label class="input-title" for="Datos">Valores</label>
        <div class="row recuadro">
            <div class="col-12 col-md-6">
                <label style="font-size: smaller;" *ngIf="edicion">Cantidad*</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="number" id="cantidad" [ngClass]="{ 'is-invalid': submitted && f.cantidad.errors }" class="form-control" placeholder="Cantidad*"
                        formControlName="cantidad" value={{albaranes.cantidad}} [(ngModel)]="cantidad" (change)="changeCantidad()">
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-metros-o"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.cantidad.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of albaranes_validation_messages.cantidad">
                            <div class="error-message" *ngIf="albaranesForm.get('cantidad').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div> 
            <div class="col-12 col-md-6">
                <label style="font-size: smaller;" *ngIf="edicion">Precio*</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="number" id="precio" class="form-control" placeholder="Precio*"
                        formControlName="precio" value={{albaranes.precio}} [(ngModel)]="precio" (change)="changeCantidad()">
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-precio"></i>
                    </div>                    
                    <small class="form-text text-muted danger" *ngIf="submitted && f.precio.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of albaranes_validation_messages.precio">
                            <div class="error-message" *ngIf="albaranesForm.get('precio').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div> 
            <div class="col-12 col-md-12">
                <label style="font-size: smaller;" *ngIf="edicion">Importe Total</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="number" id="montoTotal" class="form-control" placeholder="Importe Total"
                        formControlName="montoTotal" [(ngModel)]="montoTotal" disabled style="background-color: rgba(255, 255, 255, 0.25) !important; ">
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-total"></i>
                    </div>
                </div> 
            </div>
            <!-- <div class="col-md-12">
                <div class="form-group position-relative has-icon-left">
                    <input type="text" id="observaciones"  [ngClass]="{ 'is-invalid': submitted && f.observaciones.errors }" class="form-control" placeholder="Observaciones"
                        formControlName="observaciones" value={{albaranes.observaciones}} maxlength="{{maxLength}}" [(ngModel)]="mensaje">
                    <div class="text-right">
                        <span>{{mensaje.length}}/{{maxLength}}</span>
                    </div>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-observaciones"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.observaciones.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of albaranes_validation_messages.observaciones">
                            <div class="error-message" *ngIf="albaranesForm.get('observaciones').hasError(validation.type) && (albaranesForm.get('observaciones').dirty || albaranesForm.get('observaciones').touched)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div> -->
        </div>
    </div>
    <div class="modal-footer">   
        <button type="button" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize" (click)="closeModal.emit(true)">
            <i class="pavyurba-icon pavyurba-icon-cancel" ></i>&nbsp; Cancelar
        </button>
        <button type="submit" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize">
            <i class="pavyurba-icon pavyurba-icon-done-o"></i>&nbsp; Aceptar
        </button>
    </div>
</form>


