<section id="collapsible" >     
    <div class="row">
        <!-- <div class="col-lg-12 col-xl-12 pl-0"  *blockUI="'componentsConditions'; message: 'Loading'"> -->
        <div class="col-lg-12 col-xl-12 pl-0">
            <div class="card collapse-icon accordion-icon-rotate">
                <div class="card-header">
                    <a data-toggle="collapse" class="card-title white lead"
                        (click)="rightIconCollapse1 = !rightIconCollapse1" [attr.aria-expanded]="!rightIconCollapse1"
                        aria-controls="rightIconCollapse1">Lista de Condiciones en el Sistema</a>
                </div>
                <div id="rightIconCollapse1" [ngbCollapse]="rightIconCollapse1">
                    <div class="card-content">
                        <div class="card-body">
                            <app-conditions-detail 
                            [tipoGestion]="types.Catalago"
                            *ngIf="cargaCompleta"
                            (reset)="onReset($event)"></app-conditions-detail>
                        </div>
                    </div>
                </div>
                <div class="card-header">
                    <a data-toggle="collapse" class="card-title white lead"
                        (click)="rightIconCollapse2 = !rightIconCollapse2" [attr.aria-expanded]="rightIconCollapse2"
                        aria-controls="rightIconCollapse2">Cambio de Condiciones a trabajadores seleccionados</a>
                </div>
                <div id="rightIconCollapse2" [ngbCollapse]="!rightIconCollapse2">
                    <div class="card-content">
                        <div class="card-body">
                            <app-conditions-detail 
                            [tipoGestion]="types.Parcial"
                            *ngIf="cargaCompleta"
                            (reset)="onReset($event)"></app-conditions-detail>
                        </div>
                    </div>
                </div>
                <div class="card-header">
                    <a data-toggle="collapse" class="card-title white lead"
                        (click)="rightIconCollapse3 = !rightIconCollapse3" [attr.aria-expanded]="rightIconCollapse3"
                        aria-controls="rightIconCollapse3">Cambio de Condiciones a todos los trabajadores</a>
                </div>
                <div id="rightIconCollapse3" [ngbCollapse]="!rightIconCollapse3">
                    <div class="card-content">
                        <div class="card-body">
                            <app-conditions-detail 
                            [tipoGestion]="types.Total"
                            *ngIf="cargaCompleta"
                            (reset)="onReset($event)"></app-conditions-detail>
                        </div>
                    </div>
                </div>         
            </div>
        </div>
    </div>
</section>  