<form [formGroup]="facturasForm" (ngSubmit)="add()" *blockUI="'componentsFacturasDetail'; message: 'Loading'">
    <div class="form-body">
        <div class="row">
            <div class="col-md-5">
                <label class="input-title" for="Subir Documento">Estatus</label>
                <div class="row recuadro" >
                    <div class="col-md-12">
                        <div class="custom-control custom-radio mr-1">
                            <input type="radio" class="custom-control-input" formControlName="estatus" name="estatus" id="cliente" value="{{SUBIDA_CLIENTE}}" checked>
                            <label class="custom-control-label" for="cliente">Subida - Cliente</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="custom-control custom-radio mr-1">
                            <input type="radio" class="custom-control-input" formControlName="estatus" name="estatus" id="empresa" value="{{SUBIDA_EMPRESA}}">
                            <label class="custom-control-label" for="empresa">Subida - Empresa</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="custom-control custom-radio mr-1">
                            <input type="radio" class="custom-control-input" formControlName="estatus" name="estatus" id="finalizado" value="{{FINALIZADO}}">
                            <label class="custom-control-label" for="finalizado">Finalizado</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <label class="input-title" for="Datos">Importe</label>
                <div class="row recuadro">
                    <div class="col-md-12">
                        <label style="font-size: smaller;">Número Factura*</label>
                        <div class="form-group position-relative has-icon-left">
                            <input type="text" id="numero" [ngClass]="{ 'is-invalid': submitted && f.numero.errors }" class="form-control" placeholder="Número Factura*"
                                formControlName="numero" value={{factura.numero}} >
                            <div class="form-control-position">
                                <i class="pavyurba-input pavyurba-icon-numero-factura"></i>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="submitted && f.numero.errors"
                                class="invalid-feedback">
                                <div *ngFor="let validation of facturas_validation_messages.numero">
                                    <div class="error-message" *ngIf="facturasForm.get('numero').hasError(validation.type)">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div> 
                    </div>
                    <div class="col-md-12">
                        <label style="font-size: smaller;">Importe*</label>
                        <div class="form-group position-relative has-icon-left">
                            <input type="number" id="total" [ngClass]="{ 'is-invalid': submitted && f.total.errors }" class="form-control" placeholder="Importe*"
                                formControlName="total" value={{factura.total}} >
                            <div class="form-control-position">
                                <i class="pavyurba-input pavyurba-icon-precio"></i>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="submitted && f.total.errors"
                                class="invalid-feedback">
                                <div *ngFor="let validation of facturas_validation_messages.total">
                                    <div class="error-message" *ngIf="facturasForm.get('total').hasError(validation.type)">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div> 
                    </div>
                </div>

                <label class="input-title" for="Subir Documento">Subir Documento</label>
                <div class="row recuadro" >
                
                    <div class="col-md-12">
                        <div class="form-group">
                            <button class="btn btn-block btn-pavyurba mb-1" (click)="document()">
                            <i class="pavyurba-btn pavyurba-icon-subir-documento"></i>{{titleDocumento}}
                            </button>
                            <input type="file" [ngClass]="{ 'is-invalid': submitted && archivoValid }" style="display:none" class="form-control" formControlName="archivo" id="archivo"
                                (change)="onFileChange($event)">
                            <!-- <label #labelImport></label> -->
                            <small class="form-text text-muted danger" *ngIf="submitted && archivoValid"
                                class="invalid-feedback">
                                <div *ngFor="let validation of facturas_validation_messages.archivo">
                                    <div class="error-message">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div>
                        <!-- <div class="form-group"> -->
                            <!-- <div class="custom-file"> -->
                            
                            <!-- <label class="custom-file-label" #labelImport for="inputGroupFile01">Choose file</label> -->
                            <!-- </div> -->
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">   
        <button type="button" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize" (click)="closeModal.emit(true)">
            <i class="pavyurba-icon pavyurba-icon-cancel" ></i>&nbsp; Cancelar
        </button>
        <button type="submit" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize">
            <i class="pavyurba-icon pavyurba-icon-done-o"></i>&nbsp; Aceptar
        </button>
    </div>
</form>

