<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <!-- <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb> -->
        </div>
        <div class="content-body">
            <section id="selection-n-deletion">
                <div class="row">
                    <div class="col-12 col-md-12" *blockUI="'componentsEstadisticas'; message: 'Loading'">
                        <div class="card min-height-8">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-group position-relative has-icon-left">
                                            <input type="search" class="form-control text-black" placeholder="Buscar" (change)="searchFilter($event)">
                                            <div class="form-control-position">
                                                <i class="pavyurba-input pavyurba-icon-busqueda"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="pr-1">
                                        <div class="form-group position-relative has-icon-left">                                    
                                            <input class="form-control" placeholder="Fecha Desde*" [(ngModel)]="fechaDesde" 
                                            ngbDatepicker #d="ngbDatepicker" style="color:#525456;" (ngModelChange)="changeDate()">
                                            <div class="form-control-position" (click)="d.toggle()">
                                                <i class="pavyurba-input pavyurba-icon-fecha-alta" style="cursor: pointer;"></i>
                                            </div>
                                        </div> 
                                    </div> 
                                    <div class="pr-1">
                                        <div class="form-group position-relative has-icon-left">                                    
                                            <input class="form-control" placeholder="Fecha Hasta*" [(ngModel)]="fechaHasta" 
                                            ngbDatepicker #d1="ngbDatepicker" style="color:#525456;" (ngModelChange)="changeDate()">
                                            <div class="form-control-position" (click)="d1.toggle()">
                                                <i class="pavyurba-input pavyurba-icon-fecha-baja" style="cursor: pointer;"></i>
                                            </div>
                                        </div> 
                                    </div> -->
                                    <div class="col-2 pl-0">
                                        <div class="form-group position-relative has-icon-left">
                                            <ng-select [items]="clientes" [searchable]="true" dropdownPosition="bottom" placeholder="Clientes*" (change)="setClientes($event)"
                                                bindLabel="texto" bindValue="id"
                                                id="idCliente" [(ngModel)]="idCliente">
                                            </ng-select>
                                            <div class="form-control-position">
                                                <i class="pavyurba-input pavyurba-icon-cliente"></i>
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="col-2 pl-0">
                                        <div class="form-group position-relative has-icon-left">
                                            <ng-select [items]="constructoras" [searchable]="true" dropdownPosition="bottom" placeholder="Constructoras*" (change)="setConstructoras($event)"
                                                bindLabel="texto" bindValue="id"
                                                id="idConstructora" [(ngModel)]="idConstructora">
                                            </ng-select>
                                            <div class="form-control-position">
                                                <i class="pavyurba-input pavyurba-icon-constructora-obra"></i>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <div class="card-content ">
                                <div class="table-responsive min-height-8" fxFlex="auto">
                                    <table class="table table-striped border_bottom table-hover">
                                        <thead>
                                        <tr>
                                            <!--<th scope="col" class="border-top-0"></th>-->
                                            <th scope="col" class="border-top-0">ID</th>
                                            <th scope="col" class="border-top-0">Cliente</th>
                                            <th scope="col" class="border-top-0">Constructora</th>
                                            <th scope="col" class="border-top-0">Denominación de Obra</th>
                                            <th scope="col" class="border-top-0">Ingresos</th>
                                            <th scope="col" class="border-top-0">P. Trabajo</th>
                                            <th scope="col" class="border-top-0">Dif. Nómina</th>
                                            <th scope="col" class="border-top-0">Gastos</th>
                                            <th scope="col" class="border-top-0">Gastos Generales</th>
                                            <th scope="col" class="border-top-0">G. Administrativos</th>
                                            <th scope="col" class="border-top-0">S. Social</th>
                                            <th scope="col" class="border-top-0">Diferencia</th>
                                            <th scope="col" class="border-top-0">Días</th>
                                            <th scope="col" class="border-top-0">Vinculadas</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-truncate pointer" *ngFor="let row of rowsFiltered; let i = index" >
                                                <td>{{row.id}}</td>
                                                <td>{{row.cliente}}</td>
                                                <td>{{row.constructora}}</td>
                                                <td>{{row.nombre}}</td>
                                                <td>                                                                                                    
                                                    <div class="pl-1" style="float: right;">    
                                                        <span *ngIf="row.ingresos != null; else ingresosDatos">{{row.ingresos}}€ &nbsp;</span>                                                                                                             
                                                        <ng-template #ingresosDatos><span>&nbsp; &nbsp;&nbsp;</span></ng-template>                                                                                                          
                                                        <button type="button" class="btn btn-pavyurba" (click)="addModel(ModalFacturasDetail, row)">
                                                            <i class="pavyurba-btn pavyurba-icon-b-ingresos mr-0"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="pl-1" style="float: right;">    
                                                        <span *ngIf="row.partesTrabajos != null; else partesTrabajosDatos">{{row.partesTrabajos}} &nbsp;</span>                                                                                                             
                                                        <ng-template #partesTrabajosDatos><span>&nbsp; &nbsp;&nbsp;</span></ng-template>                                                                                                          
                                                        <button type="button" class="btn btn-pavyurba" (click)="addModel(ModalPartesTrabajosDetail, row)">
                                                            <i class="pavyurba-btn pavyurba-icon-b-pdetrabajo mr-0"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="pl-1" style="float: right;">    
                                                        <span *ngIf="row.diferenciasNomina != null; else diferenciasNominaDatos">{{row.diferenciasNomina}}€ &nbsp;</span>                                                                                                             
                                                        <ng-template #diferenciasNominaDatos><span>&nbsp; &nbsp; &nbsp;</span></ng-template>                                                                                                          
                                                        <button type="button" class="btn btn-pavyurba" (click)="addModel(ModalNominasObrasDetail, row)">
                                                            <i class="pavyurba-btn pavyurba-icon-calculo-estadisticas mr-0"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="pl-1" style="float: right;">    
                                                        <span *ngIf="row.gastos != null; else gastosDatos">{{row.gastos}}€ &nbsp;</span>                                                                                                             
                                                        <ng-template #gastosDatos><span>&nbsp; &nbsp; &nbsp;</span></ng-template>                                                                                                          
                                                        <button type="button" class="btn btn-pavyurba" (click)="addModel(ModalGastosObrasDetail, row)">
                                                            <i class="pavyurba-btn pavyurba-icon-b-gastos mr-0"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="pl-1" style="float: right;">    
                                                        <span *ngIf="row.gastosGenerales != null; else gastosGeneralesDatos">{{row.gastosGenerales}}€ &nbsp;</span>                                                                                                             
                                                        <ng-template #gastosGeneralesDatos><span>&nbsp; &nbsp; &nbsp;</span></ng-template>                                                                                                          
                                                        <button type="button" class="btn btn-pavyurba" (click)="addModel(ModalGastosGeneralesObrasDetail, row)">
                                                            <i class="pavyurba-btn pavyurba-icon-b-gastos mr-0"></i>
                                                        </button>
                                                    </div>
                                                <td>
                                                    <div class="pl-1" style="float: right;">    
                                                        <span *ngIf="row.gastosGeneralesAdministrativos != null; else gastosGeneralesAdministrativosDatos">{{row.gastosGeneralesAdministrativos}}€ &nbsp;</span>                                                                                                             
                                                        <ng-template #gastosGeneralesAdministrativosDatos><span>&nbsp; &nbsp; &nbsp;</span></ng-template>                                                                                                          
                                                        <button type="button" class="btn btn-pavyurba" (click)="addModel(ModalGastosAdminObrasDetail, row)">
                                                            <i class="pavyurba-btn pavyurba-icon-calculo-estadisticas mr-0"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="pl-1" style="float: right;">    
                                                        <span *ngIf="row.seguridadSocial != null; else seguridadSocialDatos">{{row.seguridadSocial}}€ &nbsp;</span>                                                                                                             
                                                        <ng-template #seguridadSocialDatos><span>&nbsp; &nbsp; &nbsp;</span></ng-template>                                                                                                          
                                                        <button type="button" class="btn btn-pavyurba" (click)="addModel(ModalSeguridadSocialObrasDetail, row)">
                                                            <i class="pavyurba-btn pavyurba-icon-calculo-estadisticas mr-0"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="pl-1">    
                                                        <span *ngIf="row.diferencias != null; else diferenciasDatos">{{row.diferencias}}€ &nbsp;</span>                                                                                                             
                                                        <ng-template #diferenciasDatos><span>&nbsp; &nbsp; &nbsp;</span></ng-template>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="pl-1" style="float: right;">    
                                                        <span *ngIf="row.dias != null; else diasDatos">{{row.dias}} &nbsp;</span>                                                                                                             
                                                        <ng-template #diasDatos><span>&nbsp; &nbsp; &nbsp;</span></ng-template>                                                                                                          
                                                        <button type="button" class="btn btn-pavyurba" (click)="addModel(ModalCalendariosObrasDetail, row)">
                                                            <i class="pavyurba-btn pavyurba-icon-b-dias-trabajados mr-0"></i>
                                                        </button>
                                                    </div>                                                
                                                </td>
                                                <td>
                                                    <!-- {{row.idVinculacion}}   -->
                                                    <div class="pl-1" style="float: right;">     
                                                        <app-custom-button 
                                                            [btnName]="'Obra ID'"
                                                            [btnType]="'button'"
                                                            [btnClass]="'btn btn-pavyurba delete-all btn-filters-grid text-capitalize'"
                                                            [btnIcon]="'pavyurba-btn pavyurba-icon-b-obras mr-0'"
                                                            (click)="addModelObraID(ModalObrasIDDetail, row)">
                                                        </app-custom-button>
                                                        <button type="button" *ngIf="row.vinculada" class="btn btn-pavyurba" (click)="addModelListarPorObraID(ModalObrasVinculadasDetail, row)">
                                                            <i class="pavyurba-btn pavyurba-icon-calculo-estadisticas mr-0"></i>
                                                        </button>  
                                                        <button type="button" *ngIf="!row.vinculada" disabled class="btn btn-pavyurba" (click)="ModalObrasVinculadasDetail(addModelListarPorObraID, row)">
                                                            <i class="pavyurba-btn pavyurba-icon-calculo-estadisticas mr-0"></i>
                                                        </button> 
                                                        <button type="button" *ngIf="row.vinculada" class="btn btn-pavyurba" (click)="deleteVinculada(row)">
                                                            <i class="pavyurba-btn pavyurba-icon-delete mr-0"></i>
                                                        </button> 
                                                        <button type="button" *ngIf="!row.vinculada" disabled class="btn btn-pavyurba" (click)="deleteVinculada(row)">
                                                            <i class="pavyurba-btn pavyurba-icon-delete mr-0"></i>
                                                        </button>
                                                    </div>                                            
                                                </td>
                                            </tr>
                                        </tbody>
                                        
                                    </table>
                                    </div>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div  *ngIf="pagination" class="row col-md-8 justify-content-start">
                                        <!-- Total: {{ pagination.total }} -->
                                        <div class="col-12 col-md-4" *ngIf="validTotalIngresos">
                                            <span style="color: yellow;">Total Ingresos: {{ totalIngresos }}€</span> 
                                        </div>
                                        <div class="col-12 col-md-4" *ngIf="validTotalPartesTrabajos">
                                            <span style="color: yellow;">Total P.Trabajos: {{ totalPartesTrabajos }}€</span> 
                                        </div>                                        
                                        <div class="col-12 col-md-4" *ngIf="validTotalDiferenciasNomina">
                                            <span style="color: yellow;">Total Dif.Nómina: {{ totalDiferenciasNomina }}€</span> 
                                        </div>   
                                        <div class="col-12 col-md-4" *ngIf="validTotalGastos">
                                            <span style="color: yellow;">Total Gastos: {{ totalGastos }}€</span> 
                                        </div>
                                        <div class="col-12 col-md-4" *ngIf="validTotalGastosGenerales">
                                            <span style="color: yellow;">Total G.Generales: {{ totalGastosGenerales }}€</span> 
                                        </div>                                        
                                        <div class="col-12 col-md-4" *ngIf="validTotalGastosGeneralesAdministrativos">
                                            <span style="color: yellow;">Total G.Admin: {{ totalGastosGeneralesAdministrativos }}€</span> 
                                        </div> 
                                        <div class="col-12 col-md-4" *ngIf="validTotalSeguridadSocial">
                                            <span style="color: yellow;">Total S.Social: {{ totalSeguridadSocial }}€</span> 
                                        </div>
                                        <div class="col-12 col-md-4" *ngIf="validTotalDiferencias">
                                            <span style="color: yellow;">Total Diferencias: {{ totalDiferencias }}€</span> 
                                        </div>                                        
                                        <div class="col-12 col-md-4" *ngIf="validTotalDias">
                                            <span style="color: yellow;">Total Días: {{ totalDias }}</span> 
                                        </div>                                      
                                    </div>
                                    <div class="col-md-4">
                                        <nav aria-label="Page navigation">
                                            <div class="pagination justify-content-end pagination-separate pagination-curved pagination-flat">
                                                <select class="custom-select custom-select-pagination" style="width: auto" [(ngModel)]="pagination.per_page" (ngModelChange)="refreshCountries()">
                                                    <option [ngValue]="5">Ver 5</option>
                                                    <option [ngValue]="10">Ver 10</option>
                                                    <option [ngValue]="20">Ver 20</option>
                                                    <option [ngValue]="50">Ver 50</option>
                                                </select>
                                                <ngb-pagination
                                                [collectionSize]="pagination.total" 
                                                [(page)]="pagination.current_page" 
                                                [boundaryLinks]="true" 
                                                [maxSize]="1"
                                                [pageSize]="pagination.per_page"
                                                (pageChange)="pageChanged($event)" aria-label="Default pagination">
                                                    <ng-template ngbPaginationFirst><i class="pavyurba-btn-p pavyurba-icon-chevrons-left"></i></ng-template>
                                                    <ng-template ngbPaginationLast><i class="pavyurba-btn-p pavyurba-icon-chevrons-right"></i></ng-template>
                                                    <ng-template ngbPaginationPrevious><i class="pavyurba-btn-p pavyurba-icon-chevron-left"></i></ng-template>
                                                    <ng-template ngbPaginationNext><i class="pavyurba-btn-p pavyurba-icon-chevron-right"></i></ng-template>
                                                    <ng-template ngbPaginationEllipsis>...</ng-template>
                                                    <ng-template ngbPaginationNumber let-page class="round">{{ page }}</ng-template>
                                                </ngb-pagination>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
            </section>
        </div>
    </div>
</div>


<!-- Modal Facturas -->
<ng-template class="modal text-left" #ModalFacturasDetail let-c="close" let-d="dismiss">
    <div class="modal-lg">
        <div class="modal-header">
            <h3 id="myModalLabel23">Facturas en Obra {{nombreObra}}</h3>
            <button type="button" class="close" aria-label="Close" (click)="onCloseModal($event)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body modal-scroll-y p-0">
            <app-proformas-facturas-obras 
                [idObras]="idObras"
                *ngIf="cargaCompleta"
                (closeModal)="onCloseModal($event)">
            </app-proformas-facturas-obras>
        </div>
    </div>
</ng-template>

<!-- Modal Partes Trabajos -->
<ng-template class="modal text-left" #ModalPartesTrabajosDetail let-c="close" let-d="dismiss">
    <div class="modal-lg">
        <div class="modal-header">
            <h3 id="myModalLabel23">Partes de Trabajos en Obra {{nombreObra}}</h3>
            <button type="button" class="close" aria-label="Close" (click)="onCloseModal($event)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body modal-scroll-y p-0">
            <app-partes-trabajos-obras 
                [idObras]="idObras"
                *ngIf="cargaCompleta"
                (closeModal)="onCloseModal($event)">
            </app-partes-trabajos-obras>
        </div>
    </div>
</ng-template>

<!-- Modal Diferencia de Nominas -->
<ng-template class="modal text-left" #ModalNominasObrasDetail let-c="close" let-d="dismiss">
    <div class="modal-lg">
        <div class="modal-header">
            <h3 id="myModalLabel23">Diferencias de Nómina en Obra {{nombreObra}}</h3>
            <button type="button" class="close" aria-label="Close" (click)="onCloseModal($event)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body modal-scroll-y p-0">
            <app-nominas-obras 
                [idObras]="idObras"
                [tipoFiltroGeneral]="'0'"
                [nomina]="'true'"
                *ngIf="cargaCompleta"
                (closeModal)="onCloseModal($event)">
            </app-nominas-obras>
        </div>
    </div>
</ng-template>

<!-- Modal Gastos -->
<ng-template class="modal text-left" #ModalGastosObrasDetail let-c="close" let-d="dismiss">
    <div class="modal-lg">
        <div class="modal-header">
            <h3 id="myModalLabel23">Albaranes en Obra {{nombreObra}}</h3>
            <button type="button" class="close" aria-label="Close" (click)="onCloseModal($event)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body modal-scroll-y p-0">
            <app-albaranes-obras 
                [idObras]="idObras"
                *ngIf="cargaCompleta"
                (closeModal)="onCloseModal($event)">
            </app-albaranes-obras>
        </div>
    </div>
</ng-template>

<!-- Modal Gastos Generales -->
<ng-template class="modal text-left" #ModalGastosGeneralesObrasDetail let-c="close" let-d="dismiss">
    <div class="modal-lg">
        <div class="modal-header">
            <h3 id="myModalLabel23">Gastos Generales en Obra {{nombreObra}}</h3>
            <button type="button" class="close" aria-label="Close" (click)="onCloseModal($event)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body modal-scroll-y p-0">
            <app-gastos-generales-obras 
                [idObras]="idObras"
                *ngIf="cargaCompleta"
                (closeModal)="onCloseModal($event)">
            </app-gastos-generales-obras>
        </div>
    </div>
</ng-template>

<!-- Modal Gastos Administrativos -->
<ng-template class="modal text-left" #ModalGastosAdminObrasDetail let-c="close" let-d="dismiss">
    <div class="modal-lg">
        <div class="modal-header">
            <h3 id="myModalLabel23">Gastos Administrativos en Obra {{nombreObra}}</h3>
            <button type="button" class="close" aria-label="Close" (click)="onCloseModal($event)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body modal-scroll-y p-0">
            <app-nominas-obras 
                [idObras]="idObras"
                [tipoFiltroGeneral]="'1'"
                [nomina]="'true'"
                *ngIf="cargaCompleta"
                (closeModal)="onCloseModal($event)">
            </app-nominas-obras>
        </div>
    </div>
</ng-template>

<!-- Modal Seguridad Social -->
<ng-template class="modal text-left" #ModalSeguridadSocialObrasDetail let-c="close" let-d="dismiss">
    <div class="modal-lg">
        <div class="modal-header">
            <h3 id="myModalLabel23">Seguridad Social en Obra {{nombreObra}}</h3>
            <button type="button" class="close" aria-label="Close" (click)="onCloseModal($event)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body modal-scroll-y p-0">
            <app-nominas-obras 
                [idObras]="idObras"
                [tipoFiltroGeneral]="'2'"
                [nomina]="'false'"
                *ngIf="cargaCompleta"
                (closeModal)="onCloseModal($event)">
            </app-nominas-obras>
        </div>
    </div>
</ng-template>

<!-- Modal Calendarios Obras -->
<ng-template class="modal text-left" #ModalCalendariosObrasDetail let-c="close" let-d="dismiss">
    <div class="modal-lg">
        <div class="modal-header">
            <h3 id="myModalLabel23">Calendario en Obra {{nombreObra}}</h3>
            <button type="button" class="close" aria-label="Close" (click)="onCloseModal($event)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body modal-scroll-y p-0">
            <app-calendarios-obras 
                [idObras]="idObras"
                *ngIf="cargaCompleta"
                (closeModal)="onCloseModal($event)">
            </app-calendarios-obras>
        </div>
    </div>
</ng-template>


<!-- Modal Obras ID -->
<ng-template class="modal text-left" #ModalObrasIDDetail let-c="close" let-d="dismiss">
    <div class="modal-md">
        <div class="modal-header">
            <h3 id="myModalLabel23">Vincular en Obra {{nombreObra}}</h3>
            <button type="button" class="close" aria-label="Close" (click)="onCloseModal($event)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body modal-scroll-y p-0">            
            <app-vincular-obras 
                [idObras]="idObras"
                [idVinculacion]="idVinculacion"
                *ngIf="cargaCompleta"
                (closeModal)="onCloseModal($event)">
            </app-vincular-obras>
        </div>
    </div>
</ng-template>

<!-- Modal Listar Obras Vinculadas -->
<ng-template class="modal text-left" #ModalObrasVinculadasDetail let-c="close" let-d="dismiss">
    <div class="modal-md">
        <div class="modal-header">
            <h3 id="myModalLabel23">Obras Vinculadas</h3>
            <button type="button" class="close" aria-label="Close" (click)="onCloseModal($event)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body modal-scroll-y p-0">            
            <app-obras-vinculadas 
                [idObra]="idObras"
                [fechaDesde]="fechaDesde"
                [fechaHasta]="fechaHasta"
                *ngIf="cargaCompleta"
                (closeModal)="onCloseModal($event)">
            </app-obras-vinculadas>
        </div>
    </div>
</ng-template>

