<form [formGroup]="vincularForm" (ngSubmit)="add()" >
    <div class="form-body">
        <label class="input-title" for="Datos">Vincular Obra</label>
        <div class="row recuadro">
            <input type="hidden" id="id"  formControlName="id" >
            <div class="col-12 col-md-12">
                <label style="font-size: smaller;">Nombre*</label>
                <div class="form-group position-relative has-icon-left">
                    <!-- <select id="idObraVincular" class="form-control" formControlName="idObraVincular"
                        placeholder="Obras*">
                        <option [ngValue]="null" [disabled]="true" [selected]="true">Obras*</option>
                        <option *ngFor="let obra of obras" [value]="obra.id">{{obra.texto}}</option>
                    </select> -->
                    <ng-select
                    [items]="obras" [searchable]="true" placeholder="Nombre*"
                        bindLabel="texto" bindValue="id"
                        id="idObraVincular" formControlName="idObraVincular">
                    </ng-select>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-obra"></i>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <div class="modal-footer">   
        <button type="button" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize" (click)="closeModal.emit(true)">
            <i class="pavyurba-icon pavyurba-icon-cancel" ></i>&nbsp; Cancelar
        </button>
        <button type="submit" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize">
            <i class="pavyurba-icon pavyurba-icon-done-o"></i>&nbsp; Aceptar
        </button>
    </div>
</form>

