﻿<!-- main app container -->
<ngx-loading-bar [includeSpinner]='false' height='3px' color="#E64715"></ngx-loading-bar>
<app-alert></app-alert>
<app-confirm-dialog></app-confirm-dialog>
<router-outlet *ngIf="showContent"></router-outlet>