<div class="modal-header">
  <h4 class="modal-title" id="modal-title">{{ title }}</h4>
  <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p><strong>{{ message }}</strong></p>
  <span class="text-danger">Esta operacion no se puede deshacer.</span>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="decline()">{{ btnCancelText }}</button>
  <button type="button" ngbAutofocus class="btn btn-outline-danger btn-rounded" (click)="accept()">{{ btnOkText }}</button>
</div>
