
    <div class="modal-sm">
        <div class="modal-header">
            <h3 id="myModalLabel23">{{titel}}</h3>
            <button type="button" class="close" aria-label="Close" (click)="onCloseModal('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body modal-scroll-y p-0">
            <app-locations-detail 
                [idLocations]="idLocationsModal"
                (closeModal)="onCloseModal($event)">
            </app-locations-detail>
        </div>
    </div>
