<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <!-- <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb> -->
        </div>
        <div class="content-body">
            <section id="selection-component min-height-8" >
                <div class="row">
                    <div class="col-2 col-md-2 pr-0" >
                        <app-sidebar 
                            *ngIf="cargaCompleta"
                            [_menuSettingsConfig]="menuSettingsConfig"
                            (pageActive)="onPageActive($event)">
                        </app-sidebar>
                    </div>
                    <div class="col-10 col-md-10 pl-0" >
                        <div [ngSwitch]="switch_expression">
                            <!-- the same view can be shown in more than one case -->
                            <!-- <div *ngSwitchCase="'materiales'">... materiales ...</div> -->
                            <!-- <div *ngSwitchCase="'obras'">... obras ...</div> -->
                            <!-- <div *ngSwitchCase="'condiciones'"><app-conditions ></app-conditions></div> -->
                            <!-- <div *ngSwitchCase="'albaranes'">... albaranes ...</div> -->
                            <!-- <div *ngSwitchCase="'factura'">... factura ...</div> -->
                            <div *ngSwitchCase="'locations'"><app-locations [idLocationsListar]="''"></app-locations></div>
                            <div *ngSwitchCase="'dietas'"><app-dietas></app-dietas></div>
                            <!-- <div *ngSwitchCase="'generar-informes'">... Generar Informes ...</div> -->
                            <!--default case when there are no matches -->
                            <div *ngSwitchDefault>
                                <app-conditions ></app-conditions>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
