<form [formGroup]="facturasForm" (ngSubmit)="add()" >
    <div class="form-body">
        <label class="input-title" for="Datos">Tipo</label>
        <div class="row recuadro">
            <div class="col-md-12">
                <input type="hidden" id="id"  formControlName="id" >
                <label style="font-size: smaller;">Nombre/Denominación de Obra*</label>
                <div class="form-group position-relative has-icon-left">
                    <ng-select [items]="obras" [searchable]="true" placeholder="Nombre/Denominación de Obra*"
                        bindLabel="texto" bindValue="id"
                        id="idObra" formControlName="idObra">
                    </ng-select>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-obra"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.idObra.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of calendarios_validation_messages.idObra">
                            <div class="error-message" *ngIf="calendariosForm.get('idObra').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div>  
            </div> 
            <!-- <div class="col-md-12">
                <div class="form-group position-relative has-icon-left">
                    <input type="text" id="numero" [ngClass]="{ 'is-invalid': submitted && f.numero.errors }" class="form-control" placeholder="Número Factura*"
                        formControlName="numero" value={{factura.numero}} >
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-numero-factura"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.numero.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of facturas_validation_messages.numero">
                            <div class="error-message" *ngIf="facturasForm.get('numero').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div> -->
            <!-- <div class="col-md-12">
                <div class="form-group position-relative has-icon-left">
                        <select id="tipo" class="form-control" formControlName="tipo"
                            [ngClass]="{ 'is-invalid': submitted && f.tipo.errors }" placeholder="Tipo*">
                            <option [ngValue]="null" [disabled]="true" [selected]="true">Tipo Factura*</option>
                            <option *ngFor="let facturaType of facturaTypes" [value]="facturaType.texto">{{facturaType.texto | titlecase }}</option>
                        </select>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-definicion-incidencia"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.tipo.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of facturas_validation_messages.tipo">
                            <div class="error-message" *ngIf="facturasForm.get('tipo').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div> -->
        </div>

        <label class="input-title" for="Datos">Total</label>
        <div class="row recuadro">
            <div class="col-md-12">
                <label style="font-size: smaller;">Importe Total*</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="number" id="total" [ngClass]="{ 'is-invalid': submitted && f.total.errors }" class="form-control" placeholder="Importe Total*"
                        formControlName="total" value={{factura.total}} >
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-precio"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.total.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of facturas_validation_messages.total">
                            <div class="error-message" *ngIf="facturasForm.get('total').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
        </div>

        <label class="input-title" for="Datos">Fecha</label>
        <div class="row recuadro">
            <div class="col-md-6">
                <label style="font-size: smaller;">Mes*</label>
                <div class="form-group position-relative has-icon-left">
                        <select id="mes" class="form-control" formControlName="mes"
                            [ngClass]="{ 'is-invalid': submitted && f.mes.errors }" placeholder="mes*" [(ngModel)]="mes">
                            <option [ngValue]="null" [disabled]="true" [selected]="true">Mes*</option>
                            <option *ngFor="let mesN of mesArray" [value]="mesN.valor">{{mesN.texto}}</option>
                        </select>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-mes"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.mes.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of facturas_validation_messages.mes">
                            <div class="error-message" *ngIf="facturasForm.get('mes').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-md-6">
                <label style="font-size: smaller;">Año*</label>
                <div class="form-group position-relative has-icon-left">
                        <select id="ano" class="form-control" formControlName="ano"
                            [ngClass]="{ 'is-invalid': submitted && f.ano.errors }" placeholder="ano*" [(ngModel)]="anno">
                            <option [ngValue]="null" [disabled]="true" [selected]="true">Año*</option>
                            <option *ngFor="let annoArray of annosArray" [value]="annoArray.texto">{{annoArray.texto}}</option>
                        </select>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-ano"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.ano.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of facturas_validation_messages.ano">
                            <div class="error-message" *ngIf="facturasForm.get('ano').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
        </div>
    </div>
    <div class="modal-footer">   
        <button type="button" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize" (click)="closeModal.emit(true)">
            <i class="pavyurba-icon pavyurba-icon-cancel" ></i>&nbsp; Cancelar
        </button>
        <button type="submit" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize">
            <i class="pavyurba-icon pavyurba-icon-done-o"></i>&nbsp; Aceptar
        </button>
    </div>
</form>

