<form [formGroup]="employeesForm" (ngSubmit)="add()" *blockUI="'componentsDetailEmployees'; message: 'Loading'">
    <div class="form-body">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <label class="input-title" for="Datos">Datos</label>
                        <div class="recuadro">
                            <input type="hidden" id="id"  formControlName="id" value={{employees.id}} >
                            <div class="col-md-12">
                                <label style="font-size: smaller;" *ngIf="edicion">Nombre*</label>
                                <div class="form-group position-relative has-icon-left">
                                    <input type="text" id="nombre" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" class="form-control" placeholder="Nombre*"
                                        formControlName="nombre" value={{employees.nombre}}>
                                    <div class="form-control-position">
                                        <i class="pavyurba-input pavyurba-icon-user"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.nombre.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of employees_validation_messages.nombre">
                                            <div class="error-message" *ngIf="employeesForm.get('nombre').hasError(validation.type)">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                            <div class="col-md-6">
                                <label style="font-size: smaller;" *ngIf="edicion">NIF/NIE/DNI*</label>
                                <div class="form-group position-relative has-icon-left">
                                    <input type="text" id="identificacion" [ngClass]="{ 'is-invalid': submitted && f.identificacion.errors }" class="form-control" placeholder="NIF/NIE/DNI*"
                                        formControlName="identificacion" value={{employees.identificacion}}>
                                    <div class="form-control-position">
                                        <i class="pavyurba-input pavyurba-icon-dni-t"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.identificacion.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of employees_validation_messages.identificacion">
                                            <div class="error-message" *ngIf="employeesForm.get('identificacion').hasError(validation.type)">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                            <div class="col-md-6">
                                <label style="font-size: smaller;" *ngIf="edicion">Nacionalidad</label>
                                <div class="form-group position-relative has-icon-left">
                                    <input type="text" id="nacionalidad" [ngClass]="{ 'is-invalid': submitted && f.nacionalidad.errors }" class="form-control" placeholder="Nacionalidad"
                                        formControlName="nacionalidad" value={{employees.nacionalidad}}>
                                    <div class="form-control-position">
                                        <i class="pavyurba-input pavyurba-icon-nacionalidad"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.nacionalidad.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of employees_validation_messages.nacionalidad">
                                            <div class="error-message" *ngIf="employeesForm.get('nacionalidad').hasError(validation.type) ">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                            <div class="col-md-6">
                                <label style="font-size: smaller;" *ngIf="edicion">Estado Civil*</label>
                                <div class="form-group position-relative has-icon-left">
                                        <select id="estadoCivil" class="form-control" formControlName="estadoCivil"
                                            [ngClass]="{ 'is-invalid': submitted && f.estadoCivil.errors }" placeholder="Estado Civil*">
                                            <option [ngValue]="null" [disabled]="true" [selected]="true">Estado Civil*</option>
                                            <option *ngFor="let state of civilStates" [value]="state.texto">{{ state.texto | titlecase }}</option>
                                        </select>
                                    <div class="form-control-position">
                                        <i class="pavyurba-input pavyurba-icon-informe"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.estadoCivil.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of employees_validation_messages.estadoCivil">
                                            <div class="error-message" *ngIf="employeesForm.get('estadoCivil').hasError(validation.type) ">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                            <div class="col-md-6">
                                <label style="font-size: smaller;" *ngIf="edicion">N° Seguridad Social</label>
                                <div class="form-group position-relative has-icon-left">
                                    <input type="text" id="numeroSeguroSocial" [ngClass]="{ 'is-invalid': submitted && f.numeroSeguroSocial.errors }" class="form-control" placeholder="N° Seguridad Social"
                                        formControlName="numeroSeguroSocial" value={{employees.numeroSeguroSocial}}>
                                    <div class="form-control-position">
                                        <i class="pavyurba-input pavyurba-icon-seguro-social"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.numeroSeguroSocial.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of employees_validation_messages.numeroSeguroSocial">
                                            <div class="error-message" *ngIf="employeesForm.get('numeroSeguroSocial').hasError(validation.type) ">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                            <div class="col-md-12">
                                <label style="font-size: smaller;" *ngIf="edicion">Empresa*</label>
                                <div class="form-group position-relative has-icon-left">
                                        <select id="idEmpresa" class="form-control" formControlName="idEmpresa"
                                            [ngClass]="{ 'is-invalid': submitted && f.idEmpresa.errors }" placeholder="Empresa*">
                                            <option [ngValue]="null" [disabled]="true" [selected]="true">Empresa*</option>
                                            <option *ngFor="let busines of business" [value]="busines.id">{{busines.texto}}</option>
                                        </select>
                                    <div class="form-control-position">
                                        <i class="pavyurba-input pavyurba-icon-empresa"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.idEmpresa.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of employees_validation_messages.idEmpresa">
                                            <div class="error-message" *ngIf="employeesForm.get('idEmpresa').hasError(validation.type) ">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="input-title" for="Condicion">Condición</label>
                        <div class="recuadro">
                            <!-- <div class="col-md-6">
                                <div class="form-group">
                                    <div class="right-checkbox">
                                        <div class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input" formControlName="fijo"
                                            id="fijo" >
                                          <label class="custom-control-label w-100" for="fijo">Trabajo Fijo</label>
                                        </div>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.fijo.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of employees_validation_messages.fijo">
                                            <div class="error-message" *ngIf="employeesForm.get('fijo').hasError(validation.type) ">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div> -->
                            <div class="col-md-6">
                                <div class="custom-control custom-radio mr-1">
                                    <input type="radio" class="custom-control-input" formControlName="fijo" name="fijo" id="true" value="true" checked (change)="changeTrabajadorFijo($even)">
                                    <label class="custom-control-label" for="true">Trabajo Fijo</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="right-checkbox">
                                        <div class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input" formControlName="repercusionGastosGenerales"
                                            id="repercusionGastosGenerales">
                                          <label class="custom-control-label w-100" for="repercusionGastosGenerales">Repercusión Gastos Administrativos</label>
                                        </div>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.repercusionGastosGenerales.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of employees_validation_messages.repercusionGastosGenerales">
                                            <div class="error-message" *ngIf="employeesForm.get('repercusionGastosGenerales').hasError(validation.type) ">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                            <div class="col-md-6">
                                <div class="custom-control custom-radio mr-1">
                                    <input type="radio" class="custom-control-input" formControlName="fijo" name="fijo" id="false" value="false" (change)="changeTrabajadorFijo($even)">
                                    <label class="custom-control-label" for="false" checked>Trabajo bajo contrato</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label style="font-size: smaller;" *ngIf="edicion">Fecha de Alta*</label>
                                <div class="form-group position-relative has-icon-left">                                    
                                    <input [ngClass]="{ 'is-invalid': submitted && f.fechaAlta.errors }" class="form-control" placeholder="Fecha de Alta*" formControlName="fechaAlta" [(ngModel)]="fechaAlta" 
                                    ngbDatepicker #d="ngbDatepicker" value={{employees.fechaAlta}}>
                                    <div class="form-control-position" (click)="d.toggle()">
                                        <i class="pavyurba-input pavyurba-icon-fecha-alta" style="cursor: pointer;"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.fechaAlta.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of employees_validation_messages.fechaAlta">
                                            <div class="error-message" *ngIf="employeesForm.get('fechaAlta').hasError(validation.type) ">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>                           
                            <!-- <div class="col-md-6">
                                <label style="font-size: smaller;" *ngIf="edicion">Clase Autónomo</label>
                                <div class="form-group position-relative has-icon-left">
                                    <select id="claseAutonomo" class="form-control" formControlName="claseAutonomo"
                                        [ngClass]="{ 'is-invalid': submitted && f.claseAutonomo.errors }" placeholder="Clase Autónomo">
                                        <option [ngValue]="null" [disabled]="true" [selected]="true">Clase Autónomo*</option>
                                        <option *ngFor="let autonomousClasse of autonomousClasses" [value]="autonomousClasse.texto">{{autonomousClasse.texto | titlecase }}</option>
                                    </select>
                                    <div class="form-control-position">
                                        <i class="pavyurba-input pavyurba-icon-clase-autonomo"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.claseAutonomo.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of employees_validation_messages.claseAutonomo">
                                            <div class="error-message" *ngIf="employeesForm.get('claseAutonomo').hasError(validation.type) ">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>-->                            
                            <div class="col-md-6">
                                <label style="font-size: smaller;" *ngIf="edicion">Tipo Empleado*</label>
                                <div class="form-group position-relative has-icon-left">
                                        <select id="tipo" class="form-control" formControlName="tipo"
                                            [ngClass]="{ 'is-invalid': submitted && f.tipo.errors }" placeholder="Tipo Empleado*">
                                            <option [ngValue]="null" [disabled]="true" [selected]="true">Tipo Empleado*</option>
                                            <option *ngFor="let employeeType of employeeTypes" [value]="employeeType.texto">{{employeeType.texto | titlecase }}</option>
                                        </select>
                                    <div class="form-control-position">
                                        <i class="pavyurba-input pavyurba-icon-cod-trabajo"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.tipo.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of employees_validation_messages.tipo">
                                            <div class="error-message" *ngIf="employeesForm.get('tipo').hasError(validation.type)">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                            <div class="col-md-6">
                                <label style="font-size: smaller;" *ngIf="edicion">Fecha de Baja*</label>
                                <div class="form-group position-relative has-icon-left">                                    
                                    <input [ngClass]="{ 'is-invalid': submitted && f.fechaBaja.errors }" class="form-control" placeholder="Fecha de Baja" formControlName="fechaBaja" [(ngModel)]="fechaBaja" 
                                    ngbDatepicker  value={{employees.fechaBaja}} [readonly]="true"> 
                                    <!-- #d3="ngbDatepicker" -->
                                    <div class="form-control-position">
                                        <!-- (click)="d3.toggle() -->
                                        <i class="pavyurba-input pavyurba-icon-fecha-baja" style="cursor: pointer;"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.fechaBaja.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of employees_validation_messages.fechaBaja">
                                            <div class="error-message" *ngIf="employeesForm.get('fechaBaja').hasError(validation.type) ">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <label style="font-size: smaller;" *ngIf="edicion && isTipoTrabajador">Fecha de Conversión*</label>
                                <div class="form-group position-relative has-icon-left" *ngIf="isTipoTrabajador">                                    
                                    <input [ngClass]="{ 'is-invalid': submitted && f.fechaConversion.errors }" class="form-control" placeholder="Fecha de Conversión" formControlName="fechaConversion" [(ngModel)]="fechaConversion" 
                                    ngbDatepicker #d2="ngbDatepicker" value={{employees.fechaConversion}}>
                                    <div class="form-control-position" (click)="d2.toggle()">
                                        <i class="pavyurba-input pavyurba-icon-fecha-conversion" style="cursor: pointer;"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.fechaConversion.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of employees_validation_messages.fechaConversion">
                                            <div class="error-message" *ngIf="employeesForm.get('fechaConversion').hasError(validation.type) ">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                            <!-- <div class="col-md-6">
                                <div class="form-group position-relative has-icon-left">                                    
                                    <input [ngClass]="{ 'is-invalid': submitted && f.fechaAltaAutonomo.errors }" class="form-control" placeholder="Fecha Alta Autónomo" formControlName="fechaAltaAutonomo" [(ngModel)]="fechaAltaAutonomo" 
                                    ngbDatepicker #d2="ngbDatepicker" value={{employees.fechaAltaAutonomo}}>
                                    <div class="form-control-position" (click)="d2.toggle()">
                                        <i class="pavyurba-input pavyurba-icon-fecha-alta" style="cursor: pointer;"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.fechaAltaAutonomo.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of employees_validation_messages.fechaAltaAutonomo">
                                            <div class="error-message" *ngIf="employeesForm.get('fechaAltaAutonomo').hasError(validation.type) ">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div> -->
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="input-title" for="Hucha">Hucha</label>
                        <div class="recuadro">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="right-checkbox">
                                        <div class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input" formControlName="almacenaHucha"
                                            id="almacenaHucha" (change)="changeAlmacenaHucha($even)">
                                          <label class="custom-control-label w-100" for="almacenaHucha">Almacena Hucha</label>
                                        </div>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.almacenaHucha.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of employees_validation_messages.almacenaHucha">
                                            <div class="error-message" *ngIf="employeesForm.get('almacenaHucha').hasError(validation.type) ">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                            <div class="col-md-6"></div>
                            <div class="col-md-6" *ngIf="isAlmacenaHucha">
                                <label style="font-size: smaller;" *ngIf="edicion">Hucha acumulada</label>
                                <div class="form-group position-relative has-icon-left">
                                    <input type="number" id="hucha" [ngClass]="{ 'is-invalid': submitted && f.hucha.errors }" class="form-control" placeholder="Hucha acumulada"
                                        formControlName="hucha" value={{employees.hucha}} *ngIf="!edicion">
                                    <input type="number" id="hucha" [ngClass]="{ 'is-invalid': submitted && f.hucha.errors }" class="form-control" placeholder="Hucha acumulada"
                                        formControlName="hucha" value={{employees.hucha}} *ngIf="edicion" readonly>
                                    <div class="form-control-position">
                                        <i class="pavyurba-input pavyurba-icon-hucha-t"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.hucha.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of employees_validation_messages.hucha">
                                            <div class="error-message" *ngIf="employeesForm.get('hucha').hasError(validation.type) ">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                            <div class="col-md-6" *ngIf="isAlmacenaHucha">
                                <label style="font-size: smaller;" *ngIf="edicion">Hucha mensual</label>
                                <div class="form-group position-relative has-icon-left">
                                    <input type="number" id="huchaBase" [ngClass]="{ 'is-invalid': submitted && f.huchaBase.errors }" class="form-control" placeholder="Hucha mensual"
                                        formControlName="huchaBase" value={{employees.huchaBase}}>
                                    <div class="form-control-position">
                                        <i class="pavyurba-input pavyurba-icon-hucha-base"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.huchaBase.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of employees_validation_messages.huchaBase">
                                            <div class="error-message" *ngIf="employeesForm.get('huchaBase').hasError(validation.type) ">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <label class="input-title" for="Dirección">Dirección</label>
                        <div class="recuadro">
                            <div class="col-md-7">
                                <label style="font-size: smaller;" *ngIf="edicion">Provincia*</label>
                                <div class="form-group position-relative has-icon-left">
                                    <!-- <select id="idProvincia" class="form-control" formControlName="idProvincia"
                                        [ngClass]="{ 'is-invalid': submitted && f.idProvincia.errors }" placeholder="Provincia*" [(ngModel)]="idProvincia" (change)="changeProvincia()">
                                        <option [ngValue]="null" [disabled]="true" [selected]="true">Provincia*</option>
                                        <option *ngFor="let provincia of provincias" [value]="provincia.id">{{provincia.texto}}</option>
                                    </select> -->
                                    <ng-select [ngClass]="{ 'is-invalid': submitted && f.idProvincia.errors }" 
                                    [items]="provincias" [searchable]="true" placeholder="Provincia*"
                                    [(ngModel)]="idProvincia" (change)="changeProvincia()"
                                        bindLabel="texto" bindValue="id"
                                        id="idProvincia" formControlName="idProvincia">
                                    </ng-select>
                                    <div class="form-control-position">
                                        <i class="pavyurba-input pavyurba-icon-provincia"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.idProvincia.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of employees_validation_messages.idProvincia">
                                            <div class="error-message" *ngIf="employeesForm.get('idProvincia').hasError(validation.type)">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                            <div class="col-md-5 px-0 text-center">
                                <!-- <button type="button" class="btn btn-black mr-1" (click)="addLocation(ModalLocationsDetail)">
                                    <i class="pavyurba-icon pavyurba-icon-add-location" ></i>Crear Localidad
                                </button> -->
                                <span *ngIf="edicion"><br></span>
                                <app-custom-button 
                                    [btnName]="'Crear Localidad'"
                                    [btnType]="'button'"
                                    [btnClass]="'btn btn-pavyurba delete-all btn-filters-grid text-capitalize'"
                                    [btnIcon]="'pavyurba-icon-crear-localidad'"
                                    (click)="addLocation(ModalLocationsDetail)">
                                </app-custom-button>
                            </div>
                            <div class="col-md-7">
                                <label style="font-size: smaller;" *ngIf="edicion">Localidad*</label>
                                <div class="form-group position-relative has-icon-left">
                                    <!-- <select id="idLocalidad" class="form-control" formControlName="idLocalidad"
                                        [ngClass]="{ 'is-invalid': submitted && f.idLocalidad.errors }" placeholder="Localidad*">
                                        <option [ngValue]="null" [disabled]="true" [selected]="true">Localidad*</option>
                                        <option *ngFor="let location of locations" [value]="location.id">{{location.texto}}</option>
                                    </select> -->
                                    <ng-select [ngClass]="{ 'is-invalid': submitted && f.idLocalidad.errors }" 
                                    [items]="locations" [searchable]="true" placeholder="Localidad" [(ngModel)]="idLocalidad" [(ngModel)]="idLocalidad"
                                        bindLabel="texto" bindValue="id"
                                        id="idLocalidad" formControlName="idLocalidad">
                                    </ng-select>
                                    <div class="form-control-position">
                                        <i class="pavyurba-input pavyurba-icon-localidad-new"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.idLocalidad.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of employees_validation_messages.idLocalidad">
                                            <div class="error-message" *ngIf="employeesForm.get('idLocalidad').hasError(validation.type) ">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                            <div class="col-md-5">
                                <label style="font-size: smaller;" *ngIf="edicion">Código Postal</label>
                                <div class="form-group position-relative has-icon-left">
                                    <input type="text" id="codigoPostal" [ngClass]="{ 'is-invalid': submitted && f.codigoPostal.errors }" class="form-control" placeholder="Código Postal"
                                        formControlName="codigoPostal" value={{employees.codigoPostal}}>
                                    <div class="form-control-position">
                                        <i class="pavyurba-input pavyurba-icon-codigo-postal"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.codigoPostal.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of employees_validation_messages.codigoPostal">
                                            <div class="error-message" *ngIf="employeesForm.get('codigoPostal').hasError(validation.type)">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                            <div class="col-md-12">
                                <label style="font-size: smaller;" *ngIf="edicion">Dirección</label>
                                <div class="form-group position-relative has-icon-left">
                                    <input type="text" id="direccion" [ngClass]="{ 'is-invalid': submitted && f.direccion.errors }" class="form-control" placeholder="Dirección"
                                        formControlName="direccion" value={{employees.direccion}} maxlength="{{maxLength}}" [(ngModel)]="mensajeDir">
                                        <div class="text-right">
                                            <!-- <span>{{mensajeDir.length}}/{{maxLength}}</span> -->
                                            <span *ngIf="mensajeDir != null && mensajeDir != undefined; else mensajeLength">
                                                {{mensajeDir.length}}/{{maxLength}}                            
                                            </span>
                                            <ng-template #mensajeLength >
                                            <span>
                                                0/{{maxLength}}                            
                                            </span>
                                            </ng-template>
                                        </div>
                                    <div class="form-control-position">
                                        <i class="pavyurba-input pavyurba-icon-direccion"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.direccion.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of employees_validation_messages.direccion">
                                            <div class="error-message" *ngIf="employeesForm.get('direccion').hasError(validation.type)">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="input-title" for="Contacto">Contacto</label>
                        <div class="recuadro">
                            <div class="col-md-6">
                                <label style="font-size: smaller;" *ngIf="edicion">E-mail</label>
                                <div class="form-group position-relative has-icon-left">
                                    <input type="email" id="email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="form-control" placeholder="E-mail"
                                        formControlName="email" value={{employees.email}} >
                                    <div class="form-control-position">
                                        <i class="pavyurba-input pavyurba-icon-email"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.email.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of employees_validation_messages.email">
                                            <div class="error-message" *ngIf="employeesForm.get('email').hasError(validation.type) ">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                            <div class="col-md-6">
                                <label style="font-size: smaller;" *ngIf="edicion">2do E-mail</label>
                                <div class="form-group position-relative has-icon-left">
                                    <input type="email" id="emailAdicional" [ngClass]="{ 'is-invalid': submitted && f.emailAdicional.errors }" class="form-control" placeholder="2do E-mail"
                                        formControlName="emailAdicional" value={{employees.emailAdicional}}>
                                    <div class="form-control-position">
                                        <i class="pavyurba-input pavyurba-icon-email"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.emailAdicional.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of employees_validation_messages.emailAdicional">
                                            <div class="error-message" *ngIf="employeesForm.get('emailAdicional').hasError(validation.type) && (employeesForm.get('emailAdicional').dirty || employeesForm.get('emailAdicional').touched)">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                            <div class="col-md-6">
                                <label style="font-size: smaller;" *ngIf="edicion">Teléfono</label>
                                <div class="form-group position-relative has-icon-left">
                                    <input type="text" id="telefono" [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }" class="form-control" placeholder="Teléfono"
                                        formControlName="telefono" value={{employees.telefono}}>
                                    <div class="form-control-position">
                                        <i class="pavyurba-input pavyurba-icon-telefono"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.telefono.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of employees_validation_messages.telefono">
                                            <div class="error-message" *ngIf="employeesForm.get('telefono').hasError(validation.type) ">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                            <div class="col-md-6">
                                <label style="font-size: smaller;" *ngIf="edicion">2do Teléfono</label>
                                <div class="form-group position-relative has-icon-left">
                                    <input type="text" id="telefonoAdicional" [ngClass]="{ 'is-invalid': submitted && f.telefonoAdicional.errors }" class="form-control" placeholder="2do Teléfono"
                                        formControlName="telefonoAdicional" value={{employees.telefonoAdicional}}>
                                    <div class="form-control-position">
                                        <i class="pavyurba-input pavyurba-icon-telefono"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.telefonoAdicional.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of employees_validation_messages.telefonoAdicional">
                                            <div class="error-message" *ngIf="employeesForm.get('telefonoAdicional').hasError(validation.type) && (employeesForm.get('telefonoAdicional').dirty || employeesForm.get('telefonoAdicional').touched)">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="input-title" for="Contacto">Observaciones</label>
                        <div class="recuadro">
                            <div class="col-md-12">
                                <label style="font-size: smaller;" *ngIf="edicion">Observaciones</label>
                                <div class="form-group position-relative has-icon-left">
                                    <input type="text" id="observaciones"  [ngClass]="{ 'is-invalid': submitted && f.observaciones.errors }" class="form-control" placeholder="Observaciones"
                                        formControlName="observaciones" value={{employees.observaciones}} maxlength="{{maxLength}}" [(ngModel)]="mensaje">
                                    <div class="text-right">
                                        <!-- <span>{{mensaje.length}}/{{maxLength}}</span> -->
                                        <span *ngIf="mensaje != null && mensaje != undefined; else mensajeLength">
                                            {{mensaje.length}}/{{maxLength}}                            
                                        </span>
                                        <ng-template #mensajeLength >
                                        <span>
                                            0/{{maxLength}}                            
                                        </span>
                                        </ng-template>
                                    </div>
                                    <div class="form-control-position">
                                        <i class="pavyurba-input pavyurba-icon-observaciones"></i>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="submitted && f.observaciones.errors"
                                        class="invalid-feedback">
                                        <div *ngFor="let validation of employees_validation_messages.observaciones">
                                            <div class="error-message" *ngIf="employeesForm.get('observaciones').hasError(validation.type) && (employeesForm.get('observaciones').dirty || employeesForm.get('observaciones').touched)">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 pr-0">
                                <label class="input-title" for="dietaDentroMadrid"> Dieta En Madrid </label>
                                <div class="recuadro">
                                    <div class="col-md-9" >
                                        <label style="font-size: smaller;" *ngIf="edicion">Valor</label>
                                        <div class="form-group position-relative has-icon-left">
                                            <input type="number"  [ngClass]="{ 'is-invalid': submitted && f.dietaDentroMadrid.errors }" class="form-control" placeholder="Valor"
                                                formControlName='dietaDentroMadrid' value={{employees.dietaDentroMadrid}} id="dietaDentroMadrid">
                                            <div class="form-control-position">
                                                <i class="pavyurba-input pavyurba-icon-dieta-madrid"></i>
                                            </div>
                                            <small class="form-text text-muted danger" *ngIf="submitted && f.dietaDentroMadrid.errors"
                                                class="invalid-feedback">
                                                <div *ngFor="let validation of employees_validation_messages.dietaDentroMadrid">
                                                    <div class="error-message" *ngIf="employeesForm.get('dietaDentroMadrid').hasError(validation.type) && (employeesForm.get('dietaDentroMadrid').dirty || employeesForm.get('dietaDentroMadrid').touched)">
                                                        {{validation.message}}
                                                    </div>
                                                </div>
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-md-2 pl-0"> 
                                        <span *ngIf="edicion"><br></span>
                                        <button type="button" class="btn btn-black mr-1">EUR</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 pl-0">
                                <label class="input-title" for="dietaFueraMadrid"> Dieta Fuera de Madrid</label>
                                <div class="recuadro">
                                    <div class="col-md-9" >
                                        <label style="font-size: smaller;" *ngIf="edicion">Valor</label>
                                        <div class="form-group position-relative has-icon-left">
                                            <input type="number"  [ngClass]="{ 'is-invalid': submitted && f.dietaFueraMadrid.errors }" class="form-control" placeholder="Valor"
                                                formControlName='dietaFueraMadrid' value={{employees.dietaFueraMadrid}} id="dietaFueraMadrid">
                                            <div class="form-control-position">
                                                <i class="pavyurba-input pavyurba-icon-dieta-fuera-madrid"></i>
                                            </div>
                                            <small class="form-text text-muted danger" *ngIf="submitted && f.dietaFueraMadrid.errors"
                                                class="invalid-feedback">
                                                <div *ngFor="let validation of employees_validation_messages.dietaFueraMadrid">
                                                    <div class="error-message" *ngIf="employeesForm.get('dietaFueraMadrid').hasError(validation.type) && (employeesForm.get('dietaFueraMadrid').dirty || employeesForm.get('dietaFueraMadrid').touched)">
                                                        {{validation.message}}
                                                    </div>
                                                </div>
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-md-2 pl-0"> 
                                        <span *ngIf="edicion"><br></span>
                                        <button type="button" class="btn btn-black mr-1">EUR</button>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="edicion">
                        <div class="d-flex justify-content-center">
                            <app-custom-button 
                                [btnName]="titleAccion"
                                [btnType]="'button'"
                                [btnClass]="'btn btn-pavyurba delete-all btn-filters-grid text-capitalize'"
                                [btnIcon]="iconAccion"
                                (click)="darBajaAlta()">
                            </app-custom-button>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <!-- <div class="col-md-12" *ngIf="!edicion">
                <div class="card-body" formArrayName="condiciones">
                    <h4 class="form-section text-white">Condiciones</h4>
                    <label class="input-title" for="Datos">Condiciones a cambiar</label>
                    <div class="row recuadro">
                      <div class="col-12">
                        <div class="form-group overflow-hidden">
                          <button data-repeater-create class="btn btn-block btn-pavyurba mb-1" (click)="addRepeat()">
                            <i class="pavyurba-btn pavyurba-icon-condiciones"></i> Sumar Condición
                          </button>
                        </div>
                      </div>
                      <div class="col-12" *ngFor="let repeatForm of condiciones.controls; let i = index;">
                        <div class="repeater-default">
                          <div [formGroupName]="i" class="row">
                            <div class="form-group col-sm-12 col-md-1 text-center pr-0">
                              <button type="button" class="btn btn-pavyurba" (click)="removeRepeat(i)">
                                <i class="pavyurba-btn pavyurba-icon-delete mr-0"></i>
                              </button>
                            </div>
                            <label style="font-size: smaller;" *ngIf="edicion">Condición*</label>
                            <div class="form-group mb-1 pl-0 col-sm-12 col-md-4 position-relative has-icon-left">
                              <select class="form-control" formControlName="idCondicion"
                                  [ngClass]="{ 'is-invalid': submitted && repeatForm.controls.idCondicion.errors }" placeholder="Condición*">
                                  <option [ngValue]="null" [disabled]="true" [selected]="true">Condición</option>
                                  <option *ngFor="let condicion of conditions" [value]="condicion.id">{{condicion.texto}}</option>
                              </select>
                              <div class="form-control-position">
                                  <i class="pavyurba-input pavyurba-icon-condicion"></i>
                              </div>
                              <small class="form-text text-muted danger" *ngIf="submitted && repeatForm.controls.idCondicion.errors" class="invalid-feedback">
                                <div *ngFor="let validation of employees_validation_messages.idCondicion">
                                  <div class="error-message" *ngIf="repeatForm.get('idCondicion').hasError(validation.type)">
                                      {{validation.message}}
                                  </div>
                                </div>
                              </small>
                            </div>
                            <label style="font-size: smaller;" *ngIf="edicion">Valor en Madrid*</label>
                            <div class="form-group mb-1 col-sm-12 col-md-4 pl-0 position-relative has-icon-left">
                              <input type="text"  [ngClass]="{ 'is-invalid': submitted && repeatForm.controls.valorCondicionDM.errors }" class="form-control" placeholder="Valor en Madrid*"
                                  formControlName='valorCondicionDM'  >
                              <div class="form-control-position">
                                  <i class="pavyurba-input pavyurba-icon-dieta-madrid"></i>
                              </div>
                              <small class="form-text text-muted danger" *ngIf="submitted && repeatForm.controls.valorCondicionDM.errors"
                                  class="invalid-feedback">
                                  <div *ngFor="let validation of employees_validation_messages.valorCondicionDM">
                                      <div class="error-message" *ngIf="repeatForm.get('valorCondicionDM').hasError(validation.type) ">
                                          {{validation.message}}
                                      </div>
                                  </div>
                              </small>
                            </div>
                            <label style="font-size: smaller;" *ngIf="edicion">Valor Fuera de Madrid*</label>
                            <div class="form-group mb-1 col-sm-12 col-md-3 pl-0 position-relative has-icon-left">
                              <input type="text"  [ngClass]="{ 'is-invalid': submitted && repeatForm.controls.valorCondicionFM.errors }" class="form-control" placeholder="Valor Fuera de Madrid*"
                                  formControlName='valorCondicionFM'  >
                              <div class="form-control-position">
                                  <i class="pavyurba-input pavyurba-icon-dieta-fuera-madrid"></i>
                              </div>
                              <small class="form-text text-muted danger" *ngIf="submitted && repeatForm.controls.valorCondicionFM.errors"
                                  class="invalid-feedback">
                                  <div *ngFor="let validation of employees_validation_messages.valorCondicionFM">
                                      <div class="error-message" *ngIf="repeatForm.get('valorCondicionFM').hasError(validation.type) ">
                                          {{validation.message}}
                                      </div>
                                  </div>
                              </small>
                            </div>  
                          </div>
                        </div>
                      </div>
                    </div>                  
                </div>
            </div> -->
        </div>
    </div>
    <div class="modal-footer">   
        <button type="button" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize" (click)="closeModal.emit(true)">
            <i class="pavyurba-icon pavyurba-icon-cancel" ></i>&nbsp; Cancelar
        </button>
        <button type="submit" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize">
            <i class="pavyurba-icon pavyurba-icon-done-o"></i>&nbsp; {{ edicion ? 'Guardar Cambios':'Crear Empleado' }}
        </button>
    </div>
</form>

<ng-template class="modal text-left" #ModalLocationsDetail let-c="close" let-d="dismiss">
    <app-modal-detail
        *ngIf="cargaCompleta"
        [idLocationsModal]="null"
        [titel]="'Crear Localidades'"
        (setModal)="onSetModal($event)">
    </app-modal-detail>
</ng-template>