
    <div class="row">
        <div class="col-12 col-md-12" *blockUI="'componentsHuchas'; message: 'Loading'">
            <div class="card min-height-8">
                <div class="card-header">
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group position-relative has-icon-left">
                                <input type="search" class="form-control text-black" placeholder="Buscar" (change)="searchFilter($event)">
                                <div class="form-control-position">
                                    <i class="pavyurba-input pavyurba-icon-busqueda"></i>
                                </div>
                            </div>
                        </div>
                        <div class="pr-1">
                            <app-custom-button 
                                [btnName]="'pagar'"
                                [btnType]="'button'"
                                [btnClass]="'btn btn-pavyurba delete-all btn-filters-grid text-capitalize'"
                                [btnIcon]="'pavyurba-icon-precio-o'"
                                (click)="addModel(ModalHuchasDetail, 'Pagar', null)">
                            </app-custom-button>
                        </div>
                        <div class="pr-1">
                            <app-custom-button 
                                [btnName]="'restar'"
                                [btnType]="'button'"
                                [btnClass]="'btn btn-pavyurba delete-all btn-filters-grid text-capitalize'"
                                [btnIcon]="'pavyurba-icon-delete'"
                                (click)="addModel(ModalHuchasDetail, 'Restar', null)">
                            </app-custom-button>
                        </div>
                    </div>
                </div>
                <div class="card-content ">
                    <div class="table-responsive min-height-8" fxFlex="auto">
                        <table class="table table-striped border_bottom table-hover">
                            <thead>
                            <tr>
                                <th scope="col" class="border-top-0"></th>
                                <th scope="col" class="border-top-0">N°</th>
                                <th scope="col" class="border-top-0">Cantidad Euro</th>
                                <th scope="col" class="border-top-0">Fecha</th>
                                <th scope="col" class="border-top-0">Modificado por</th>
                                <th scope="col" class="border-top-0">Observaciones</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr class="text-truncate pointer" *ngFor="let row of rowsFiltered; let i = index" >
                                    <td style="padding: 4px 0px;">
                                        <div class="pl-1">
                                            <button type="button" class="btn btn-pavyurba" (click)="removeRegistro(row)">
                                                <i class="pavyurba-btn pavyurba-icon-delete mr-0"></i>
                                            </button>
                                        </div>
                                    </td>
                                    <td (click)="addModel(ModalHuchasDetail, null, row)">{{row.id}}</td>
                                    <td (click)="addModel(ModalHuchasDetail, null, row)">{{row.valor}}€</td>
                                    <td (click)="addModel(ModalHuchasDetail, null, row)">{{row.fechaHoraLog}}</td>
                                    <td (click)="addModel(ModalHuchasDetail, null, row)">{{row.usuarioLog}}</td>
                                    <td (click)="addModel(ModalHuchasDetail, null, row)">
                                        <div class="truncate-cell">{{row.observaciones}}</div>
                                    </td>
                                </tr>
                            </tbody>
                            
                        </table>
                        </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div  *ngIf="pagination" class="col-md-3 justify-content-start pt-1">
                            <!-- Total: {{ pagination.total }} -->
                            <span *ngIf="validTotalHucha" style="color: yellow;">Total: {{ totalHucha }}€</span>
                        </div>
                        <div class="col-md-9">
                            <nav aria-label="Page navigation">
                                <div class="pagination justify-content-end pagination-separate pagination-curved pagination-flat">
                                    <select class="custom-select custom-select-pagination" style="width: auto" [(ngModel)]="pagination.per_page" (ngModelChange)="refreshCountries()">
                                        <option [ngValue]="5">Ver 5</option>
                                        <option [ngValue]="10">Ver 10</option>
                                        <option [ngValue]="20">Ver 20</option>
                                        <option [ngValue]="50">Ver 50</option>
                                    </select>
                                    <ngb-pagination
                                    [collectionSize]="pagination.total" 
                                    [(page)]="pagination.current_page" 
                                    [boundaryLinks]="true" 
                                    [maxSize]="1"
                                    [pageSize]="pagination.per_page"
                                    (pageChange)="pageChanged($event)" aria-label="Default pagination">
                                        <ng-template ngbPaginationFirst><i class="pavyurba-btn-p pavyurba-icon-chevrons-left"></i></ng-template>
                                        <ng-template ngbPaginationLast><i class="pavyurba-btn-p pavyurba-icon-chevrons-right"></i></ng-template>
                                        <ng-template ngbPaginationPrevious><i class="pavyurba-btn-p pavyurba-icon-chevron-left"></i></ng-template>
                                        <ng-template ngbPaginationNext><i class="pavyurba-btn-p pavyurba-icon-chevron-right"></i></ng-template>
                                        <ng-template ngbPaginationEllipsis>...</ng-template>
                                        <ng-template ngbPaginationNumber let-page class="round">{{ page }}</ng-template>
                                    </ngb-pagination>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
<!-- Modal -->
<ng-template class="modal text-left" #ModalHuchasDetail let-c="close" let-d="dismiss">
    <app-modal-huchas-detail
        *ngIf="cargaCompleta"
        [idEmployees]="idEmployees"
        [idHucha]="idHucha"
        [titel]="titelModal"
        [dato]="dato"
        (setModal)="onSetModal($event)"
        >
    </app-modal-huchas-detail>
</ng-template>
