<div class="row">
    <div class="col-12 col-md-12" *blockUI="'componentsAlbaranes'; message: 'Loading'">
        <div class="card min-height-8">
            <div class="card-header">
                <div class="row">
                    <div class="col-2">
                        <div class="form-group position-relative has-icon-left">
                            <input type="search" class="form-control text-black" placeholder="Buscar" (change)="searchFilter($event)">
                            <div class="form-control-position">
                                <i class="pavyurba-input pavyurba-icon-busqueda"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 pl-0">
                        <div class="form-group position-relative has-icon-left">
                            <ng-select [items]="providers" [searchable]="true" placeholder="Proveedor*" (change)="setProveedores($event)"
                                bindLabel="texto" bindValue="id" dropdownPosition="bottom"
                                id="idProveedor" [(ngModel)]="idProveedor">
                            </ng-select>
                            <div class="form-control-position">
                                <i class="pavyurba-input pavyurba-icon-proveedor"></i>
                            </div>
                            <!-- <select id="idEmpresa" class="form-control text-black" placeholder="Empresa*" (change)="setEmpresa($event)"
                            [(ngModel)]="idEmpresa">
                                <option [ngValue]="null" [disabled]="true" [selected]="true">Empresa*</option>
                                <option *ngFor="let busines of business" [value]="busines.id">{{busines.texto}}</option>
                            </select>
                            <div class="form-control-position">
                                <i class="pavyurba-input pavyurba-icon-empresa"></i>
                            </div> -->
                        </div> 
                    </div>
                    <div class="col-2 pl-0">
                        <div class="form-group position-relative has-icon-left">
                            <ng-select [items]="materials" [searchable]="true" placeholder="Material*" (change)="setMateriales($event)"
                                bindLabel="texto" bindValue="id" dropdownPosition="bottom"
                                id="idMaterial" [(ngModel)]="idMaterial">
                            </ng-select>
                            <div class="form-control-position">
                                <i class="pavyurba-input pavyurba-icon-material"></i>
                            </div>
                            <!-- <select id="idEmpresa" class="form-control text-black" placeholder="Empresa*" (change)="setEmpresa($event)"
                            [(ngModel)]="idEmpresa">
                                <option [ngValue]="null" [disabled]="true" [selected]="true">Empresa*</option>
                                <option *ngFor="let busines of business" [value]="busines.id">{{busines.texto}}</option>
                            </select>
                            <div class="form-control-position">
                                <i class="pavyurba-input pavyurba-icon-empresa"></i>
                            </div> -->
                        </div> 
                    </div>                    
                    <div class="col-2 pl-0">
                        <div class="form-group position-relative has-icon-left">
                            <ng-select [items]="facturas" [searchable]="true" placeholder="Facturado/No Facturado*" (change)="onSetFacturado($event)"
                                bindLabel="texto" bindValue="id" dropdownPosition="bottom"
                                id="facturado" [(ngModel)]="facturado">
                            </ng-select>
                            <div class="form-control-position">
                                <i class="pavyurba-input pavyurba-icon-gastos"></i>
                            </div>
                        </div> 
                    </div>
                    <!-- <div class="pr-1">
                        <div class="form-group position-relative has-icon-left">
                            <div class="right-checkbox">
                                <div class="custom-control custom-checkbox" style="padding-top: 0.7rem; padding-left: 3.0rem;">
                                  <input type="checkbox" class="custom-control-input" id="facturadoTable" (change)="onSetFacturado($event)">
                                  <label class="custom-control-label w-100" for="facturadoTable">Facturado</label>
                                </div>
                            </div>
                        </div> 
                    </div> -->
                </div>
            </div>
            <div class="card-content ">
                <div class="table-responsive min-height-8" fxFlex="auto">
                    <table class="table table-striped border_bottom table-hover">
                        <thead>
                        <tr>
                            <th scope="col" class="border-top-0"></th>
                            <th scope="col" class="border-top-0">ID</th>
                            <th scope="col" class="border-top-0">Número</th>
                            <th scope="col" class="border-top-0">Obra</th>
                            <th scope="col" class="border-top-0">Proveedor</th>
                            <th scope="col" class="border-top-0">Material</th>
                            <th scope="col" class="border-top-0">Cantidad</th>
                            <th scope="col" class="border-top-0">Precio</th>
                            <th scope="col" class="border-top-0">Total</th>
                            <th scope="col" class="border-top-0">F. de Recibido</th>
                            <!-- <th scope="col" class="border-top-0">F. de Facturacion</th> -->
                            <th scope="col" class="border-top-0">Facturado</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr class="text-truncate pointer" *ngFor="let row of rowsFiltered; let i = index" >
                                <td style="padding: 4px 0px;">
                                    <div class="pl-1">
                                        <button type="button" class="btn btn-pavyurba" (click)="removeRegistro(row)">
                                            <i class="pavyurba-btn pavyurba-icon-delete mr-0"></i>
                                        </button>
                                    </div>
                                </td>
                                <td (click)="addModel(ModalAlbaranesDetail, row)">{{row.id}}</td>
                                <td (click)="addModel(ModalAlbaranesDetail, row)">{{row.numero}}</td>
                                <td (click)="addModel(ModalAlbaranesDetail, row)">{{row.obra}}</td>
                                <td (click)="addModel(ModalAlbaranesDetail, row)">{{row.proveedor}}</td>
                                <td (click)="addModel(ModalAlbaranesDetail, row)">{{row.material}}</td>
                                <td (click)="addModel(ModalAlbaranesDetail, row)">{{row.cantidad}}</td>
                                <td (click)="addModel(ModalAlbaranesDetail, row)">{{row.precio}}</td>
                                <td (click)="addModel(ModalAlbaranesDetail, row)">{{row.total}}</td>
                                <td (click)="addModel(ModalAlbaranesDetail, row)">{{row.fechaRecepcion}}</td>
                                <td (click)="addModel(ModalAlbaranesDetail, row)">{{row.facturado}}</td>
                            </tr>
                        </tbody>
                        
                    </table>
                    </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div  *ngIf="pagination" class="row col-md-8 justify-content-start">
                        <!-- Total: {{ pagination.total }} -->
                        <div class="col-md-3">
                            <span *ngIf="validTotalAlbaran" style="color: yellow;">Total Cantidad: {{ totalCantidad }}</span> 
                        </div>
                        <div class="col-md-3">
                            <span *ngIf="validTotalAlbaran" style="color: yellow;">Total: {{ totalAlbaran }}€</span> 
                        </div>                                        
                    </div>
                    <div class="col-md-4">
                        <nav aria-label="Page navigation">
                            <div class="pagination justify-content-end pagination-separate pagination-curved pagination-flat">
                                <select class="custom-select custom-select-pagination" style="width: auto" [(ngModel)]="pagination.per_page" (ngModelChange)="refreshCountries()">
                                    <option [ngValue]="5">Ver 5</option>
                                    <option [ngValue]="10">Ver 10</option>
                                    <option [ngValue]="20">Ver 20</option>
                                    <option [ngValue]="50">Ver 50</option>
                                </select>
                                <ngb-pagination
                                [collectionSize]="pagination.total" 
                                [(page)]="pagination.current_page" 
                                [boundaryLinks]="true" 
                                [maxSize]="1"
                                [pageSize]="pagination.per_page"
                                (pageChange)="pageChanged($event)" aria-label="Default pagination">
                                    <ng-template ngbPaginationFirst><i class="pavyurba-btn-p pavyurba-icon-chevrons-left"></i></ng-template>
                                    <ng-template ngbPaginationLast><i class="pavyurba-btn-p pavyurba-icon-chevrons-right"></i></ng-template>
                                    <ng-template ngbPaginationPrevious><i class="pavyurba-btn-p pavyurba-icon-chevron-left"></i></ng-template>
                                    <ng-template ngbPaginationNext><i class="pavyurba-btn-p pavyurba-icon-chevron-right"></i></ng-template>
                                    <ng-template ngbPaginationEllipsis>...</ng-template>
                                    <ng-template ngbPaginationNumber let-page class="round">{{ page }}</ng-template>
                                </ngb-pagination>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<ng-template class="modal text-left" #ModalAlbaranesDetail let-c="close" let-d="dismiss">
    <div class="modal-lg">
        <div class="modal-header">
            <h3 id="myModalLabel23">{{titelModal}}</h3>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body modal-scroll-y p-0">
            <app-albaranes-obras-detail 
                [idObras]="idObras"
                [precio]="precio"
                [montoTotal]="montoTotal"
                [idAlbaranes]="idAlbaranesListar"
                *ngIf="cargaCompleta"
                (closeModal)="onCloseModal($event)">
            </app-albaranes-obras-detail>
        </div>
    </div>
</ng-template>
