.recuadro {
    margin: 1rem;
    padding: 1rem 1rem 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.input-title {
    margin-left: 20px;
    margin-bottom: 0px;
}
:host ::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    background-color: var(--pavyurba);
}
:host ::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left {
    border-right: 1px solid var(--pavyurba);
}
:host ::ng-deep .ng-select .ng-select-container {
    color: #fff;
}
:host ::ng-deep .ng-select .ng-arrow-wrapper .ng-arrow {
    border-color: var(--pavyurba-dark) transparent transparent;
}
:host ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected, .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
    background-color: #AAAAAA;
}
:host ::ng-deep .ng-select .ng-select-container {
    min-height: 34px;
}