<section id="form-repeater">
  <div class="row">
    <div class="col-12" *blockUI="'repeatingForms'; message: 'Loading'">
      <form [formGroup]="repeatForm" (ngSubmit)="add()" >
        <div *ngIf="tipoGestion === types.Catalago; else elseBlock " class="card-body" formArrayName="repeatArray">
          <label class="input-title" for="Datos">Condiciones a cambiar</label>
          <div class="row recuadro">
            <div class="col-12">
              <div class="form-group overflow-hidden">
                <button data-repeater-create class="btn btn-block btn-pavyurba mb-1" (click)="addRepeat()">
                  <i class="pavyurba-btn pavyurba-icon-condiciones"></i> Sumar Condición
                </button>
              </div>
            </div>
            <div class="col-12" *ngFor="let repeatForm of repeatFormGroup.controls; let i = index;">
              <div class="repeater-default">
                <div [formGroupName]="i" class="row">
                  <input type="hidden" formControlName="dirty">
                  <input type="hidden" formControlName="id" value={{i}}>
                  <div class="col-md-1" >
                    <br>
                    <div class="form-group text-center pr-0">
                      <button type="button" class="btn btn-pavyurba" (click)="removeRepeat(i, repeatForm.controls)">
                        <i class="pavyurba-btn pavyurba-icon-delete mr-0"></i>
                      </button>
                    </div>
                  </div>
                  <div class="col-12 col-md-2" >
                    <label style="font-size: smaller;">Nombre*</label>
                    <div class="form-group position-relative has-icon-left">
                      <input type="text"  [ngClass]="{ 'is-invalid': submitted && repeatForm.controls.nombre.errors }" class="form-control" placeholder="Nombre*"
                          formControlName='nombre'  >
                      <div class="form-control-position">
                          <i class="pavyurba-input pavyurba-icon-condicion"></i>
                      </div>
                      <small class="form-text text-muted danger" *ngIf="submitted && repeatForm.controls.nombre.errors"
                          class="invalid-feedback">
                          <div *ngFor="let validation of conditions_validation_messages.nombre">
                              <div class="error-message" *ngIf="repeatForm.get('nombre').hasError(validation.type) ">
                                  {{validation.message}}
                              </div>
                          </div>
                      </small>
                    </div>
                  </div>
                  <div class="col-12 col-md-2" >
                    <label style="font-size: smaller;">Espesor*</label>
                    <div class="form-group position-relative has-icon-left">
                      <input type="number"  [ngClass]="{ 'is-invalid': submitted && repeatForm.controls.valor.errors }" class="form-control" placeholder="Espesor*"
                          formControlName='valor'  >
                      <div class="form-control-position">
                          <i class="pavyurba-input pavyurba-icon-metros-o"></i>
                      </div>
                      <small class="form-text text-muted danger" *ngIf="submitted && repeatForm.controls.valor.errors"
                          class="invalid-feedback">
                          <div *ngFor="let validation of conditions_validation_messages.valor">
                              <div class="error-message" *ngIf="repeatForm.get('valor').hasError(validation.type) ">
                                  {{validation.message}}
                              </div>
                          </div>
                      </small>
                    </div>
                  </div>
                  <div class="col-12 col-md-2" >
                    <label style="font-size: smaller;">Unidades*</label>
                    <div class="form-group position-relative has-icon-left">
                      <select class="form-control" formControlName="idUnidadMedida"
                          [ngClass]="{ 'is-invalid': submitted && repeatForm.controls.idUnidadMedida.errors }" placeholder="Unidades*">
                          <option [ngValue]="null" [disabled]="true" [selected]="true">Unidades*</option>
                          <option *ngFor="let unidad of unidades" [value]="unidad.id">{{unidad.texto}}</option>
                      </select>
                      <div class="form-control-position">
                          <i class="pavyurba-input pavyurba-icon-unidades"></i>
                      </div>
                      <small class="form-text text-muted danger" *ngIf="submitted && repeatForm.controls.idUnidadMedida.errors" class="invalid-feedback">
                        <div *ngFor="let validation of conditions_validation_messages.idUnidadMedida">
                          <div class="error-message" *ngIf="repeatForm.get('idUnidadMedida').hasError(validation.type)">
                              {{validation.message}}
                          </div>
                        </div>
                      </small>
                    </div>
                  </div>
                  <div class="col" >
                    <label style="font-size: smaller;">Valor DM*</label>
                    <div class="form-group position-relative has-icon-left">
                      <input type="number"  [ngClass]="{ 'is-invalid': submitted && repeatForm.controls.valorDM.errors }" class="form-control" placeholder="Valor DM*"
                          formControlName='valorDM'  >
                      <div class="form-control-position">
                          <i class="pavyurba-input pavyurba-icon-dieta-madrid"></i>
                      </div>
                      <small class="form-text text-muted danger" *ngIf="submitted && repeatForm.controls.valorDM.errors"
                          class="invalid-feedback">
                          <div *ngFor="let validation of conditions_validation_messages.valorDM">
                              <div class="error-message" *ngIf="repeatForm.get('valorDM').hasError(validation.type) ">
                                  {{validation.message}}
                              </div>
                          </div>
                      </small>
                    </div>
                  </div>
                  <div class="col" >
                    <label style="font-size: smaller;">Valor FM*</label>
                    <div class="form-group position-relative has-icon-left">
                      <input type="number"  [ngClass]="{ 'is-invalid': submitted && repeatForm.controls.valorFM.errors }" class="form-control" placeholder="Valor FM*"
                          formControlName='valorFM'  >
                      <div class="form-control-position">
                          <i class="pavyurba-input pavyurba-icon-dieta-fuera-madrid"></i>
                      </div>
                      <small class="form-text text-muted danger" *ngIf="submitted && repeatForm.controls.valorFM.errors"
                          class="invalid-feedback">
                          <div *ngFor="let validation of conditions_validation_messages.valorFM">
                              <div class="error-message" *ngIf="repeatForm.get('valorFM').hasError(validation.type) ">
                                  {{validation.message}}
                              </div>
                          </div>
                      </small>
                    </div>
                  </div>
                  <div class="col">
                    <label style="font-size: smaller;">Observaciones</label>
                    <div class="form-group position-relative has-icon-left">
                        <input type="text" id="observaciones"  class="form-control" placeholder="Observaciones"
                            formControlName="observaciones" maxlength="{{maxLength}}" [(ngModel)]="mensaje[i]">
                        <div class="text-right">
                            <span *ngIf="mensaje[i] != null && mensaje[i] != undefined; else mensajeLength">
                              {{mensaje[i].length}}/{{maxLength}}                            
                            </span>
                            <ng-template #mensajeLength >
                              <span>
                                0/{{maxLength}}                            
                              </span>
                            </ng-template>                            
                        </div>
                        <div class="form-control-position">
                            <i class="pavyurba-input pavyurba-icon-observaciones"></i>
                        </div>
                      </div> 
                    </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <ng-template #elseBlock>
          <div *ngIf="tipoGestion === types.Parcial" class="card-body">
            <label class="input-title" for="Datos">Trabajadores</label>
            <div class="row recuadro">
              <div class="col-12 col-md-12">
                <label style="font-size: smaller;">Trabajadores*</label>
                <div class="form-group position-relative has-icon-left">
                  <ng-select formControlName="idsEmpleados" [items]="multipleSelectEmpleados" [multiple]="true" bindLabel="texto"
                    placeholder="Seleccione trabajadores" [(ngModel)]="multipleMultiSelect"
                    class="form-control px-0 py-0" [ngClass]="{ 'is-invalid': submitted && f.idsEmpleados.errors }">
                  </ng-select>
                  <small class="form-text text-muted danger" *ngIf="submitted && f.idsEmpleados.errors" class="invalid-feedback">
                    <div *ngFor="let validation of conditions_validation_messages.idsEmpleados">
                      <div class="error-message" *ngIf="repeatForm.get('idsEmpleados').hasError(validation.type)">
                        {{validation.message}}
                      </div>
                    </div>
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body" formArrayName="repeatArray">
            <label class="input-title" for="Datos">Condiciones a cambiar</label>
            <div class="row recuadro">
              <!-- <div class="col-12">
                <div class="form-group overflow-hidden">
                  <button data-repeater-create class="btn btn-block btn-pavyurba mb-1" (click)="addRepeat()">
                    <i class="pavyurba-btn pavyurba-icon-add-o"></i> Sumar Condición
                  </button>
                </div>
              </div> -->
              <div class="col-12" *ngFor="let repeatForm of repeatFormGroup.controls; let i = index;">
                <div class="repeater-default">
                  <div [formGroupName]="i" class="row">
                    <!-- <div class="form-group col-sm-12 col-md-1 text-center pr-0">
                      <button type="button" class="btn btn-pavyurba" (click)="removeRepeat(i)">
                        <i class="pavyurba-btn pavyurba-icon-delete mr-0"></i>
                      </button>
                    </div> -->
                    <div class="col-12 col-md-4">
                      <label style="font-size: smaller;">Condición*</label>
                      <div class="form-group position-relative has-icon-left">
                        <select class="form-control" formControlName="idCondicion"
                            [ngClass]="{ 'is-invalid': submitted && repeatForm.controls.idCondicion.errors }" placeholder="Condición*">
                            <option [ngValue]="null" [disabled]="true" [selected]="true">Condición*</option>
                            <option *ngFor="let condicion of combo" [value]="condicion.id">{{condicion.texto}}</option>
                        </select>
                        <div class="form-control-position">
                            <i class="pavyurba-input pavyurba-icon-condicion"></i>
                        </div>
                        <small class="form-text text-muted danger" *ngIf="submitted && repeatForm.controls.idCondicion.errors" class="invalid-feedback">
                          <div *ngFor="let validation of conditions_validation_messages.idCondicion">
                            <div class="error-message" *ngIf="repeatForm.get('idCondicion').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                          </div>
                        </small>
                      </div>
                    </div>
                    <div class="col-12 col-md-4">
                      <label style="font-size: smaller;">Valor en Madrid*</label>
                      <div class="form-group position-relative has-icon-left">
                        <input type="number"  [ngClass]="{ 'is-invalid': submitted && repeatForm.controls.valorCondicionDM.errors }" class="form-control" placeholder="Valor en Madrid*"
                            formControlName='valorCondicionDM'  >
                        <div class="form-control-position">
                            <i class="pavyurba-input pavyurba-icon-dieta-madrid"></i>
                        </div>
                        <small class="form-text text-muted danger" *ngIf="submitted && repeatForm.controls.valorCondicionDM.errors"
                            class="invalid-feedback">
                            <div *ngFor="let validation of conditions_validation_messages.valorCondicionDM">
                                <div class="error-message" *ngIf="repeatForm.get('valorCondicionDM').hasError(validation.type) ">
                                    {{validation.message}}
                                </div>
                            </div>
                        </small>
                      </div>
                    </div>
                    <div class="col-12 col-md-4">
                      <label style="font-size: smaller;">Valor Fuera de Madrid*</label>
                      <div class="form-group position-relative has-icon-left">
                        <input type="number"  [ngClass]="{ 'is-invalid': submitted && repeatForm.controls.valorCondicionFM.errors }" class="form-control" placeholder="Valor Fuera de Madrid*"
                            formControlName='valorCondicionFM'  >
                        <div class="form-control-position">
                            <i class="pavyurba-input pavyurba-icon-dieta-fuera-madrid"></i>
                        </div>
                        <small class="form-text text-muted danger" *ngIf="submitted && repeatForm.controls.valorCondicionFM.errors"
                            class="invalid-feedback">
                            <div *ngFor="let validation of conditions_validation_messages.valorCondicionFM">
                                <div class="error-message" *ngIf="repeatForm.get('valorCondicionFM').hasError(validation.type) ">
                                    {{validation.message}}
                                </div>
                            </div>
                        </small>
                      </div>  
                    </div>  
                  </div>
                </div>
              </div>
            </div>                  
          </div>
        </ng-template>
        <div class="col-md-12">
          <button type="submit" [disabled]="repeatFormGroup.invalid" class="btn float-right btn-pavyurba" [ngClass]="{'btn-red': tipoGestion === types.Total ? true:false}">
              <i class="pavyurba-icon pavyurba-icon-done-o"></i>&nbsp; Guardar Cambios
          </button>
        </div>
      </form>
    </div>
  </div>
</section>