<form [formGroup]="informeForm" (ngSubmit)="add()" *blockUI="'componentsInformesDetail'; message: 'Loading'">
    <div class="form-body">

        <div class="row" *ngIf="!edicion">

            <!-- <div class="col-md-12 pl-5 pt-1 pb-1">
                <div class="form-group">
                    <div class="right-checkbox">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" formControlName="noGuardar"
                            id="noGuardar" (change)="changeGuardar()">
                          <label class="custom-control-label w-100" for="noGuardar">No guardar en repositorio</label>
                        </div>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.noGuardar.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of informes_validation_messages.noGuardar">
                            <div class="error-message" *ngIf="informeForm.get('noGuardar').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div> -->

            <div class="col-md-12">
                <label class="input-title" for="Datos">Tipo</label>
                <div class="row recuadro">
                    <div class="col-md-12">
                        <div class="form-group position-relative has-icon-left">
                            <select id="tipo" class="form-control" formControlName="tipo"
                            [ngClass]="{ 'is-invalid': submitted && tipoValid }" placeholder="Tipo*" [(ngModel)]="informeTipo" 
                            (change)="changeTipoInforme()">
                                <option [ngValue]="null" [disabled]="true" [selected]="true">Tipo*</option>
                                <option *ngFor="let tipo of tipoCombo" [value]="tipo.texto">{{ tipo.texto | titlecase}}</option>
                            </select>
                            <div class="form-control-position">
                                <i class="pavyurba-input pavyurba-icon-obra"></i>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="submitted && tipoValid"
                                class="invalid-feedback">
                                <div *ngFor="let validation of informes_validation_messages.tipo">
                                    <div class="error-message">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="col-md-12" *ngIf="isProforma || isProveedores">
                <label class="input-title" for="Datos">Fecha</label>
                <div class="row recuadro">
                    <div class="col-md-6">
                        <label style="font-size: smaller;">Mes Inicio</label>
                        <div class="form-group position-relative has-icon-left">
                            <select id="mes" class="form-control" formControlName="mes"
                            [ngClass]="{ 'is-invalid': submitted && mesValid }" placeholder="mes*" [(ngModel)]="mesInicio">
                                <option [ngValue]="null" [disabled]="true" [selected]="true">Mes*</option>
                                <option *ngFor="let mesN of mesArray" [value]="mesN.valor">{{mesN.texto}}</option>
                            </select>
                            <div class="form-control-position">
                                <i class="pavyurba-input pavyurba-icon-mes"></i>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="submitted && mesValid"
                                class="invalid-feedback">
                                <div *ngFor="let validation of informes_validation_messages.mes">
                                    <div class="error-message">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div> 
                    </div>
                    <div class="col-md-6">
                        <label style="font-size: smaller;">Año Inicio</label>
                        <div class="form-group position-relative has-icon-left">
                            <select id="ano" class="form-control" formControlName="ano"
                            [ngClass]="{ 'is-invalid': submitted && anoValid }" placeholder="ano*" [(ngModel)]="annoInicio">
                                <option [ngValue]="null" [disabled]="true" [selected]="true">Año*</option>
                                <option *ngFor="let annoArray of annosArray" [value]="annoArray.texto">{{annoArray.texto}}</option>
                            </select>
                            <div class="form-control-position">
                                <i class="pavyurba-input pavyurba-icon-ano"></i>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="submitted && anoValid"
                                class="invalid-feedback">
                                <div *ngFor="let validation of informes_validation_messages.ano">
                                    <div class="error-message">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div> 
                    </div>

                    <div class="col-md-6">
                        <label style="font-size: smaller;">Mes Fin</label>
                        <div class="form-group position-relative has-icon-left">
                            <select id="mes" class="form-control" formControlName="mes"
                            [ngClass]="{ 'is-invalid': submitted && mesValid }" placeholder="mes*" [(ngModel)]="mesFin">
                                <option [ngValue]="null" [disabled]="true" [selected]="true">Mes*</option>
                                <option *ngFor="let mesN of mesArray" [value]="mesN.valor">{{mesN.texto}}</option>
                            </select>
                            <div class="form-control-position">
                                <i class="pavyurba-input pavyurba-icon-mes"></i>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="submitted && mesValid"
                                class="invalid-feedback">
                                <div *ngFor="let validation of informes_validation_messages.mes">
                                    <div class="error-message">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div> 
                    </div>
                    <div class="col-md-6">
                        <label style="font-size: smaller;">Año Fin</label>
                        <div class="form-group position-relative has-icon-left">
                            <select id="ano" class="form-control" formControlName="ano"
                            [ngClass]="{ 'is-invalid': submitted && anoValid }" placeholder="ano*" [(ngModel)]="annoFin">
                                <option [ngValue]="null" [disabled]="true" [selected]="true">Año*</option>
                                <option *ngFor="let annoArray of annosArray" [value]="annoArray.texto">{{annoArray.texto}}</option>
                            </select>
                            <div class="form-control-position">
                                <i class="pavyurba-input pavyurba-icon-ano"></i>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="submitted && anoValid"
                                class="invalid-feedback">
                                <div *ngFor="let validation of informes_validation_messages.ano">
                                    <div class="error-message">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div> 
                    </div>
                    <!-- <div class="col-md-6">
                        <div class="form-group position-relative has-icon-left">                                    
                            <input [ngClass]="{ 'is-invalid': submitted && fechaDesdeValid }" class="form-control" placeholder="Fecha Desde" formControlName="fechaDesde" ([ngModel])="fechaDesde"
                            ngbDatepicker #d="ngbDatepicker" value={{informe.fechaDesde}}>
                            <div class="form-control-position" (click)="d.toggle()">
                                <i class="pavyurba-input pavyurba-icon-fecha-alta" style="cursor: pointer;"></i>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="submitted && fechaDesdeValid"
                                class="invalid-feedback">
                                <div *ngFor="let validation of informes_validation_messages.fechaDesde">
                                    <div class="error-message">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div> 
                    </div>

                    <div class="col-md-6">
                        <div class="form-group position-relative has-icon-left">                                    
                            <input [ngClass]="{ 'is-invalid': submitted && fechaHastaValid }" class="form-control" placeholder="Fecha Hasta" formControlName="fechaHasta" ([ngModel])="fechaHasta"
                            ngbDatepicker #d1="ngbDatepicker" value={{informe.fechaHasta}}>
                            <div class="form-control-position" (click)="d1.toggle()">
                                <i class="pavyurba-input pavyurba-icon-fecha-alta" style="cursor: pointer;"></i>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="submitted && fechaHastaValid"
                                class="invalid-feedback">
                                <div *ngFor="let validation of informes_validation_messages.fechaHasta">
                                    <div class="error-message">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div> 
                    </div> -->
                </div>
            </div>

            <!-- <div class="col-md-12" *ngIf="isProveedores">
                <label class="input-title" for="Datos">Fecha</label>
                <div class="row recuadro">
                    <div class="col-md-6">
                        <div class="form-group position-relative has-icon-left">                                    
                            <input [ngClass]="{ 'is-invalid': submitted && fechaDesdeValid }" class="form-control" placeholder="Fecha Desde" formControlName="fechaDesde" ([ngModel])="fechaDesde"
                            ngbDatepicker #d="ngbDatepicker" value={{informe.fechaDesde}}>
                            <div class="form-control-position" (click)="d.toggle()">
                                <i class="pavyurba-input pavyurba-icon-fecha-alta" style="cursor: pointer;"></i>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="submitted && fechaDesdeValid"
                                class="invalid-feedback">
                                <div *ngFor="let validation of informes_validation_messages.fechaDesde">
                                    <div class="error-message">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div> 
                    </div>

                    <div class="col-md-6">
                        <div class="form-group position-relative has-icon-left">                                    
                            <input [ngClass]="{ 'is-invalid': submitted && fechaHastaValid }" class="form-control" placeholder="Fecha Hasta" formControlName="fechaHasta" ([ngModel])="fechaHasta"
                            ngbDatepicker #d1="ngbDatepicker" value={{informe.fechaHasta}}>
                            <div class="form-control-position" (click)="d1.toggle()">
                                <i class="pavyurba-input pavyurba-icon-fecha-alta" style="cursor: pointer;"></i>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="submitted && fechaHastaValid"
                                class="invalid-feedback">
                                <div *ngFor="let validation of informes_validation_messages.fechaHasta">
                                    <div class="error-message">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div> 
                    </div>
                </div>
            </div> -->

            <div class="col-md-12" *ngIf="!validInforme">
                <label class="input-title" for="Datos">Fecha</label>
                <div class="row recuadro">
                    <div class="col-md-6">
                        <div class="form-group position-relative has-icon-left">
                                <select id="mes" class="form-control" formControlName="mes"
                                [ngClass]="{ 'is-invalid': submitted && mesValid }" placeholder="mes*" [(ngModel)]="mes">
                                    <option [ngValue]="null" [disabled]="true" [selected]="true">Mes*</option>
                                    <option *ngFor="let mesN of mesArray" [value]="mesN.valor">{{mesN.texto}}</option>
                                </select>
                            <div class="form-control-position">
                                <i class="pavyurba-input pavyurba-icon-mes"></i>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="submitted && mesValid"
                                class="invalid-feedback">
                                <div *ngFor="let validation of informes_validation_messages.mes">
                                    <div class="error-message">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div> 
                    </div>
                    <div class="col-md-6">
                        <div class="form-group position-relative has-icon-left">
                                <select id="ano" class="form-control" formControlName="ano"
                                [ngClass]="{ 'is-invalid': submitted && anoValid }" placeholder="ano*" [(ngModel)]="anno">
                                    <option [ngValue]="null" [disabled]="true" [selected]="true">Año*</option>
                                    <option *ngFor="let annoArray of annosArray" [value]="annoArray.texto">{{annoArray.texto}}</option>
                                </select>
                            <div class="form-control-position">
                                <i class="pavyurba-input pavyurba-icon-ano"></i>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="submitted && anoValid"
                                class="invalid-feedback">
                                <div *ngFor="let validation of informes_validation_messages.ano">
                                    <div class="error-message">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small>
                        </div> 
                    </div>
                </div>
            </div>


        </div>

        <label class="input-title" for="Subir Documentos" *ngIf="edicion">Subir Archivo</label>
        <div class="row recuadro" *ngIf="edicion">
            <input type="hidden" id="id"  formControlName="id" >
            <div class="col-md-12">
                <div class="form-group">
                    <button class="btn btn-block btn-pavyurba mb-1" (click)="document()">
                      <i class="pavyurba-btn pavyurba-icon-subir-documento"></i>{{titleDocumento}}
                    </button>
                    <input type="file" [ngClass]="{ 'is-invalid': submitted && archivoValid }" style="display:none" class="form-control" formControlName="archivo" id="archivo"
                        (change)="onFileChange($event)">
                    <!-- <label #labelImport></label> -->
                    <small class="form-text text-muted danger" *ngIf="submitted && archivoValid"
                        class="invalid-feedback">
                        <div *ngFor="let validation of informes_validation_messages.archivo">
                            <div class="error-message">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">   
        <button type="button" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize" (click)="closeModal.emit(true)">
            <i class="pavyurba-icon pavyurba-icon-cancel" ></i>&nbsp; Cancelar
        </button>
        <button type="submit" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize">
            <i class="pavyurba-icon pavyurba-icon-done-o"></i>&nbsp; Aceptar
        </button>
    </div>
</form>

