<div class="card" *blockUI="'componentsList'; message: 'Loading'">
    <div class="card-header" *ngIf="isHead">
        <div class="row">
            <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2 container-filters-grids">

            </div>
        </div>
    </div>
    <div class="card-content ">
        <div class="table-responsive min-height-8" fxFlex="auto">
            <table class="table border_bottom table-hover">
                <thead>
                <tr>
                    <th  *ngFor="let row of rowsthead; let i = index" scope="col" class="border-top-0" >{{ row.name }}</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of rows; let i = index" >
                        <ng-container *ngFor="let column of rowsthead">
                            <td *ngIf="row[column.visible]">
                                <div class="truncate-cell" *ngIf="row[column.restrict]; else elseBlock">{{ row[column.property] }}</div>
                                <ng-template #elseBlock> {{ row[column.property] }} </ng-template>
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer" *ngIf="isFooter">
        <div class="row"  *ngIf="pagination">
            <div  class="col-md-3 justify-content-start pt-1">
                Total: {{ pagination.total }}
            </div>
            <div class="col-md-9">
                <nav aria-label="Page navigation">
                    <div class="pagination justify-content-end pagination-separate pagination-curved pagination-flat">
                        <select class="custom-select custom-select-pagination" style="width: auto" [(ngModel)]="pagination.per_page" (ngModelChange)="refreshCountries()">
                            <option [ngValue]="5">Ver 5</option>
                            <option [ngValue]="10">Ver 10 </option>
                            <option [ngValue]="20">Ver 20</option>
                            <option [ngValue]="50">Ver 50 </option>
                        </select>
                        <ngb-pagination
                        [collectionSize]="pagination.total" 
                        [(page)]="pagination.current_page" 
                        [boundaryLinks]="true" 
                        [maxSize]="1"
                        [pageSize]="pagination.per_page"
                        (pageChange)="pageChanged($event)" aria-label="Default pagination">
                            <ng-template ngbPaginationFirst><i class="pavyurba-btn-p pavyurba-icon-chevrons-left"></i></ng-template>
                            <ng-template ngbPaginationLast><i class="pavyurba-btn-p pavyurba-icon-chevrons-right"></i></ng-template>
                            <ng-template ngbPaginationPrevious><i class="pavyurba-btn-p pavyurba-icon-chevron-left"></i></ng-template>
                            <ng-template ngbPaginationNext><i class="pavyurba-btn-p pavyurba-icon-chevron-right"></i></ng-template>
                            <ng-template ngbPaginationEllipsis>...</ng-template>
                            <ng-template ngbPaginationNumber let-page class="round">{{ page }}</ng-template>
                        </ngb-pagination>                    
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>