
:host ::ng-deep .text-truncate {
  padding: 0.5rem 2rem;
}

:host ::ng-deep thead {
  background-color: #212223;
}

:host ::ng-deep .custom-control {
padding-left: 1rem;
}
:host ::ng-deep .card-header {
padding: 1rem 1.5rem;
}
select option:checked, select option:hover {
background: rgba(0, 0, 0, 0.5)!important;
}
select.form-control option{
background-color: #303338;
}
.modal-body .btn-danger, .modal-body .btn-labs{
color: #000000 !important;
}
.pointer {
  cursor: pointer;
}
.mt-2 {
  margin-top : 1.5rem !important;
}

.ml-2 {
  margin-left : 2rem !important;
}

:host ::ng-deep .my-custom-cell {
  padding-right: 6% !important;
  padding-top: 1.5% !important;
}

:host ::ng-deep .border_bottom {
  margin-bottom: 0rem !important;
}

:host ::ng-deep .border-top-0 {
  padding: .45rem 1.4rem !important;
}
.min-height-8 {
  min-height: 70vh;
}
.min-height-85 {
  min-height: 85vh
}

/* font-size */
.font-size-2 {
font-size: 1.8em;;
}

/* FILTER */
.filter {
padding: 0 4rem;
border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.filter .items-filter {
display: flex;
  justify-content: space-evenly;
}


vertical-scroll {
overflow: auto !important;
}
/* TABLA */
.truncate-cell {
max-width: 220px; /* feel free to include any other value */
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

/* PAGINACION */
select.custom-select-pagination {
z-index: 1;
background-color: #686E74;
border-color: #686E74;
margin-right: 1rem;
padding-top: 0;
padding-bottom: 0;
}

/* CHECK */
:host ::ng-deep .switch.switch-small {
background-color: #E75858;
}
.text-black {
color: #000000;
}