.recuadro {
    margin: 1rem;
    padding: 1rem 1rem 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.input-title {
    margin-left: 20px;
    margin-bottom: 0px;
}

/* FECHA */
:host ::ng-deep .ngb-dp-header {
    background-color: var(--pavyurba);
    background-color: #525456;
}
:host ::ng-deep .ngb-dp-weekdays {
    background-color: var(--pavyurba);
}
:host ::ng-deep .ngb-dp-weekday {
    color: var(--white);
}
:host ::ng-deep .btn-light {
    border: 1px solid #fff;
    background-color: var(--pavyurba) !important;
    color: #FFFFFF !important;
}
:host ::ng-deep .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
    background-color: #000000 !important;
    border-color: #000000;
}
:host ::ng-deep .dropdown-menu {
    background-color: #525456;
}
:host ::ng-deep .custom-select {
    color: #000000 !important;
}