<form [formGroup]="buildersForm" (ngSubmit)="add()" *blockUI="'componentsBuildersDetail'; message: 'Loading'">
    <div class="form-body">
        <label class="input-title" for="Datos">Datos</label>
        <div class="row recuadro">
            <div class="col-md-6">
                <label style="font-size: smaller;" *ngIf="edicion">NIF/NIE/DNI*</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="text" id="identificacion" [ngClass]="{ 'is-invalid': submitted && f.identificacion.errors }" class="form-control" placeholder="NIF/NIE/DNI*"
                        formControlName="identificacion" value={{builders.identificacion}}>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-dni-t"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.identificacion.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of builders_validation_messages.identificacion">
                            <div class="error-message" *ngIf="buildersForm.get('identificacion').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-md-6">
                <label style="font-size: smaller;" *ngIf="edicion">Nombre*</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="text" id="nombre" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" class="form-control" placeholder="Nombre*"
                        formControlName="nombre" value={{builders.nombre}}>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-user"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.nombre.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of builders_validation_messages.nombre">
                            <div class="error-message" *ngIf="buildersForm.get('nombre').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-md-6">
                <label style="font-size: smaller;" *ngIf="edicion">E-mail</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="email" id="email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="form-control" placeholder="E-mail"
                        formControlName="email" value={{builders.email}} >
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-email"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.email.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of builders_validation_messages.email">
                            <div class="error-message" *ngIf="buildersForm.get('email').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-md-6">
                <label style="font-size: smaller;" *ngIf="edicion">Teléfono</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="text" id="telefono" [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }" class="form-control" placeholder="Teléfono"
                        formControlName="telefono" value={{builders.telefono}}>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-telefono"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.telefono.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of builders_validation_messages.telefono">
                            <div class="error-message" *ngIf="buildersForm.get('telefono').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-md-6" *ngIf="!edicion">
                <div class="form-group">
                    <div class="right-checkbox">
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" formControlName="esCliente"
                            id="esCliente" >
                        <label class="custom-control-label w-100" for="esCliente">Esta constructor también es un cliente</label>
                        </div>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.esCliente.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of builders_validation_messages.esCliente">
                            <div class="error-message" *ngIf="buildersForm.get('esCliente').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div>
            </div>
        </div>
        <label class="input-title" for="Dirección">Dirección</label>
        <div class="row recuadro">
            <div class="col-md-9">
                <label style="font-size: smaller;" *ngIf="edicion">Provincia*</label>
                <div class="form-group position-relative has-icon-left">
                    <!-- <select id="idProvincia" class="form-control" formControlName="idProvincia"
                        [ngClass]="{ 'is-invalid': submitted && f.idProvincia.errors }" placeholder="Provincia*" [(ngModel)]="idProvincia" (change)="changeProvincia()">
                        <option [ngValue]="null" [disabled]="true" [selected]="true">Provincia*</option>
                        <option *ngFor="let provincia of provincias" [value]="provincia.id">{{provincia.texto}}</option>
                    </select> -->
                    <ng-select [ngClass]="{ 'is-invalid': submitted && f.idProvincia.errors }" 
                    [items]="provincias" [searchable]="true" placeholder="Provincia*"
                    [(ngModel)]="idProvincia" (change)="changeProvincia()"
                        bindLabel="texto" bindValue="id"
                        id="idProvincia" formControlName="idProvincia">
                    </ng-select>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-provincia"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.idProvincia.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of builders_validation_messages.idProvincia">
                            <div class="error-message" *ngIf="buildersForm.get('idProvincia').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div> 
            <div class="col-md-3 px-0 text-center">
                <!-- <button type="button" class="btn btn-black mr-1" (click)="addLocation(ModalLocationsDetail)">
                    <i class="pavyurba-icon pavyurba-icon-add-location" ></i>Crear Localidad
                </button> -->
                <span *ngIf="edicion"><br></span> 
                <app-custom-button 
                    [btnName]="'Crear Localidad'"
                    [btnType]="'button'"
                    [btnClass]="'btn btn-pavyurba delete-all btn-filters-grid text-capitalize'"
                    [btnIcon]="'pavyurba-icon-crear-localidad'"
                    (click)="addLocation(ModalLocationsDetail)">
                </app-custom-button>
            </div>
            <div class="col-md-9">
                <label style="font-size: smaller;" *ngIf="edicion">Localidad</label>
                <div class="form-group position-relative has-icon-left">
                    <!-- <select id="idLocalidad" class="form-control" formControlName="idLocalidad"
                        [ngClass]="{ 'is-invalid': submitted && f.idLocalidad.errors }" placeholder="Localidad*">
                        <option [ngValue]="null" [disabled]="true" [selected]="true">Localidad*</option>
                        <option *ngFor="let location of locations" [value]="location.id">{{location.texto}}</option>
                    </select> -->
                    <ng-select [ngClass]="{ 'is-invalid': submitted && f.idLocalidad.errors }" 
                    [items]="locations" [searchable]="true" placeholder="Localidad" [(ngModel)]="idLocalidad"
                        bindLabel="texto" bindValue="id"
                        id="idLocalidad" formControlName="idLocalidad">
                    </ng-select>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-localidad-new"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.idLocalidad.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of builders_validation_messages.idLocalidad">
                            <div class="error-message" *ngIf="buildersForm.get('idLocalidad').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>        
            <div class="col-md-3">
                <label style="font-size: smaller;" *ngIf="edicion">Código Postal</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="text" id="codigoPostal" [ngClass]="{ 'is-invalid': submitted && f.codigoPostal.errors }" class="form-control" placeholder="Código Postal"
                        formControlName="codigoPostal" value={{builders.codigoPostal}}>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-codigo-postal"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.codigoPostal.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of builders_validation_messages.codigoPostal">
                            <div class="error-message" *ngIf="buildersForm.get('codigoPostal').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-md-12">
                <label style="font-size: smaller;" *ngIf="edicion">Dirección*</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="text" id="direccion" [ngClass]="{ 'is-invalid': submitted && f.direccion.errors }" class="form-control" placeholder="Dirección*"
                        formControlName="direccion" value={{builders.direccion}} maxlength="{{maxLength}}" [(ngModel)]="mensajeDir">
                        <div class="text-right">
                            <!-- <span>{{mensajeDir.length}}/{{maxLength}}</span> -->
                            <span *ngIf="mensajeDir != null && mensajeDir != undefined; else mensajeLength">
                                {{mensajeDir.length}}/{{maxLength}}                            
                            </span>
                            <ng-template #mensajeLength >
                            <span>
                                0/{{maxLength}}                            
                            </span>
                            </ng-template>
                        </div>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-direccion"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.direccion.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of builders_validation_messages.direccion">
                            <div class="error-message" *ngIf="buildersForm.get('direccion').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
        </div>
        <label class="input-title" for="Contacto">Contacto</label>
        <div class="row recuadro">
            <div class="col-md-6">
                <label style="font-size: smaller;" *ngIf="edicion">NIF/NIE/DNI</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="text" id="identificacionContacto" [ngClass]="{ 'is-invalid': submitted && f.identificacionContacto.errors }" class="form-control" placeholder="NIF/NIE/DNI"
                        formControlName="identificacionContacto" value={{builders.identificacionContacto}}>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-dni-t"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.identificacionContacto.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of builders_validation_messages.identificacionContacto">
                            <div class="error-message" *ngIf="buildersForm.get('identificacionContacto').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-md-6">
                <label style="font-size: smaller;" *ngIf="edicion">Nombre</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="text" id="nombreContacto" [ngClass]="{ 'is-invalid': submitted && f.nombreContacto.errors }" class="form-control" placeholder="Nombre"
                        formControlName="nombreContacto" value={{builders.nombreContacto}}>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-user"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.nombreContacto.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of builders_validation_messages.nombreContacto">
                            <div class="error-message" *ngIf="buildersForm.get('nombreContacto').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-md-6">
                <label style="font-size: smaller;" *ngIf="edicion">E-mail</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="email" id="emailContacto" [ngClass]="{ 'is-invalid': submitted && f.emailContacto.errors }" class="form-control" placeholder="E-mail"
                        formControlName="emailContacto" value={{builders.emailContacto}}>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-email"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.emailContacto.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of builders_validation_messages.emailContacto">
                            <div class="error-message" *ngIf="buildersForm.get('emailContacto').hasError(validation.type) && (buildersForm.get('emailContacto').dirty || buildersForm.get('emailContacto').touched)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-md-6">
                <label style="font-size: smaller;" *ngIf="edicion">Teléfono</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="text" id="telefonoContacto" [ngClass]="{ 'is-invalid': submitted && f.telefonoContacto.errors }" class="form-control" placeholder="Teléfono"
                        formControlName="telefonoContacto" value={{builders.telefonoContacto}}>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-telefono"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.telefonoContacto.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of builders_validation_messages.telefonoContacto">
                            <div class="error-message" *ngIf="buildersForm.get('telefonoContacto').hasError(validation.type) && (buildersForm.get('telefonoContacto').dirty || buildersForm.get('telefonoContacto').touched)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
        </div>
        <label class="input-title" for="Contacto">Observaciones</label>
        <div class="row recuadro">
            <div class="col-md-12">
                <label style="font-size: smaller;" *ngIf="edicion">Observaciones</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="text" id="observaciones"  [ngClass]="{ 'is-invalid': submitted && f.observaciones.errors }" class="form-control" placeholder="Observaciones"
                        formControlName="observaciones" value={{builders.observaciones}} maxlength="{{maxLength}}" [(ngModel)]="mensaje">
                    <div class="text-right">
                        <!-- <span>{{mensaje.length}}/{{maxLength}}</span> -->
                        <span *ngIf="mensaje != null && mensaje != undefined; else mensajeLength">
                            {{mensaje.length}}/{{maxLength}}                            
                        </span>
                        <ng-template #mensajeLength >
                        <span>
                            0/{{maxLength}}                            
                        </span>
                        </ng-template> 
                    </div>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-observaciones"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.observaciones.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of builders_validation_messages.observaciones">
                            <div class="error-message" *ngIf="buildersForm.get('observaciones').hasError(validation.type) && (buildersForm.get('observaciones').dirty || buildersForm.get('observaciones').touched)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
        </div>
    </div>
    <div class="modal-footer">   
        <button type="button" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize" (click)="closeModal.emit(true)">
            <i class="pavyurba-icon pavyurba-icon-cancel" ></i>&nbsp; Cancelar
        </button>
        <button type="submit" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize">
            <i class="pavyurba-icon pavyurba-icon-done-o"></i>&nbsp; {{ edicion ? 'Guardar Cambios':'Crear Constructora' }}
        </button>
    </div>
</form>

<ng-template class="modal text-left" #ModalLocationsDetail let-c="close" let-d="dismiss">
    <app-modal-detail
        *ngIf="cargaCompleta"
        [idLocationsModal]="null"
        [titel]="'Crear Localidades'"
        (setModal)="onSetModal($event)">
    </app-modal-detail>
</ng-template>