<form [formGroup]="nominasForm" (ngSubmit)="add()" *blockUI="'componentsNominasDetail'; message: 'Loading'">
    <div class="form-body">
        <label class="input-title" for="Datos" *ngIf="!edicion">Empresa</label>
        <div class="row recuadro" *ngIf="!edicion">
            <div class="col-md-12">
                <div class="form-group position-relative has-icon-left">
                    <select id="idEmpresa" [ngClass]="{ 'is-invalid': submitted && f.idEmpresa.errors }" 
                        class="form-control" placeholder="Empresa*" formControlName="idEmpresa">
                        <option [ngValue]="null" [disabled]="true" [selected]="true">Empresa*</option>
                        <option *ngFor="let busines of business" [value]="busines.id">{{busines.texto}}</option>
                    </select>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-empresa"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.idEmpresa.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of nominas_validation_messages.idEmpresa">
                            <div class="error-message" *ngIf="nominasForm.get('idEmpresa').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
        </div>

        <label class="input-title" for="Datos" *ngIf="!edicion">Fecha</label>
        <div class="row recuadro" *ngIf="!edicion">
            <div class="col-md-6">
                <div class="form-group position-relative has-icon-left">
                        <select id="mes" class="form-control" formControlName="mes"
                            [ngClass]="{ 'is-invalid': submitted && f.mes.errors }" placeholder="mes*" [(ngModel)]="mes">
                            <option [ngValue]="null" [disabled]="true" [selected]="true">Mes*</option>
                            <option *ngFor="let mesN of mesArray" [value]="mesN.valor">{{mesN.texto}}</option>
                        </select>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-mes"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.mes.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of nominas_validation_messages.mes">
                            <div class="error-message" *ngIf="nominasForm.get('mes').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-md-6">
                <div class="form-group position-relative has-icon-left">
                        <select id="ano" class="form-control" formControlName="ano"
                            [ngClass]="{ 'is-invalid': submitted && f.ano.errors }" placeholder="ano*" [(ngModel)]="anno">
                            <option [ngValue]="null" [disabled]="true" [selected]="true">Año*</option>
                            <option *ngFor="let annoArray of annosArray" [value]="annoArray.texto">{{annoArray.texto}}</option>
                        </select>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-ano"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.ano.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of nominas_validation_messages.ano">
                            <div class="error-message" *ngIf="nominasForm.get('ano').hasError(validation.type)">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
        </div>

        <label class="input-title" for="Subir Documento" *ngIf="!edicion">Subir Documento</label>
        <div class="row recuadro" *ngIf="!edicion">           
            <div class="col-md-12">
                <div class="form-group">
                    <button class="btn btn-block btn-pavyurba mb-1" (click)="document()">
                      <i class="pavyurba-btn pavyurba-icon-subir-documento"></i>{{titleDocumento}}
                    </button>
                    <input type="file" [(ngModel)]="myInputVariable" [ngClass]="{ 'is-invalid': submitted && archivoValid }" style="display:none" class="form-control" formControlName="archivo" id="archivo"
                        (change)="onFileChange($event.target.files)" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                    <!-- <label #labelImport></label> -->
                    <small class="form-text text-muted danger" *ngIf="submitted && archivoValid"
                        class="invalid-feedback">
                        <div *ngFor="let validation of nominas_validation_messages.archivo">
                            <div class="error-message">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div>
                <!-- <div class="form-group"> -->
                    <!-- <div class="custom-file"> -->
                    
                    <!-- <label class="custom-file-label" #labelImport for="inputGroupFile01">Choose file</label> -->
                    <!-- </div> -->
                <!-- </div> -->
            </div>
        </div>

        <label class="input-title" for="Datos" *ngIf="edicion">Datos</label>
        <div class="row recuadro" *ngIf="edicion">
            <div class="col-md-6">
                <label style="font-size: smaller;" *ngIf="edicion">NIF/NIE/DNI*</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="text" id="dni" [ngClass]="{ 'is-invalid': submitted && f.dni.errors }" class="form-control" placeholder="NIF/NIE/DNI*"
                        formControlName="dni" value={{nominas.dni}} disabled  style="background-color: rgba(255, 255, 255, 0.25) !important; ">
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-dni-t"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.dni.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of nominas_validation_messages.dni">
                            <div class="error-message" *ngIf="nominasForm.get('dni').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-md-6">
                <label style="font-size: smaller;" *ngIf="edicion">Seguridad Social*</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="number" id="totalSeguridadSocial" [ngClass]="{ 'is-invalid': submitted && f.totalSeguridadSocial.errors }" class="form-control" placeholder="Seguridad Social*"
                        formControlName="totalSeguridadSocial" value={{nominas.totalSeguridadSocial}}>
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-seguridad-social"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.totalSeguridadSocial.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of nominas_validation_messages.totalSeguridadSocial">
                            <div class="error-message" *ngIf="nominasForm.get('totalSeguridadSocial').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-md-6">
                <label style="font-size: smaller;" *ngIf="edicion">Embargo*</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="number" id="embargo" [ngClass]="{ 'is-invalid': submitted && f.embargo.errors }" class="form-control" placeholder="Embargo*"
                        formControlName="embargo" value={{nominas.embargo}} >
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-embargo"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.embargo.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of nominas_validation_messages.embargo">
                            <div class="error-message" *ngIf="nominasForm.get('embargo').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-md-6">
                <label style="font-size: smaller;" *ngIf="edicion">IRPF*</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="number" id="irpf" [ngClass]="{ 'is-invalid': submitted && f.irpf.errors }" class="form-control" placeholder="IRPF*"
                        formControlName="irpf" value={{nominas.irpf}} >
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-irpf"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.irpf.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of nominas_validation_messages.irpf">
                            <div class="error-message" *ngIf="nominasForm.get('irpf').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-md-6">
                <label style="font-size: smaller;" *ngIf="edicion">Sueldo*</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="number" id="totalBruto" [ngClass]="{ 'is-invalid': submitted && f.totalBruto.errors }" class="form-control" placeholder="Sueldo*"
                        formControlName="totalBruto" value={{nominas.totalBruto}} >
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-total-bruto"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.totalBruto.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of nominas_validation_messages.totalBruto">
                            <div class="error-message" *ngIf="nominasForm.get('totalBruto').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
            <div class="col-md-6">
                <label style="font-size: smaller;" *ngIf="edicion">Total Líquido</label>
                <div class="form-group position-relative has-icon-left">
                    <input type="number" id="total" [ngClass]="{ 'is-invalid': submitted && f.total.errors }" class="form-control" placeholder="Total Líquido"
                        formControlName="total" value={{nominas.total}} >
                    <div class="form-control-position">
                        <i class="pavyurba-input pavyurba-icon-total"></i>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && f.total.errors"
                        class="invalid-feedback">
                        <div *ngFor="let validation of nominas_validation_messages.total">
                            <div class="error-message" *ngIf="nominasForm.get('total').hasError(validation.type) ">
                                {{validation.message}}
                            </div>
                        </div>
                    </small>
                </div> 
            </div>
        </div>
    </div>
    <div class="modal-footer">   
        <button type="button" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize" (click)="closeModal.emit(true)">
            <i class="pavyurba-icon pavyurba-icon-cancel" ></i>&nbsp; Cancelar
        </button>
        <button type="submit" class="btn btn-pavyurba delete-all btn-filters-grid text-capitalize">
            <i class="pavyurba-icon pavyurba-icon-done-o"></i>&nbsp; Aceptar
        </button>
    </div>
</form>

